<div class="notesPlate">
    <div class="wrapperNotes">
        <div class="lines"></div>
        <p class="platesNotesTrigger">On the plate</p>
           <p class="foodNotesTrigger">Food pairing</p>
    </div>
</div>
<div class="controlsWine">
   

<svg width="15px" height="56px" viewBox="0 0 15 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="slider-home" transform="translate(-1377.000000, -394.000000)" fill="#070707" fill-rule="nonzero">
            <g id="noun_838373_cc" transform="translate(1334.000000, 372.000000)">
                <g id="Group" transform="translate(43.000000, 22.000000)">
                    <g id="Shape">
                        <path d="M14.943609,24.9424 C14.8533835,22.1648 13.1672932,19.6504 10.6409774,18.4856 L10.6409774,7.4592 C10.6409774,7.084 10.1842105,6.8992 9.7556391,6.7872 L9.7556391,0.7952 C9.7556391,0.0392 7.87781955,-1.0658141e-14 7.5,-1.0658141e-14 C7.12218045,-1.0658141e-14 5.2443609,0.0392 5.2443609,0.7952 L5.2443609,6.7872 C4.81578947,6.8992 4.35902256,7.0896 4.35902256,7.4592 L4.35902256,18.4856 C1.82706767,19.6504 0.146616541,22.1704 0.0563909774,24.9368 C0.0507518797,25.0208 0.0507518797,25.1104 0.0507518797,25.1944 L0.0507518797,53.1496 C0.0507518797,54.7736 3.2537594,55.9944 7.5,55.9944 C11.1654135,55.9944 14.9492481,54.9304 14.9492481,53.1496 L14.9492481,25.2 C14.9492481,25.116 14.943609,25.0264 14.943609,24.9424 Z M6,1.4168 C6.0112782,1.4168 6.01691729,1.4224 6.02255639,1.4224 C6.09586466,1.4392 6.17481203,1.4616 6.2537594,1.4728 C6.27067669,1.4784 6.28759398,1.4784 6.30451128,1.484 C6.36654135,1.4952 6.42857143,1.5064 6.4906015,1.512 C6.51315789,1.5176 6.53571429,1.5176 6.55263158,1.5232 C6.61466165,1.5288 6.67669173,1.54 6.7387218,1.5456 C6.7556391,1.5456 6.76691729,1.5512 6.78383459,1.5512 C6.85714286,1.5568 6.93045113,1.5624 6.9981203,1.568 C7.0093985,1.568 7.01503759,1.568 7.02067669,1.568 C7.07706767,1.5736 7.13345865,1.5736 7.18421053,1.5792 C7.20112782,1.5792 7.21804511,1.5792 7.23496241,1.5792 C7.27443609,1.5792 7.31390977,1.5792 7.34774436,1.5848 C7.35902256,1.5848 7.37030075,1.5848 7.38721805,1.5848 C7.42669173,1.5848 7.46616541,1.5848 7.4943609,1.5848 C7.52255639,1.5848 7.55639098,1.5848 7.60150376,1.5848 C7.61278195,1.5848 7.62406015,1.5848 7.64097744,1.5848 C7.67481203,1.5848 7.71428571,1.5848 7.7537594,1.5792 C7.77067669,1.5792 7.78759398,1.5792 7.80451128,1.5792 C7.85526316,1.5792 7.91165414,1.5736 7.96804511,1.568 C7.97932331,1.568 7.98496241,1.568 7.9906015,1.568 C8.05827068,1.5624 8.13157895,1.5568 8.20488722,1.5512 C8.22180451,1.5512 8.23308271,1.5456 8.25,1.5456 C8.31203008,1.54 8.37406015,1.5344 8.43609023,1.5232 C8.45864662,1.5176 8.48120301,1.5176 8.4981203,1.512 C8.56015038,1.5008 8.62218045,1.4952 8.68421053,1.484 C8.70112782,1.4784 8.71804511,1.4784 8.73496241,1.4728 C8.81390977,1.456 8.88721805,1.4392 8.96616541,1.4224 C8.97744361,1.4224 8.98308271,1.4168 8.9887218,1.4168 C9.05075188,1.4 9.11278195,1.3776 9.17481203,1.3608 C9.18609023,1.3552 9.19172932,1.3552 9.20300752,1.3496 L9.20300752,7 L9.20300752,7.4592 L9.20300752,7.6832 C9.15789474,7.6888 9.11278195,7.7 9.06203008,7.7056 C9.02255639,7.7112 8.9887218,7.7168 8.94924812,7.7224 C8.81954887,7.7392 8.68984962,7.756 8.55451128,7.7672 C8.54323308,7.7672 8.53195489,7.7672 8.52067669,7.7728 C7.87218045,7.8288 7.12781955,7.8288 6.47932331,7.7728 C6.46804511,7.7728 6.46240602,7.7728 6.45112782,7.7728 C6.31015038,7.7616 6.17481203,7.7448 6.04511278,7.728 C6.0112782,7.7224 5.97180451,7.7168 5.93796992,7.7112 C5.88721805,7.7056 5.84210526,7.6944 5.79135338,7.6888 L5.79135338,7.4648 L5.79135338,7 L5.79135338,1.3496 C5.80263158,1.3552 5.80827068,1.3552 5.81954887,1.3608 C5.87593985,1.3832 5.93796992,1.4 6,1.4168 Z M9.12406015,0.7896 C9.09586466,0.8008 9.06203008,0.8176 9.02255639,0.8344 C9.01691729,0.8344 9.0112782,0.84 9.0056391,0.84 C8.96616541,0.8512 8.92669173,0.868 8.87593985,0.8792 C8.85902256,0.8848 8.83646617,0.8904 8.81954887,0.896 C8.78007519,0.9072 8.7406015,0.9184 8.69548872,0.924 C8.67293233,0.9296 8.64473684,0.9352 8.61654135,0.9408 C8.57142857,0.952 8.52631579,0.9576 8.47556391,0.9688 C8.44736842,0.9744 8.41353383,0.98 8.38533835,0.9856 C8.33458647,0.9912 8.27819549,1.0024 8.22180451,1.008 C8.18796992,1.0136 8.15413534,1.0136 8.12030075,1.0192 C8.05827068,1.0248 7.9906015,1.0304 7.92293233,1.036 C7.88909774,1.036 7.86090226,1.0416 7.82142857,1.0416 C7.71428571,1.0472 7.60714286,1.0472 7.4887218,1.0472 C7.37030075,1.0472 7.26315789,1.0416 7.15601504,1.0416 C7.12218045,1.0416 7.08834586,1.036 7.05451128,1.036 C6.98684211,1.0304 6.91917293,1.0248 6.85714286,1.0192 C6.82330827,1.0136 6.78947368,1.0136 6.7556391,1.008 C6.69924812,1.0024 6.64285714,0.9968 6.59210526,0.9856 C6.55827068,0.98 6.53007519,0.9744 6.5018797,0.9688 C6.45112782,0.9632 6.40601504,0.952 6.36090226,0.9408 C6.33270677,0.9352 6.31015038,0.9296 6.28195489,0.924 C6.23684211,0.9128 6.19736842,0.9016 6.15789474,0.896 C6.14097744,0.8904 6.11842105,0.8848 6.10150376,0.8792 C6.05639098,0.868 6.0112782,0.8512 5.97180451,0.84 C5.96616541,0.84 5.96052632,0.8344 5.95488722,0.8344 C5.91541353,0.8176 5.88157895,0.8064 5.85338346,0.7896 C6.07330827,0.6832 6.63721805,0.5432 7.48308271,0.5432 C8.32894737,0.5432 8.90977444,0.6832 9.12406015,0.7896 Z M14.3966165,53.1552 C14.3966165,54.2416 11.5601504,55.4512 7.4943609,55.4512 C3.42857143,55.4512 0.592105263,54.2416 0.592105263,53.1552 L0.592105263,25.2 C0.592105263,25.1272 0.592105263,25.0488 0.597744361,24.9648 C0.682330827,22.3384 2.31203008,19.964 4.73684211,18.9112 C4.83834586,18.8664 4.90037594,18.7712 4.90037594,18.6592 L4.90037594,8.0192 C4.90037594,8.0192 4.90037594,8.0192 4.90601504,8.0192 C4.98496241,8.0472 5.06954887,8.0752 5.15413534,8.0976 C5.17669173,8.1032 5.19360902,8.1088 5.21616541,8.1144 C5.30075188,8.1368 5.37969925,8.1536 5.45864662,8.1704 C5.45864662,8.1704 5.45864662,8.1704 5.45864662,8.1704 C6.01691729,8.288 6.7387218,8.3496 7.4943609,8.3496 C8.22744361,8.3496 8.92669173,8.288 9.47368421,8.176 C9.4906015,8.1704 9.51315789,8.1704 9.53007519,8.1648 C9.60902256,8.148 9.68796992,8.1312 9.77255639,8.1088 C9.79511278,8.1032 9.81203008,8.0976 9.82894737,8.092 C9.91353383,8.0696 9.9981203,8.0416 10.0827068,8.0136 C10.0827068,8.0136 10.0827068,8.0136 10.0883459,8.0136 L10.0883459,18.6536 C10.0883459,18.76 10.156015,18.8608 10.2518797,18.9056 C12.6823308,19.9528 14.306391,22.3272 14.3909774,24.9592 C14.3909774,24.9592 14.3909774,24.9648 14.3909774,24.9648 C14.3966165,25.0376 14.3966165,25.1216 14.3966165,25.1944 L14.3966165,53.1552 Z"></path>
                        <path d="M13.3308271,30.0552 C13.2406015,30.0552 13.1616541,30.1 13.1109023,30.1672 C13.037594,30.1952 12.8007519,30.2624 12.1466165,30.3296 C11.0357143,30.4416 9.29887218,30.5032 7.5,30.5032 C5.69548872,30.5032 3.95300752,30.436 2.84210526,30.3296 C2.19360902,30.2624 1.95676692,30.1952 1.88345865,30.1672 C1.83270677,30.1 1.7537594,30.0552 1.66353383,30.0552 C1.5112782,30.0552 1.38721805,30.1784 1.38721805,30.3296 L1.38721805,46.5864 C1.38721805,47.7904 5.38533835,48.104 7.5,48.104 C9.61466165,48.104 13.6071429,47.7848 13.6071429,46.5864 L13.6071429,30.324 C13.6015038,30.1728 13.4774436,30.0552 13.3308271,30.0552 Z M13.0545113,46.5808 C13.0545113,46.872 11.1654135,47.5552 7.4943609,47.5552 C3.82330827,47.5552 1.92857143,46.872 1.92857143,46.5808 L1.92857143,30.744 C2.13721805,30.7888 2.41353383,30.828 2.78007519,30.8672 C3.90789474,30.9792 5.66729323,31.0464 7.4943609,31.0464 C9.31015038,31.0464 11.0695489,30.9792 12.2030075,30.8672 C12.5695489,30.828 12.8458647,30.7888 13.0545113,30.744 L13.0545113,46.5808 Z"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
 
</div>

<div class="controls">
        <div class="scrollDown">

<svg width="39px" height="39px" viewBox="0 0 39 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Contact-us" transform="translate(-28.000000, -416.000000)">
            <g id="Group-2" transform="translate(29.000000, 417.000000)">
                <path d="M10.2242744,18.3157895 L26.237467,18.3157895 L24.7124011,20.4631579 C24.6226913,20.5894737 24.6226913,20.7789474 24.7124011,20.9052632 C24.7572559,20.9684211 24.8245383,21 24.8693931,21 C24.914248,21 24.9815303,20.9684211 25.0263852,20.9052632 L26.9327177,18.2210526 C27.0224274,18.0947368 27.0224274,17.9052632 26.9327177,17.7789474 L25.0263852,15.0947368 C24.9366755,14.9684211 24.8021108,14.9684211 24.7124011,15.0947368 C24.6226913,15.2210526 24.6226913,15.4105263 24.7124011,15.5368421 L26.237467,17.6842105 L10.2242744,17.6842105 C10.0897098,17.6842105 10,17.8105263 10,18 C10,18.1894737 10.0897098,18.3157895 10.2242744,18.3157895 Z" id="Shape" fill="#4A4A4A" fill-rule="nonzero" transform="translate(18.500000, 18.000000) rotate(90.000000) translate(-18.500000, -18.000000) "></path>
                <circle id="Oval" stroke="#480102" cx="18.5" cy="18.5" r="18.5"></circle>
            </g>
        </g>
    </g>
</svg>
<p>Scroll Down</p>
    </div>
    <div class="closeRounded">


       <div class="closes closeWine">
  <span></span><span></span> 
     </div>
</div>
  <div class="controlsInner">


    <div class="arrow">
      <div id="prev">
        <svg width="26px" height="9px" viewBox="0 0 26 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="slider-home" transform="translate(-17.000000, -413.000000)" fill="#000000" fill-rule="nonzero">
            <g id="noun_941551_cc" transform="translate(17.000000, 413.000000)">
                <path d="M25.6569921,4.97368421 L1.16622691,4.97368421 L3.49868074,8.19473684 C3.63588391,8.38421053 3.63588391,8.66842105 3.49868074,8.85789474 C3.43007916,8.95263158 3.32717678,9 3.2585752,9 C3.18997361,9 3.08707124,8.95263158 3.01846966,8.85789474 L0.102902375,4.83157895 C-0.0343007916,4.64210526 -0.0343007916,4.35789474 0.102902375,4.16842105 L3.01846966,0.142105263 C3.15567282,-0.0473684211 3.36147757,-0.0473684211 3.49868074,0.142105263 C3.63588391,0.331578947 3.63588391,0.615789474 3.49868074,0.805263158 L1.16622691,4.02631579 L25.6569921,4.02631579 C25.8627968,4.02631579 26,4.21578947 26,4.5 C26,4.78421053 25.8627968,4.97368421 25.6569921,4.97368421 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>
      </div>
      <div id="next">

        <svg width="26px" height="9px" viewBox="0 0 26 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="slider-home" transform="translate(-58.000000, -413.000000)" fill="#000000" fill-rule="nonzero">
            <g id="noun_941551_cc" transform="translate(17.000000, 413.000000)">
                <path d="M41.3430079,4.97368421 L65.8337731,4.97368421 L63.5013193,8.19473684 C63.3641161,8.38421053 63.3641161,8.66842105 63.5013193,8.85789474 C63.5699208,8.95263158 63.6728232,9 63.7414248,9 C63.8100264,9 63.9129288,8.95263158 63.9815303,8.85789474 L66.8970976,4.83157895 C67.0343008,4.64210526 67.0343008,4.35789474 66.8970976,4.16842105 L63.9815303,0.142105263 C63.8443272,-0.0473684211 63.6385224,-0.0473684211 63.5013193,0.142105263 C63.3641161,0.331578947 63.3641161,0.615789474 63.5013193,0.805263158 L65.8337731,4.02631579 L41.3430079,4.02631579 C41.1372032,4.02631579 41,4.21578947 41,4.5 C41,4.78421053 41.1372032,4.97368421 41.3430079,4.97368421 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>
      </div>
    </div>
    <div class="counter">
      <span class="activeNumber">
          01
      </span>
      <span class="lines"></span>
      <span class="totalNumber">
          07
      </span>
    </div>
  </div>
</div>
<div class="wrapperContainer">

  <div id="containerSlide" >
      <div class="containerSlide__absolute">
                    {{> ./../menu.html}}
              <div class="menuInside__vertical">
 <div class="menuFilling">


<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="display: none;">
  <symbol id="wave">
    <path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z"></path>
    <path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z"></path>
    <path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z"></path>
    <path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z"></path>
  </symbol>
</svg>
  <div class="water" id="water">
    <svg class="water__wave water__wave_back" viewBox="0 0 560 20">
      <use xlink:href="#wave"></use>
    </svg>
    <svg class="water__wave water__wave_front" viewBox="0 0 560 20">
      <use xlink:href="#wave"></use>
    </svg>
    <div class="water__inner">
      <div class="bubble bubble_1"></div>
      <div class="bubble bubble_2"></div>
      <div class="bubble bubble_3"></div>
    </div>
  </div>
 </div>
 </div>
      <div class="linesAnimation linesAnimation__one ">

      </div>
       <div class="linesAnimation linesAnimation__two">
          
      </div>
           <div class="fixedImg fixedImg__vermentino">
               <div class="fixedCircle fixedCircle_js ">
                   <div class="fixedCicler__right"></div>
                      <div class="fixedCicler__left fixedCicler__left__js"></div>
               </div>
   <img src="img/vermentino.png" alt="" >
   <div class="wine_specs">
       <div class="wine_year--inner">
           <span class="lines"></span>
           <span class="circle">
               <div class="circleIneer"></div>
               <span class="strong">Year</span>
               <span>2016</span>
           </span>
       </div>
   </div>
    <div class="wine_specs wine_specs__terreno">
       <div class="wine_year--inner">
           <span class="lines"></span>
           <span class="circle">
                          <div class="circleInner" style="background:url('img/terreno.jpg')"></div>

                <span class="strong">Terreno</span>
                <span>Argilla</span>
           </span>
       </div>
   </div>
   <div class="wine_specs wine_specs__produ">
       <div class="wine_year--inner">
           <span class="lines"></span>
           <span class="circle">
               <div class="circleInner" style="background:url('img/sangiovese.jpg')"></div>

                <span class="strong">Vigneto</span>
                 <span>Vermentino</span>
           </span>
       </div>
   </div>
    </div>
<div class="scrollaBle" data-scrollbar>
    
               {{> ./../vermentino/pdpHero.html}}
                    {{> ./../vermentino/pdpSectionTwo.html}}
                                  {{> ./../vermentino/pdpSectionThree.html}}
                                    {{> ./../vermentino/pdpPinned.html}}
                                             {{> ./../vermentino/pdpInformation.html}}
     
   

            </div>

            </div>
    
<div class="morelline_Svg">


<svg width="1426px" height="149px" viewBox="0 0 1426 149" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" opacity="0.728013393" fill-rule="evenodd">
        <g id="pdp" transform="translate(-1.000000, -425.000000)" fill="#F0EEDE">
            <path d="M147.357836,433.659907 C147.357836,434.538938 147.138082,434.978447 146.698567,434.978447 C141.424384,434.978447 136.370035,437.322493 131.535368,442.010655 C126.7007,446.698817 122.818374,452.998441 119.888272,460.909715 L79.2333179,569.469431 C79.0868128,570.055452 78.281047,570.348457 76.8159963,570.348457 C75.3509456,570.348457 74.5451798,570.055452 74.3986747,569.469431 L18.3607644,450.581159 C15.7236731,445.306976 13.0866213,441.388024 10.44953,438.824185 C7.81243866,436.260347 4.88238114,434.978447 1.65926953,434.978447 C1.21975431,434.978447 1,434.538938 1,433.659907 C1,432.780877 1.21975431,432.341368 1.65926953,432.341368 C3.85684563,432.341368 5.39512583,432.41462 6.27415626,432.561125 C9.20425773,432.854135 13.0133325,433.000638 17.7014948,433.000638 C30.3009311,433.000638 40.9956411,432.854135 49.7859454,432.561125 C52.1300266,432.41462 55.0600841,432.341368 58.5762059,432.341368 C59.0157211,432.341368 59.2354754,432.780877 59.2354754,433.659907 C59.2354754,434.538938 59.0157211,434.978447 58.5762059,434.978447 C54.1810537,434.978447 50.7748618,435.89409 48.3575281,437.725403 C45.9401944,439.556716 44.7315457,442.157142 44.7315457,445.526759 C44.7315457,448.017345 45.5373115,451.020654 47.1488673,454.536776 L85.1667437,535.626929 L113.73509,460.250445 C115.200141,456.148303 115.932655,452.632234 115.932655,449.702133 C115.932655,445.160476 114.577504,441.571155 111.86716,438.934064 C109.156816,436.296972 105.237864,434.978447 100.110186,434.978447 C99.6706712,434.978447 99.4509169,434.538938 99.4509169,433.659907 C99.4509169,432.780877 99.6706712,432.341368 100.110186,432.341368 L110.878256,432.561125 C117.031469,432.854135 122.525326,433.000638 127.359994,433.000638 C130.14359,433.000638 133.586408,432.854135 137.68855,432.561125 L146.698567,432.341368 C147.138082,432.341368 147.357836,432.780877 147.357836,433.659907 Z M255.47804,534.30839 C255.917555,534.30839 256.320438,534.418267 256.686701,534.638024 C257.052963,534.857782 257.236092,535.04091 257.236092,535.187416 C255.771041,546.614811 255.038527,557.016515 255.038527,566.39284 C255.038527,567.564881 254.818772,568.407272 254.379257,568.92004 C253.939742,569.432808 253.060725,569.689188 251.742179,569.689188 L154.609801,569.689188 C154.170286,569.689188 153.950532,569.249679 153.950532,568.370649 C153.950532,567.491618 154.170286,567.05211 154.609801,567.05211 C159.297964,567.05211 162.704155,566.685852 164.828479,565.953327 C166.952803,565.220802 168.381206,563.792399 169.113731,561.668075 C169.846256,559.543752 170.212513,556.284063 170.212513,551.88891 L170.212513,450.141646 C170.212513,445.746494 169.846256,442.52343 169.113731,440.472359 C168.381206,438.421288 166.916177,436.992885 164.718601,436.187107 C162.521025,435.381329 159.151458,434.978447 154.609801,434.978447 C154.170286,434.978447 153.950532,434.538938 153.950532,433.659907 C153.950532,432.780877 154.170286,432.341368 154.609801,432.341368 L247.786562,432.341368 C249.251613,432.341368 249.984127,433.000631 249.984127,434.319177 L250.42364,463.546793 C250.42364,463.839803 250.020757,464.059557 249.214979,464.206063 C248.409201,464.352568 247.933067,464.206065 247.786562,463.766549 C245.442481,455.269255 241.486903,448.969632 235.91971,444.86749 C230.352517,440.765347 223.027374,438.714307 213.944059,438.714307 L207.351364,438.714307 C202.956212,438.714307 199.733148,439.666576 197.682077,441.571142 C195.631006,443.475708 194.605486,446.405765 194.605486,450.361402 L194.605486,495.191731 L212.845277,495.191731 C221.342571,495.191731 227.861949,493.726702 232.403606,490.7966 C236.945263,487.866499 239.216058,483.764418 239.216058,478.490236 C239.216058,478.050721 239.618941,477.830966 240.424719,477.830966 C241.230497,477.830966 241.63338,478.050721 241.63338,478.490236 L241.413623,498.268322 L241.63338,508.816634 C241.92639,513.797807 242.072893,517.753384 242.072893,520.683486 C242.072893,520.976496 241.633384,521.122999 240.754354,521.122999 C239.875323,521.122999 239.435814,520.976496 239.435814,520.683486 C239.435814,514.676778 237.128394,509.95206 232.513484,506.509191 C227.898575,503.066322 221.269319,501.344913 212.62552,501.344913 L194.605486,501.344913 L194.605486,551.009884 C194.605486,555.258531 195.411252,558.408343 197.022808,560.459414 C198.634364,562.510485 201.198164,563.536005 204.714286,563.536005 L211.966251,563.536005 C223.393646,563.536005 232.550076,561.191959 239.435814,556.503797 C246.321553,551.815635 251.375902,544.563742 254.599014,534.747903 C254.599014,534.454892 254.892019,534.30839 255.47804,534.30839 Z M422.932501,568.370649 C422.932501,569.249679 422.785998,569.689188 422.492988,569.689188 L383.376329,569.689188 C380.153218,569.689188 374.1466,563.865698 365.356295,552.218545 C356.565991,540.571392 345.944532,524.272947 333.491601,503.322721 C332.319561,503.469227 330.634778,503.542478 328.437201,503.542478 C322.723504,503.542478 318.694674,503.469227 316.350593,503.322721 L316.350593,551.88891 C316.350593,556.430568 316.716851,559.726882 317.449376,561.777953 C318.181901,563.829024 319.610304,565.220802 321.734628,565.953327 C323.858951,566.685852 327.265143,567.05211 331.953306,567.05211 C332.246316,567.05211 332.392819,567.491618 332.392819,568.370649 C332.392819,569.249679 332.246316,569.689188 331.953306,569.689188 C327.118638,569.689188 323.309563,569.615936 320.525967,569.469431 L303.824472,569.249675 L287.782247,569.469431 C284.852145,569.615936 280.896568,569.689188 275.915395,569.689188 C275.47588,569.689188 275.256126,569.249679 275.256126,568.370649 C275.256126,567.491618 275.47588,567.05211 275.915395,567.05211 C280.603558,567.05211 284.009749,566.685852 286.134073,565.953327 C288.258397,565.220802 289.723425,563.792399 290.529203,561.668075 C291.334981,559.543752 291.737864,556.284063 291.737864,551.88891 L291.737864,450.141646 C291.737864,445.746494 291.371607,442.52343 290.639082,440.472359 C289.906556,438.421288 288.441527,436.992885 286.243951,436.187107 C284.046375,435.381329 280.676809,434.978447 276.135152,434.978447 C275.842142,434.978447 275.695639,434.538938 275.695639,433.659907 C275.695639,432.780877 275.842142,432.341368 276.135152,432.341368 L287.782247,432.561125 C294.52148,432.854135 299.868835,433.000638 303.824472,433.000638 C308.805645,433.000638 314.006497,432.780884 319.427184,432.341368 C321.33175,432.194863 323.712422,432.04836 326.569271,431.901855 C329.42612,431.75535 332.612558,431.682099 336.128679,431.682099 C349.460641,431.682099 359.789094,434.136022 367.114347,439.043942 C374.439601,443.951862 378.102173,450.800871 378.102173,459.591176 C378.102173,467.648955 375.90463,474.937473 371.509478,481.456949 C367.114325,487.976424 361.25421,493.213902 353.928957,497.169539 C365.649363,514.750148 375.465055,528.521418 383.376329,538.483763 C391.287603,548.446108 398.319741,555.698001 404.472954,560.239658 C410.626167,564.781315 416.632785,567.05211 422.492988,567.05211 C422.785998,567.05211 422.932501,567.491618 422.932501,568.370649 Z M329.096471,498.048565 C337.593765,498.048565 343.71026,495.667893 347.44614,490.906479 C351.182019,486.145064 353.049931,478.490288 353.049931,467.941923 C353.049931,455.928507 351.291896,447.651095 347.775774,443.109437 C344.259653,438.56778 339.205303,436.296986 332.612575,436.296986 C326.752372,436.296986 322.57704,437.395757 320.086454,439.593333 C317.595868,441.790909 316.350593,445.453481 316.350593,450.581159 L316.350593,497.169539 C319.866715,497.755559 324.115298,498.048565 329.096471,498.048565 Z M603.79211,568.370649 C603.79211,569.249679 603.645607,569.689188 603.352597,569.689188 C598.371424,569.689188 594.415847,569.615936 591.485745,569.469431 L575.223763,569.249675 L558.742025,569.469431 C555.958429,569.615936 552.149354,569.689188 547.314686,569.689188 C546.875171,569.689188 546.655417,569.249679 546.655417,568.370649 C546.655417,567.491618 546.875171,567.05211 547.314686,567.05211 C553.467899,567.05211 557.643231,566.319595 559.840808,564.854545 C562.038384,563.389494 563.137155,560.312933 563.137155,555.624771 L562.917399,551.88891 L558.302512,462.008497 L513.032671,568.150892 C512.739661,568.736913 512.153649,569.029918 511.274619,569.029918 C510.395588,569.029918 509.809577,568.736913 509.516566,568.150892 L453.918169,462.44801 L452.160117,541.780111 C452.013612,549.691385 453.588518,555.881131 456.884882,560.349536 C460.181246,564.817941 464.832713,567.05211 470.839421,567.05211 C471.278936,567.05211 471.49869,567.491618 471.49869,568.370649 C471.49869,569.249679 471.278936,569.689188 470.839421,569.689188 C466.883784,569.689188 463.807223,569.615936 461.609647,569.469431 L449.523039,569.249675 L435.678379,569.469431 C433.334298,569.615936 430.184486,569.689188 426.228849,569.689188 C425.789334,569.689188 425.569579,569.249679 425.569579,568.370649 C425.569579,567.491618 425.789334,567.05211 426.228849,567.05211 C432.235557,567.05211 436.9969,564.781315 440.513022,560.239658 C444.029144,555.698001 445.86043,549.54488 446.006935,541.780111 L447.984743,450.800915 L447.764987,450.581159 C444.834885,445.160471 441.794951,441.204893 438.645092,438.714307 C435.495233,436.223721 431.869286,434.978447 427.767144,434.978447 C427.327629,434.978447 427.107875,434.538938 427.107875,433.659907 C427.107875,432.780877 427.327629,432.341368 427.767144,432.341368 L438.0957,432.561125 C440.146771,432.70763 442.783823,432.780881 446.006935,432.780881 L457.65403,432.561125 C458.972576,432.41462 460.657359,432.341368 462.70843,432.341368 C464.612996,432.341368 466.078024,433.000631 467.10356,434.319177 C468.129095,435.637723 470.033633,438.787534 472.817229,443.768707 L520.724149,533.64912 L562.477886,437.835281 C563.356916,435.78421 564.272559,434.355807 565.224842,433.550029 C566.177125,432.744251 567.459025,432.341368 569.070581,432.341368 C570.389127,432.341368 571.890781,432.41462 573.575589,432.561125 C575.260398,432.70763 577.201561,432.780881 579.399137,432.780881 L592.364771,432.561125 C594.415842,432.41462 597.3459,432.341368 601.155032,432.341368 C601.594547,432.341368 601.814301,432.780877 601.814301,433.659907 C601.814301,434.538938 601.594547,434.978447 601.155032,434.978447 C594.269293,434.978447 589.288195,436.370224 586.211589,439.15382 C583.134982,441.937417 581.743205,446.259251 582.036215,452.119454 L587.310371,551.88891 C587.603382,556.430568 588.152767,559.726882 588.958545,561.777953 C589.764323,563.829024 591.229352,565.220802 593.353675,565.953327 C595.477999,566.685852 598.810939,567.05211 603.352597,567.05211 C603.645607,567.05211 603.79211,567.491618 603.79211,568.370649 Z M718.505008,534.30839 C718.944524,534.30839 719.347407,534.418267 719.713669,534.638024 C720.079932,534.857782 720.263061,535.04091 720.263061,535.187416 C718.79801,546.614811 718.065495,557.016515 718.065495,566.39284 C718.065495,567.564881 717.845741,568.407272 717.406226,568.92004 C716.966711,569.432808 716.087693,569.689188 714.769148,569.689188 L617.63677,569.689188 C617.197255,569.689188 616.9775,569.249679 616.9775,568.370649 C616.9775,567.491618 617.197255,567.05211 617.63677,567.05211 C622.324932,567.05211 625.731124,566.685852 627.855448,565.953327 C629.979771,565.220802 631.408174,563.792399 632.1407,561.668075 C632.873225,559.543752 633.239482,556.284063 633.239482,551.88891 L633.239482,450.141646 C633.239482,445.746494 632.873225,442.52343 632.1407,440.472359 C631.408174,438.421288 629.943146,436.992885 627.745569,436.187107 C625.547993,435.381329 622.178427,434.978447 617.63677,434.978447 C617.197255,434.978447 616.9775,434.538938 616.9775,433.659907 C616.9775,432.780877 617.197255,432.341368 617.63677,432.341368 L710.813531,432.341368 C712.278581,432.341368 713.011096,433.000631 713.011096,434.319177 L713.450609,463.546793 C713.450609,463.839803 713.047726,464.059557 712.241948,464.206063 C711.43617,464.352568 710.960036,464.206065 710.813531,463.766549 C708.469449,455.269255 704.513872,448.969632 698.946679,444.86749 C693.379486,440.765347 686.054342,438.714307 676.971028,438.714307 L670.378333,438.714307 C665.98318,438.714307 662.760117,439.666576 660.709046,441.571142 C658.657975,443.475708 657.632455,446.405765 657.632455,450.361402 L657.632455,495.191731 L675.872245,495.191731 C684.36954,495.191731 690.888918,493.726702 695.430575,490.7966 C699.972232,487.866499 702.243027,483.764418 702.243027,478.490236 C702.243027,478.050721 702.64591,477.830966 703.451687,477.830966 C704.257465,477.830966 704.660348,478.050721 704.660348,478.490236 L704.440592,498.268322 L704.660348,508.816634 C704.953358,513.797807 705.099861,517.753384 705.099861,520.683486 C705.099861,520.976496 704.660353,521.122999 703.781322,521.122999 C702.902292,521.122999 702.462783,520.976496 702.462783,520.683486 C702.462783,514.676778 700.155363,509.95206 695.540453,506.509191 C690.925543,503.066322 684.296288,501.344913 675.652489,501.344913 L657.632455,501.344913 L657.632455,551.009884 C657.632455,555.258531 658.438221,558.408343 660.049777,560.459414 C661.661332,562.510485 664.225133,563.536005 667.741254,563.536005 L674.993219,563.536005 C686.420615,563.536005 695.577045,561.191959 702.462783,556.503797 C709.348522,551.815635 714.402871,544.563742 717.625982,534.747903 C717.625982,534.454892 717.918988,534.30839 718.505008,534.30839 Z M889.255818,433.659907 C889.255818,434.538938 889.109315,434.978447 888.816305,434.978447 C882.956102,434.978447 878.341261,437.285867 874.971644,441.900777 C871.602028,446.515686 869.917245,452.705433 869.917245,460.470202 L869.917245,572.985535 C869.917245,573.425051 869.587613,573.718056 868.92834,573.864562 C868.269067,574.011067 867.792933,573.937815 867.499923,573.644805 L764.434119,456.294828 L764.434119,541.780111 C764.434119,549.54488 766.045651,555.698001 769.268763,560.239658 C772.491874,564.781315 776.960212,567.05211 782.67391,567.05211 C782.96692,567.05211 783.113423,567.491618 783.113423,568.370649 C783.113423,569.249679 782.96692,569.689188 782.67391,569.689188 C778.571768,569.689188 775.421956,569.615936 773.22438,569.469431 L761.357528,569.249675 L747.732624,569.469431 C745.242038,569.615936 741.652718,569.689188 736.964555,569.689188 C736.52504,569.689188 736.305286,569.249679 736.305286,568.370649 C736.305286,567.491618 736.52504,567.05211 736.964555,567.05211 C743.410779,567.05211 748.501754,564.781315 752.237633,560.239658 C755.973512,555.698001 757.841424,549.54488 757.841424,541.780111 L757.841424,448.823107 C753.006757,443.548924 748.86805,439.922978 745.425181,437.945159 C741.982312,435.967341 738.429617,434.978447 734.76699,434.978447 C734.47398,434.978447 734.327477,434.538938 734.327477,433.659907 C734.327477,432.780877 734.47398,432.341368 734.76699,432.341368 L743.996764,432.561125 C745.90133,432.70763 748.684884,432.780881 752.347511,432.780881 L769.049006,432.561125 C771.100077,432.41462 773.590626,432.341368 776.520727,432.341368 C777.692768,432.341368 778.571785,432.634374 779.157806,433.220394 C779.743826,433.806415 780.769346,435.051689 782.234397,436.956255 C784.724983,440.325872 786.483017,442.596666 787.508553,443.768707 L863.544306,531.451555 L863.544306,460.470202 C863.544306,452.558928 861.932774,446.332556 858.709663,441.790898 C855.486551,437.249241 851.018213,434.978447 845.304515,434.978447 C845.011505,434.978447 844.865002,434.538938 844.865002,433.659907 C844.865002,432.780877 845.011505,432.341368 845.304515,432.341368 L854.754045,432.561125 C859.442208,432.854135 863.397785,433.000638 866.620897,433.000638 C869.550998,433.000638 873.653079,432.854135 878.927262,432.561125 L888.816305,432.341368 C889.109315,432.341368 889.255818,432.780877 889.255818,433.659907 Z M902.660965,471.458027 C902.51446,471.897543 902.074951,472.080671 901.342426,472.007419 C900.6099,471.934166 900.243643,471.677786 900.243643,471.238271 C900.829663,465.378068 901.488926,457.796544 902.221452,448.493472 C902.953977,439.1904 903.320234,432.194888 903.320234,427.506725 C903.320234,426.7742 903.723117,426.407943 904.528895,426.407943 C905.334673,426.407943 905.737556,426.7742 905.737556,427.506725 C905.737556,430.729837 909.912888,432.341368 918.263677,432.341368 C930.863113,432.780884 945.586652,433.000638 962.434736,433.000638 C971.078535,433.000638 980.234965,432.854135 989.9043,432.561125 L1004.84774,432.341368 C1010.41494,432.341368 1014.48039,431.975111 1017.04423,431.242586 C1019.60807,430.51006 1021.25622,429.045032 1021.98875,426.847456 C1022.13526,426.261435 1022.61139,425.96843 1023.41717,425.96843 C1024.22295,425.96843 1024.62583,426.261435 1024.62583,426.847456 C1024.18631,431.242608 1023.71018,438.274746 1023.19741,447.944081 C1022.68464,457.613416 1022.42826,465.378068 1022.42826,471.238271 C1022.42826,471.677786 1022.06201,471.89754 1021.32948,471.89754 C1020.59696,471.89754 1020.15745,471.677786 1020.01094,471.238271 C1017.81337,459.95738 1013.71128,451.496839 1007.70458,445.856394 C1001.69787,440.215949 994.299474,437.395768 985.509169,437.395768 C981.260522,437.395768 978.440342,438.311411 977.048544,440.142725 C975.656745,441.974038 974.960857,445.453481 974.960857,450.581159 L974.960857,551.88891 C974.960857,556.430568 975.400365,559.726882 976.279396,561.777953 C977.158426,563.829024 978.843209,565.220802 981.333796,565.953327 C983.824382,566.685852 987.77996,567.05211 993.200647,567.05211 C993.640162,567.05211 993.859917,567.491618 993.859917,568.370649 C993.859917,569.249679 993.640162,569.689188 993.200647,569.689188 C987.926465,569.689188 983.751133,569.615936 980.674526,569.469431 L962.434736,569.249675 L944.634458,569.469431 C941.557852,569.615936 937.309268,569.689188 931.888581,569.689188 C931.449065,569.689188 931.229311,569.249679 931.229311,568.370649 C931.229311,567.491618 931.449065,567.05211 931.888581,567.05211 C937.162763,567.05211 941.081715,566.685852 943.645554,565.953327 C946.209393,565.220802 947.967427,563.792399 948.91971,561.668075 C949.871993,559.543752 950.348128,556.284063 950.348128,551.88891 L950.348128,450.141646 C950.348128,445.160473 949.688865,441.790907 948.370319,440.032846 C947.051773,438.274785 944.34147,437.395768 940.239328,437.395768 C922.805224,437.395768 910.279229,448.749741 902.660965,471.458027 Z M1083.74033,561.777953 C1084.47286,563.829024 1085.90126,565.220802 1088.02558,565.953327 C1090.14991,566.685852 1093.5561,567.05211 1098.24426,567.05211 C1098.68377,567.05211 1098.90353,567.491618 1098.90353,568.370649 C1098.90353,569.249679 1098.68377,569.689188 1098.24426,569.689188 C1093.40959,569.689188 1089.60052,569.615936 1086.81692,569.469431 L1070.11543,569.249675 L1053.85344,569.469431 C1050.92334,569.615936 1046.96777,569.689188 1041.98659,569.689188 C1041.69358,569.689188 1041.54708,569.249679 1041.54708,568.370649 C1041.54708,567.491618 1041.69358,567.05211 1041.98659,567.05211 C1046.67476,567.05211 1050.11757,566.685852 1052.31515,565.953327 C1054.51272,565.220802 1056.01438,563.792399 1056.82016,561.668075 C1057.62594,559.543752 1058.02882,556.284063 1058.02882,551.88891 L1058.02882,450.141646 C1058.02882,445.746494 1057.62594,442.52343 1056.82016,440.472359 C1056.01438,438.421288 1054.51272,436.992885 1052.31515,436.187107 C1050.11757,435.381329 1046.67476,434.978447 1041.98659,434.978447 C1041.69358,434.978447 1041.54708,434.538938 1041.54708,433.659907 C1041.54708,432.780877 1041.69358,432.341368 1041.98659,432.341368 L1053.85344,432.561125 C1060.59268,432.854135 1066.01328,433.000638 1070.11543,433.000638 C1074.65708,433.000638 1080.29744,432.854135 1087.03668,432.561125 L1098.24426,432.341368 C1098.68377,432.341368 1098.90353,432.780877 1098.90353,433.659907 C1098.90353,434.538938 1098.68377,434.978447 1098.24426,434.978447 C1093.7026,434.978447 1090.33304,435.417955 1088.13546,436.296986 C1085.93788,437.176016 1084.47286,438.677671 1083.74033,440.801994 C1083.0078,442.926318 1082.64155,446.186007 1082.64155,450.581159 L1082.64155,551.88891 C1082.64155,556.430568 1083.0078,559.726882 1083.74033,561.777953 Z M1267.23702,433.659907 C1267.23702,434.538938 1267.09051,434.978447 1266.7975,434.978447 C1260.9373,434.978447 1256.32246,437.285867 1252.95284,441.900777 C1249.58323,446.515686 1247.89844,452.705433 1247.89844,460.470202 L1247.89844,572.985535 C1247.89844,573.425051 1247.56881,573.718056 1246.90954,573.864562 C1246.25027,574.011067 1245.77413,573.937815 1245.48112,573.644805 L1142.41532,456.294828 L1142.41532,541.780111 C1142.41532,549.54488 1144.02685,555.698001 1147.24996,560.239658 C1150.47307,564.781315 1154.94141,567.05211 1160.65511,567.05211 C1160.94812,567.05211 1161.09462,567.491618 1161.09462,568.370649 C1161.09462,569.249679 1160.94812,569.689188 1160.65511,569.689188 C1156.55297,569.689188 1153.40315,569.615936 1151.20558,569.469431 L1139.33873,569.249675 L1125.71382,569.469431 C1123.22324,569.615936 1119.63392,569.689188 1114.94575,569.689188 C1114.50624,569.689188 1114.28648,569.249679 1114.28648,568.370649 C1114.28648,567.491618 1114.50624,567.05211 1114.94575,567.05211 C1121.39198,567.05211 1126.48295,564.781315 1130.21883,560.239658 C1133.95471,555.698001 1135.82262,549.54488 1135.82262,541.780111 L1135.82262,448.823107 C1130.98796,443.548924 1126.84925,439.922978 1123.40638,437.945159 C1119.96351,435.967341 1116.41082,434.978447 1112.74819,434.978447 C1112.45518,434.978447 1112.30868,434.538938 1112.30868,433.659907 C1112.30868,432.780877 1112.45518,432.341368 1112.74819,432.341368 L1121.97796,432.561125 C1123.88253,432.70763 1126.66608,432.780881 1130.32871,432.780881 L1147.0302,432.561125 C1149.08128,432.41462 1151.57182,432.341368 1154.50193,432.341368 C1155.67397,432.341368 1156.55298,432.634374 1157.139,433.220394 C1157.72502,433.806415 1158.75054,435.051689 1160.2156,436.956255 C1162.70618,440.325872 1164.46422,442.596666 1165.48975,443.768707 L1241.5255,531.451555 L1241.5255,460.470202 C1241.5255,452.558928 1239.91397,446.332556 1236.69086,441.790898 C1233.46775,437.249241 1228.99941,434.978447 1223.28571,434.978447 C1222.9927,434.978447 1222.8462,434.538938 1222.8462,433.659907 C1222.8462,432.780877 1222.9927,432.341368 1223.28571,432.341368 L1232.73524,432.561125 C1237.42341,432.854135 1241.37898,433.000638 1244.6021,433.000638 C1247.5322,433.000638 1251.63428,432.854135 1256.90846,432.561125 L1266.7975,432.341368 C1267.09051,432.341368 1267.23702,432.780877 1267.23702,433.659907 Z M1313.49576,562.766858 C1302.87414,556.393887 1294.66998,547.750217 1288.88303,536.835589 C1283.09608,525.920961 1280.20265,514.017603 1280.20265,501.125156 C1280.20265,486.035134 1284.01173,473.106255 1291.62999,462.338132 C1299.24825,451.570009 1309.02732,443.475725 1320.96748,438.055038 C1332.90765,432.63435 1345.10401,429.924047 1357.55694,429.924047 C1371.47492,429.924047 1383.70791,433.183736 1394.25628,439.703212 C1404.80465,446.222687 1412.89893,454.829731 1418.53937,465.524602 C1424.17982,476.219472 1427,487.573445 1427,499.586861 C1427,512.918822 1423.48393,525.151813 1416.45169,536.286198 C1409.41944,547.420584 1400.00663,556.210756 1388.21298,562.656979 C1376.41932,569.103203 1363.63694,572.326266 1349.86546,572.326266 C1336.24049,572.326266 1324.11738,569.139828 1313.49576,562.766858 Z M1379.20296,559.690267 C1385.72243,554.928852 1390.81341,547.969965 1394.47604,538.813398 C1398.13866,529.656831 1399.96995,518.705741 1399.96995,505.9598 C1399.96995,492.481333 1397.91891,480.431471 1393.81677,469.809854 C1389.71462,459.188236 1383.78126,450.874198 1376.01649,444.86749 C1368.25172,438.860782 1359.16854,435.857473 1348.76668,435.857473 C1335.43472,435.857473 1325.17952,440.875196 1318.00077,450.910794 C1310.82202,460.946391 1307.2327,474.974041 1307.2327,492.994165 C1307.2327,507.205158 1309.39362,519.914282 1313.71552,531.12192 C1318.03742,542.329558 1323.97078,551.083105 1331.5158,557.382823 C1339.06081,563.682541 1347.5946,566.832353 1357.11743,566.832353 C1365.32171,566.832353 1372.68348,564.451681 1379.20296,559.690267 Z" id="VERMENTINO"></path>
        </g>
    </g>
</svg>
</div>

  </div>

</div>

          {{> ./../winelist/winelist.html}}


   {{> ./../winelist/winelist_btm.html}}

   <div class="footer--list--bottom footer--list--bottom__half footer--list--bottom__halfCredits">
					<p style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Developed by <span><span style="visibility:hidden;position:absolute;top:-10px;height:1px;width:1px;">one up studio</span>
		<a href="https://oneupstud.io/">	
<svg width="32px" class="oneuplogo" height="8px" viewBox="0 0 32 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="cartellina_01" transform="translate(-230.000000, -781.000000)" fill="#46B69E">
            <g id="Group-146" transform="translate(230.000000, 404.490000)">
                <g id="Group" transform="translate(0.000000, 376.000000)">
                    <path d="M1.2669,3.3897 C1.2669,3.5767 1.2949,3.7627 1.3519,3.9497 C1.4089,4.1367 1.4939,4.3027 1.6069,4.4497 C1.7199,4.5967 1.8639,4.7157 2.0369,4.8097 C2.2099,4.9037 2.4159,4.9497 2.6569,4.9497 C2.8969,4.9497 3.1029,4.9037 3.2769,4.8097 C3.4509,4.7157 3.5929,4.5967 3.7059,4.4497 C3.8199,4.3027 3.9049,4.1367 3.9619,3.9497 C4.0179,3.7627 4.0469,3.5767 4.0469,3.3897 C4.0469,3.2027 4.0179,3.0177 3.9619,2.8347 C3.9049,2.6517 3.8199,2.4867 3.7059,2.3397 C3.5929,2.1937 3.4509,2.0747 3.2769,1.9847 C3.1029,1.8947 2.8969,1.8497 2.6569,1.8497 C2.4159,1.8497 2.2099,1.8947 2.0369,1.9847 C1.8639,2.0747 1.7199,2.1937 1.6069,2.3397 C1.4939,2.4867 1.4089,2.6517 1.3519,2.8347 C1.2949,3.0177 1.2669,3.2027 1.2669,3.3897 M0.0469,3.3897 C0.0469,3.0097 0.1149,2.6647 0.2509,2.3547 C0.3879,2.0447 0.5739,1.7797 0.8069,1.5597 C1.0399,1.3397 1.3169,1.1697 1.6369,1.0497 C1.9559,0.9297 2.2969,0.8687 2.6569,0.8687 C3.0169,0.8687 3.3569,0.9297 3.6769,1.0497 C3.9959,1.1697 4.2739,1.3397 4.5069,1.5597 C4.7399,1.7797 4.9249,2.0447 5.0619,2.3547 C5.1989,2.6647 5.2669,3.0097 5.2669,3.3897 C5.2669,3.7697 5.1989,4.1167 5.0619,4.4297 C4.9249,4.7437 4.7399,5.0117 4.5069,5.2347 C4.2739,5.4577 3.9959,5.6327 3.6769,5.7597 C3.3569,5.8857 3.0169,5.9497 2.6569,5.9497 C2.2969,5.9497 1.9559,5.8857 1.6369,5.7597 C1.3169,5.6327 1.0399,5.4577 0.8069,5.2347 C0.5739,5.0117 0.3879,4.7437 0.2509,4.4297 C0.1149,4.1167 0.0469,3.7697 0.0469,3.3897" id="Fill-72"></path>
                    <path d="M6.4261,1.0098 L7.5671,1.0098 L7.5671,1.7798 L7.5861,1.7798 C7.6931,1.5398 7.8781,1.3278 8.1411,1.1448 C8.4051,0.9608 8.7161,0.8688 9.0761,0.8688 C9.3901,0.8688 9.6571,0.9248 9.8811,1.0338 C10.1051,1.1448 10.2881,1.2898 10.4311,1.4698 C10.5741,1.6498 10.6801,1.8568 10.7461,2.0898 C10.8131,2.3228 10.8461,2.5638 10.8461,2.8098 L10.8461,5.8098 L9.6471,5.8098 L9.6471,3.1498 C9.6471,3.0098 9.6361,2.8638 9.6161,2.7098 C9.5961,2.5568 9.5531,2.4178 9.4871,2.2948 C9.4191,2.1708 9.3271,2.0698 9.2111,1.9888 C9.0951,1.9088 8.9401,1.8688 8.7461,1.8688 C8.5531,1.8688 8.3861,1.9078 8.2461,1.9848 C8.1071,2.0618 7.9911,2.1588 7.9021,2.2798 C7.8121,2.3998 7.7421,2.5378 7.6971,2.6948 C7.6501,2.8518 7.6261,3.0098 7.6261,3.1698 L7.6261,5.8098 L6.4261,5.8098 L6.4261,1.0098 Z" id="Fill-73"></path>
                    <path d="M15.6263,2.9297 C15.6263,2.7767 15.6053,2.6297 15.5623,2.4897 C15.5183,2.3497 15.4493,2.2267 15.3563,2.1187 C15.2633,2.0127 15.1453,1.9277 15.0013,1.8647 C14.8583,1.8017 14.6893,1.7697 14.4963,1.7697 C14.1373,1.7697 13.8313,1.8777 13.5813,2.0947 C13.3313,2.3117 13.1933,2.5897 13.1663,2.9297 L15.6263,2.9297 Z M16.8263,3.4697 L16.8263,3.6297 C16.8263,3.6827 16.8233,3.7367 16.8163,3.7897 L13.1663,3.7897 C13.1803,3.9627 13.2253,4.1207 13.3023,4.2647 C13.3783,4.4087 13.4803,4.5317 13.6063,4.6347 C13.7333,4.7387 13.8763,4.8197 14.0363,4.8797 C14.1963,4.9397 14.3633,4.9697 14.5363,4.9697 C14.8363,4.9697 15.0903,4.9147 15.2963,4.8047 C15.5033,4.6947 15.6733,4.5427 15.8073,4.3497 L16.6063,4.9897 C16.1333,5.6297 15.4463,5.9497 14.5463,5.9497 C14.1733,5.9497 13.8303,5.8917 13.5173,5.7747 C13.2033,5.6587 12.9323,5.4927 12.7013,5.2797 C12.4723,5.0667 12.2913,4.8047 12.1613,4.4937 C12.0313,4.1847 11.9673,3.8327 11.9673,3.4397 C11.9673,3.0527 12.0313,2.7007 12.1613,2.3847 C12.2913,2.0687 12.4703,1.7977 12.6963,1.5747 C12.9233,1.3517 13.1913,1.1777 13.5013,1.0547 C13.8123,0.9317 14.1473,0.8687 14.5073,0.8687 C14.8403,0.8687 15.1473,0.9247 15.4323,1.0337 C15.7153,1.1447 15.9603,1.3077 16.1663,1.5247 C16.3733,1.7417 16.5343,2.0117 16.6513,2.3347 C16.7683,2.6587 16.8263,3.0357 16.8263,3.4697 Z" id="Fill-74"></path>
                    <path d="M17.7659,2.8994 C17.7659,2.6864 17.8439,2.5034 18.0009,2.3494 C18.1579,2.1964 18.3459,2.1194 18.5659,2.1194 C18.7799,2.1194 18.9659,2.1934 19.1259,2.3394 C19.2859,2.4864 19.3659,2.6664 19.3659,2.8794 C19.3659,3.0924 19.2869,3.2764 19.1309,3.4294 C18.9739,3.5834 18.7859,3.6594 18.5659,3.6594 C18.4589,3.6594 18.3579,3.6394 18.2609,3.5994 C18.1639,3.5594 18.0789,3.5054 18.0059,3.4394 C17.9329,3.3734 17.8739,3.2934 17.8309,3.1994 C17.7869,3.1064 17.7659,3.0054 17.7659,2.8994" id="Fill-75"></path>
                    <path d="M24.9661,5.8096 L23.8261,5.8096 L23.8261,5.0396 L23.8071,5.0396 C23.6991,5.2796 23.5151,5.4916 23.2511,5.6746 C22.9871,5.8576 22.6761,5.9496 22.3171,5.9496 C22.0031,5.9496 21.7351,5.8946 21.5111,5.7846 C21.2881,5.6746 21.1051,5.5296 20.9611,5.3496 C20.8181,5.1696 20.7131,4.9626 20.6471,4.7296 C20.5791,4.4966 20.5461,4.2556 20.5461,4.0096 L20.5461,1.0096 L21.7461,1.0096 L21.7461,3.6696 C21.7461,3.8096 21.7561,3.9556 21.7771,4.1096 C21.7961,4.2626 21.8401,4.4016 21.9061,4.5246 C21.9731,4.6486 22.0651,4.7496 22.1821,4.8296 C22.2981,4.9096 22.4531,4.9496 22.6471,4.9496 C22.8331,4.9496 22.9981,4.9116 23.1421,4.8346 C23.2841,4.7576 23.4021,4.6596 23.4911,4.5396 C23.5811,4.4196 23.6501,4.2816 23.6961,4.1246 C23.7431,3.9676 23.7671,3.8096 23.7671,3.6496 L23.7671,1.0096 L24.9661,1.0096 L24.9661,5.8096 Z" id="Fill-76"></path>
                    <path d="M30.3558,3.3897 C30.3558,3.2027 30.3278,3.0177 30.2708,2.8347 C30.2138,2.6517 30.1288,2.4867 30.0158,2.3397 C29.9028,2.1937 29.7588,2.0747 29.5858,1.9847 C29.4128,1.8947 29.2098,1.8497 28.9758,1.8497 C28.7558,1.8497 28.5588,1.8967 28.3858,1.9897 C28.2118,2.0827 28.0638,2.2027 27.9408,2.3497 C27.8178,2.4957 27.7238,2.6627 27.6608,2.8497 C27.5968,3.0357 27.5658,3.2227 27.5658,3.4097 C27.5658,3.5967 27.5968,3.7817 27.6608,3.9647 C27.7238,4.1487 27.8178,4.3137 27.9408,4.4597 C28.0638,4.6067 28.2118,4.7247 28.3858,4.8147 C28.5588,4.9047 28.7558,4.9497 28.9758,4.9497 C29.2098,4.9497 29.4128,4.9037 29.5858,4.8097 C29.7588,4.7157 29.9028,4.5967 30.0158,4.4497 C30.1288,4.3027 30.2138,4.1367 30.2708,3.9497 C30.3278,3.7627 30.3558,3.5767 30.3558,3.3897 Z M27.5558,1.0097 L27.5558,1.6797 L27.5858,1.6797 C27.6458,1.5857 27.7238,1.4917 27.8208,1.3947 C27.9178,1.2977 28.0358,1.2107 28.1758,1.1347 C28.3158,1.0577 28.4738,0.9937 28.6508,0.9447 C28.8278,0.8947 29.0258,0.8687 29.2458,0.8687 C29.5858,0.8687 29.8988,0.9347 30.1858,1.0647 C30.4718,1.1947 30.7188,1.3727 30.9258,1.5997 C31.1318,1.8267 31.2928,2.0927 31.4058,2.3997 C31.5188,2.7057 31.5758,3.0357 31.5758,3.3897 C31.5758,3.7437 31.5208,4.0747 31.4108,4.3847 C31.3008,4.6947 31.1438,4.9647 30.9408,5.1947 C30.7378,5.4247 30.4908,5.6087 30.2008,5.7437 C29.9108,5.8807 29.5828,5.9497 29.2158,5.9497 C28.8768,5.9497 28.5638,5.8797 28.2808,5.7397 C27.9978,5.5997 27.7798,5.4097 27.6268,5.1697 L27.6058,5.1697 L27.6058,8.2097 L26.4058,8.2097 L26.4058,1.0097 L27.5558,1.0097 Z" id="Fill-77"></path>
                </g>
            </g>
        </g>
    </g>
</svg></a>		
</span></p>

				</div>