 <div id="pinnedHero">
    <div class="pdp_heroText--pinned">


    <h4>Scopri di più sul Vermentino</h4>
    <p>
        “Cugino” del Vermentino Sardo e Ligure, il Vermentino di Maremma esprime profumi più complessi e ha bisogno di tempi di affinamento più lunghi.
Crescendo in terroir ricchi di gessi e metalli, esprime note minerali che si ritrovano nei terreni vulcanici di provenienza.
    </p>
       </div>
<div class="pdp_hero pdp_pinned">
  
    <div class="pdp_hero__drag">

 
    <div class="wrapper-img">
                           <img src="img/blank.png" class="lazy"  alt="" data-src="img/vermentino2.jpg" >

    </div>
     <div class="wrapper-img">
                           <img src="img/blank.png" class="lazy"  alt="" data-src="img/vermentino3.jpg"  >

    </div>
   <div class="wrapper-img">
                              <img src="img/blank.png" class="lazy"  alt="" data-src="img/vermentino4.jpg" >


    </div>
   <div class="wrapper-img">
                            <img src="img/blank.png" class="lazy"  alt="" data-src="img/vermentino5.jpg" >

    </div>
    <div class="wrapper-img">
                          <img src="img/blank.png" class="lazy"  alt="" data-src="img/vermentino6.jpg" >

         
    </div>
 
    </div>
</div>

  </div>