<div class="pdp_hero pdp_hero--center js-section">
  

 <div class="pdp_col1_2"></div>
 <div class="pdp_col1_3">


    <div class="pdp_Note pdp_Note__pair">
     
        <p>
Vino fine ed equilibrato, ha aromi di frutta matura a polpa bianca e floreali, accompagnati da note di erbe aromatiche che ricordano la macchia mediterranea. Di buona mineralità e di grande freschezza, al naso rivela caratteristici sentori agrumati, note minerali e ammandorlate.            
            </p>
    </div>
   <div class="pdp_imgOne">
       <picture class="imgAbsolute">
               <div class="layer layer__one"></div>
                    <div class="layer layer__two"></div>
                                                                         <img src="img/blank.png" class="lazy"  alt="" data-src="img/vermentino1.jpg" >

       </picture>
       <picture class="imgRelative">
               <div class="layer layer__one"></div>
                    <div class="layer layer__two"></div>
                    
                                                             <img src="img/blank.png" class="lazy"  alt="" data-src="img/vermentino6.jpg" >

       </picture>
   </div>

       </div>
</div>