<div class="pdp_hero pdp_hero__last js-section">
  

 <div class="pdp_col1_2"></div>
 <div class="pdp_col1_3 ">


    <div class="pdp_Note pdp_Note__plates">
     
        <p>
            Vino di grande versatilità, è di facile abbinamento con i piatti più diversi, che vanno dai formaggi freschi e salumi leggeri fino ai piatti di pescato, di molluschi, ai crostacei e al pesce arrosto. Perfetto anche con risotti, frittate, funghi e carni bianche.
 </p>
    </div>
   <div class="pdp_imgTwo">
       <picture class="imgAbsolute">
                <div class="layer layer__one"></div>
                    <div class="layer layer__two"></div>
            
                                         <img src="img/blank.png" class="lazy"  alt="" data-src="img/fiorentina.jpg" >

       </picture>
       <picture class="imgRelative ">
                    <div class="layer layer__one"></div>
                    <div class="layer layer__two"></div>
                                                             <img src="img/blank.png" class="lazy"  alt="" data-src="img/pair.jpg" >

         
       </picture>
   </div>

       </div>
</div>


