<div class="section" id="section1">
  <div class="one-up-s" id="slide1-1">

    <div class="wineList__item wineList__itemFull js-section">
      <div class="wineList__wrapperImg">


        <img src="img/blank.png" class="lazy" alt="" data-src="img/morellino.png" data-id="morellino">

        <div class="fixedCircle fixedCircle__noJs">
          <div class="fixedCicler__right"></div>

        </div>
        <div class="wineList__wrapperImgDescr__mobile">
              <h2>Morellino</h2>
             
          
                                        <a aria-label="vediProdotto" data-link-type="wine-transition-link" class="wine_blockDownload" href="morellino.html"  >
                                          Entra
                                          </a>

        </div>
      </div>
      <div class="wineDescription">


        <h2>Morellino</h2>
        <p>Di colore rosso rubino e di buona
trasparenza.</p>
        <div class="wine_info">
          <div class="wine_infoBlock">
            {{> ./../../img/country.svg}}
            <div class="wine_infoBlockDesc">
              <h3>Denominazione</h3>
              <p>Morellino di Scansano</p>
            </div>
          </div>

          <div class="wine_infoBlock">
            {{> ./../../img/vigna.svg}}
            <div class="wine_infoBlockDesc">
              <h3>Vitigno</h3>
              <p>95% Sangiovese, 5% Ciliegiolo</p>
            </div>
          </div>


          <div class="wine_infoBlock">
            {{> ./../../img/botte.svg}}
            <div class="wine_infoBlockDesc">
              <h3>Maturazione</h3>
              <p>4-5 mesi in tini di acciaio</p>
            </div>
          </div>


          <div class="wine_infoBlock">
            {{> ./../../img/glass.svg}}
            <div class="wine_infoBlockDesc">
              <h3>Esame organolettico</h3>
              <p>Il Morellino di Scansano 2012 ha un colore rosso rubino. Sono evidenti al naso mote di fragoline di bosco e riber. Il vino ha un gusto rotondo e armonico e lascia una lunga persistenza</p>
            </div>
          </div>
          <div class="wine_infoBlock">
          {{> ./../../img/plate.svg}}
            <div class="wine_infoBlockDesc">
              <h3>Abbinamenti gastronomici</h3>
              <p>Carni in umido come coniglio e pollo, ma ottimo anche con formaggi di media stagionatura</p>
            </div>
          </div>
        </div>
         
                          <a aria-label="morellino link" data-link-type="wine-transition-link" class="wine_blockDownload" href="morellino.html"  >

                      Entra                        </a>
      </div>
    </div>
  </div>
</div>
