<div class="section" id="section3">
  <div class="one-up-s" id="slide1-3">

    <div class="wineList__item wineList__itemFull js-section">
      <div class="wineList__wrapperImg">


        <img src="img/blank.png" class="lazy olio" alt="" data-src="img/olio-delle-bulane.png" data-id="olio">

        <div class="fixedCircle fixedCircle__noJs fixedImg__olio">
          <div class="fixedCicler__right"></div>

        </div>
 <div class="wineList__wrapperImgDescr__mobile">
              <h2>Olio delle barlume</h2>
               <a class="vediProdotto" href="olio.html">Entra</a>
        </div>
      </div>
      <div class="wineDescription">


        <h2>Olio</h2>
        <p>Da olive Frantoio e Leccino di
agricoltura biologica</p>
        <div class="wine_info">
          <div class="wine_infoBlock">
            {{> ./../../img/country.svg}}
            <div class="wine_infoBlockDesc">
              <h3>Denominazione</h3>
              <p>Olio delle Bulane</p>
            </div>
          </div>

     

     


          <div class="wine_infoBlock">
        {{> ./../../img/glass.svg}}
            <div class="wine_infoBlockDesc">
              <h3>Esame organolettico</h3>
              <p>Di color smeraldo, è fruttato ed intenso, con note vegetali di erba tagliata e
foglia di pomodoro.</p>
            </div>
          </div>
          <div class="wine_infoBlock">
            {{> ./../../img/plate.svg}}
            <div class="wine_infoBlockDesc">
              <h3>Abbinamenti gastronomici</h3>
              <p>Ideale per cialde e friselle, insalate miste, verdure sia crude che cotte,
ottimo anche con carpaccio e pesce.

</p>
            </div>
          </div>
        </div>
                               <a aria-label="olio link" data-link-type="wine-transition-link" class="wine_blockDownload" href="olio.html"  >

                              <!--<a aria-label="olio link" class="wine_blockDownload" href="olio.html" data-link-type="wine-link" >-->

                      Entra                        </a>
      </div>
    </div>
  </div>
</div>
