<div class="wrapperContainer">

  <div id="containerSlide">
    <div class="containerSlide__absolute">
      {{> ./../menu.html}}
      <div class="menuInside__vertical">
        <div class="menuFilling">


          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="display: none;">
  <symbol id="wave">
    <path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z"></path>
    <path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z"></path>
    <path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z"></path>
    <path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z"></path>
  </symbol>
</svg>
          <div class="water" id="water">
            <svg class="water__wave water__wave_back" viewBox="0 0 560 20">
      <use xlink:href="#wave"></use>
    </svg>
            <svg class="water__wave water__wave_front" viewBox="0 0 560 20">
      <use xlink:href="#wave"></use>
    </svg>
            <div class="water__inner">
              <div class="bubble bubble_1"></div>
              <div class="bubble bubble_2"></div>
              <div class="bubble bubble_3"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="linesAnimation linesAnimation__one ">

      </div>
      <div class="linesAnimation linesAnimation__two">

      </div>


   

        <div class="wineList_container">
          <div id="myContainer">
            {{> ../collection/morellino.html}} 
            {{> ../collection/vermentino.html}}
               {{> ../collection/olio.html}}

 
        </div>
      </div>

    </div>
<div class="footer--list--bottom footer--list--bottom__half footer--list--bottom__halfCredits">
					<p style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Developed by <span><span style="visibility:hidden;position:absolute;top:-10px;height:1px;width:1px;">one up studio</span>
		<a href="https://oneupstud.io/">	
<svg width="32px" class="oneuplogo" height="8px" viewBox="0 0 32 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="cartellina_01" transform="translate(-230.000000, -781.000000)" fill="#46B69E">
            <g id="Group-146" transform="translate(230.000000, 404.490000)">
                <g id="Group" transform="translate(0.000000, 376.000000)">
                    <path d="M1.2669,3.3897 C1.2669,3.5767 1.2949,3.7627 1.3519,3.9497 C1.4089,4.1367 1.4939,4.3027 1.6069,4.4497 C1.7199,4.5967 1.8639,4.7157 2.0369,4.8097 C2.2099,4.9037 2.4159,4.9497 2.6569,4.9497 C2.8969,4.9497 3.1029,4.9037 3.2769,4.8097 C3.4509,4.7157 3.5929,4.5967 3.7059,4.4497 C3.8199,4.3027 3.9049,4.1367 3.9619,3.9497 C4.0179,3.7627 4.0469,3.5767 4.0469,3.3897 C4.0469,3.2027 4.0179,3.0177 3.9619,2.8347 C3.9049,2.6517 3.8199,2.4867 3.7059,2.3397 C3.5929,2.1937 3.4509,2.0747 3.2769,1.9847 C3.1029,1.8947 2.8969,1.8497 2.6569,1.8497 C2.4159,1.8497 2.2099,1.8947 2.0369,1.9847 C1.8639,2.0747 1.7199,2.1937 1.6069,2.3397 C1.4939,2.4867 1.4089,2.6517 1.3519,2.8347 C1.2949,3.0177 1.2669,3.2027 1.2669,3.3897 M0.0469,3.3897 C0.0469,3.0097 0.1149,2.6647 0.2509,2.3547 C0.3879,2.0447 0.5739,1.7797 0.8069,1.5597 C1.0399,1.3397 1.3169,1.1697 1.6369,1.0497 C1.9559,0.9297 2.2969,0.8687 2.6569,0.8687 C3.0169,0.8687 3.3569,0.9297 3.6769,1.0497 C3.9959,1.1697 4.2739,1.3397 4.5069,1.5597 C4.7399,1.7797 4.9249,2.0447 5.0619,2.3547 C5.1989,2.6647 5.2669,3.0097 5.2669,3.3897 C5.2669,3.7697 5.1989,4.1167 5.0619,4.4297 C4.9249,4.7437 4.7399,5.0117 4.5069,5.2347 C4.2739,5.4577 3.9959,5.6327 3.6769,5.7597 C3.3569,5.8857 3.0169,5.9497 2.6569,5.9497 C2.2969,5.9497 1.9559,5.8857 1.6369,5.7597 C1.3169,5.6327 1.0399,5.4577 0.8069,5.2347 C0.5739,5.0117 0.3879,4.7437 0.2509,4.4297 C0.1149,4.1167 0.0469,3.7697 0.0469,3.3897" id="Fill-72"></path>
                    <path d="M6.4261,1.0098 L7.5671,1.0098 L7.5671,1.7798 L7.5861,1.7798 C7.6931,1.5398 7.8781,1.3278 8.1411,1.1448 C8.4051,0.9608 8.7161,0.8688 9.0761,0.8688 C9.3901,0.8688 9.6571,0.9248 9.8811,1.0338 C10.1051,1.1448 10.2881,1.2898 10.4311,1.4698 C10.5741,1.6498 10.6801,1.8568 10.7461,2.0898 C10.8131,2.3228 10.8461,2.5638 10.8461,2.8098 L10.8461,5.8098 L9.6471,5.8098 L9.6471,3.1498 C9.6471,3.0098 9.6361,2.8638 9.6161,2.7098 C9.5961,2.5568 9.5531,2.4178 9.4871,2.2948 C9.4191,2.1708 9.3271,2.0698 9.2111,1.9888 C9.0951,1.9088 8.9401,1.8688 8.7461,1.8688 C8.5531,1.8688 8.3861,1.9078 8.2461,1.9848 C8.1071,2.0618 7.9911,2.1588 7.9021,2.2798 C7.8121,2.3998 7.7421,2.5378 7.6971,2.6948 C7.6501,2.8518 7.6261,3.0098 7.6261,3.1698 L7.6261,5.8098 L6.4261,5.8098 L6.4261,1.0098 Z" id="Fill-73"></path>
                    <path d="M15.6263,2.9297 C15.6263,2.7767 15.6053,2.6297 15.5623,2.4897 C15.5183,2.3497 15.4493,2.2267 15.3563,2.1187 C15.2633,2.0127 15.1453,1.9277 15.0013,1.8647 C14.8583,1.8017 14.6893,1.7697 14.4963,1.7697 C14.1373,1.7697 13.8313,1.8777 13.5813,2.0947 C13.3313,2.3117 13.1933,2.5897 13.1663,2.9297 L15.6263,2.9297 Z M16.8263,3.4697 L16.8263,3.6297 C16.8263,3.6827 16.8233,3.7367 16.8163,3.7897 L13.1663,3.7897 C13.1803,3.9627 13.2253,4.1207 13.3023,4.2647 C13.3783,4.4087 13.4803,4.5317 13.6063,4.6347 C13.7333,4.7387 13.8763,4.8197 14.0363,4.8797 C14.1963,4.9397 14.3633,4.9697 14.5363,4.9697 C14.8363,4.9697 15.0903,4.9147 15.2963,4.8047 C15.5033,4.6947 15.6733,4.5427 15.8073,4.3497 L16.6063,4.9897 C16.1333,5.6297 15.4463,5.9497 14.5463,5.9497 C14.1733,5.9497 13.8303,5.8917 13.5173,5.7747 C13.2033,5.6587 12.9323,5.4927 12.7013,5.2797 C12.4723,5.0667 12.2913,4.8047 12.1613,4.4937 C12.0313,4.1847 11.9673,3.8327 11.9673,3.4397 C11.9673,3.0527 12.0313,2.7007 12.1613,2.3847 C12.2913,2.0687 12.4703,1.7977 12.6963,1.5747 C12.9233,1.3517 13.1913,1.1777 13.5013,1.0547 C13.8123,0.9317 14.1473,0.8687 14.5073,0.8687 C14.8403,0.8687 15.1473,0.9247 15.4323,1.0337 C15.7153,1.1447 15.9603,1.3077 16.1663,1.5247 C16.3733,1.7417 16.5343,2.0117 16.6513,2.3347 C16.7683,2.6587 16.8263,3.0357 16.8263,3.4697 Z" id="Fill-74"></path>
                    <path d="M17.7659,2.8994 C17.7659,2.6864 17.8439,2.5034 18.0009,2.3494 C18.1579,2.1964 18.3459,2.1194 18.5659,2.1194 C18.7799,2.1194 18.9659,2.1934 19.1259,2.3394 C19.2859,2.4864 19.3659,2.6664 19.3659,2.8794 C19.3659,3.0924 19.2869,3.2764 19.1309,3.4294 C18.9739,3.5834 18.7859,3.6594 18.5659,3.6594 C18.4589,3.6594 18.3579,3.6394 18.2609,3.5994 C18.1639,3.5594 18.0789,3.5054 18.0059,3.4394 C17.9329,3.3734 17.8739,3.2934 17.8309,3.1994 C17.7869,3.1064 17.7659,3.0054 17.7659,2.8994" id="Fill-75"></path>
                    <path d="M24.9661,5.8096 L23.8261,5.8096 L23.8261,5.0396 L23.8071,5.0396 C23.6991,5.2796 23.5151,5.4916 23.2511,5.6746 C22.9871,5.8576 22.6761,5.9496 22.3171,5.9496 C22.0031,5.9496 21.7351,5.8946 21.5111,5.7846 C21.2881,5.6746 21.1051,5.5296 20.9611,5.3496 C20.8181,5.1696 20.7131,4.9626 20.6471,4.7296 C20.5791,4.4966 20.5461,4.2556 20.5461,4.0096 L20.5461,1.0096 L21.7461,1.0096 L21.7461,3.6696 C21.7461,3.8096 21.7561,3.9556 21.7771,4.1096 C21.7961,4.2626 21.8401,4.4016 21.9061,4.5246 C21.9731,4.6486 22.0651,4.7496 22.1821,4.8296 C22.2981,4.9096 22.4531,4.9496 22.6471,4.9496 C22.8331,4.9496 22.9981,4.9116 23.1421,4.8346 C23.2841,4.7576 23.4021,4.6596 23.4911,4.5396 C23.5811,4.4196 23.6501,4.2816 23.6961,4.1246 C23.7431,3.9676 23.7671,3.8096 23.7671,3.6496 L23.7671,1.0096 L24.9661,1.0096 L24.9661,5.8096 Z" id="Fill-76"></path>
                    <path d="M30.3558,3.3897 C30.3558,3.2027 30.3278,3.0177 30.2708,2.8347 C30.2138,2.6517 30.1288,2.4867 30.0158,2.3397 C29.9028,2.1937 29.7588,2.0747 29.5858,1.9847 C29.4128,1.8947 29.2098,1.8497 28.9758,1.8497 C28.7558,1.8497 28.5588,1.8967 28.3858,1.9897 C28.2118,2.0827 28.0638,2.2027 27.9408,2.3497 C27.8178,2.4957 27.7238,2.6627 27.6608,2.8497 C27.5968,3.0357 27.5658,3.2227 27.5658,3.4097 C27.5658,3.5967 27.5968,3.7817 27.6608,3.9647 C27.7238,4.1487 27.8178,4.3137 27.9408,4.4597 C28.0638,4.6067 28.2118,4.7247 28.3858,4.8147 C28.5588,4.9047 28.7558,4.9497 28.9758,4.9497 C29.2098,4.9497 29.4128,4.9037 29.5858,4.8097 C29.7588,4.7157 29.9028,4.5967 30.0158,4.4497 C30.1288,4.3027 30.2138,4.1367 30.2708,3.9497 C30.3278,3.7627 30.3558,3.5767 30.3558,3.3897 Z M27.5558,1.0097 L27.5558,1.6797 L27.5858,1.6797 C27.6458,1.5857 27.7238,1.4917 27.8208,1.3947 C27.9178,1.2977 28.0358,1.2107 28.1758,1.1347 C28.3158,1.0577 28.4738,0.9937 28.6508,0.9447 C28.8278,0.8947 29.0258,0.8687 29.2458,0.8687 C29.5858,0.8687 29.8988,0.9347 30.1858,1.0647 C30.4718,1.1947 30.7188,1.3727 30.9258,1.5997 C31.1318,1.8267 31.2928,2.0927 31.4058,2.3997 C31.5188,2.7057 31.5758,3.0357 31.5758,3.3897 C31.5758,3.7437 31.5208,4.0747 31.4108,4.3847 C31.3008,4.6947 31.1438,4.9647 30.9408,5.1947 C30.7378,5.4247 30.4908,5.6087 30.2008,5.7437 C29.9108,5.8807 29.5828,5.9497 29.2158,5.9497 C28.8768,5.9497 28.5638,5.8797 28.2808,5.7397 C27.9978,5.5997 27.7798,5.4097 27.6268,5.1697 L27.6058,5.1697 L27.6058,8.2097 L26.4058,8.2097 L26.4058,1.0097 L27.5558,1.0097 Z" id="Fill-77"></path>
                </g>
            </g>
        </g>
    </g>
</svg></a>		
</span></p>

				</div>