<div class="section" id="section2">
  <div class="one-up-s" id="slide1-2">

    <div class="wineList__item wineList__itemFull js-section">
      <div class="wineList__wrapperImg">


        <img src="img/blank.png" class="lazy" alt="" data-src="img/vermentino.png" data-id="vermentino">

        <div class="fixedCircle fixedCircle__noJs fixedImg__vermentino">
          <div class="fixedCicler__right"></div>

        </div>
        <div class="wineList__wrapperImgDescr__mobile">
                          <h2>Vermentino</h2>


                          <a aria-label="vediProdotto" data-link-type="wine-transition-link" class="wine_blockDownload" href="vermentino.html">
                                          Entra
                                          </a>

                        </div>
                        
 
      </div>
      <div class="wineDescription">


        <h2>Vermentino</h2>
        <p>Di colore giallo paglierino intenso e
luminoso.</p>
        <div class="wine_info">
          <div class="wine_infoBlock">
            {{> ./../../img/country.svg}}
            <div class="wine_infoBlockDesc">
              <h3>Denominazione</h3>
              <p>Vermentino maremma toscana</p>
            </div>
          </div>

          <div class="wine_infoBlock">
            {{> ./../../img/vigna.svg}}
            <div class="wine_infoBlockDesc">
              <h3>Vitigno</h3>
              <p>Vermentino 100%</p>
            </div>
          </div>

          <div class="wine_infoBlock">
            {{> ./../../img/botte.svg}}
            <div class="wine_infoBlockDesc">
              <h3>Maturazione</h3>
              <p>Tini di acciaio</p>
            </div>
          </div>


          <div class="wine_infoBlock">
              {{> ./../../img/glass.svg}}
            <div class="wine_infoBlockDesc">
              <h3>Esame organolettico</h3>
              <p>Vino fine ed equilibrato, ha aromi di frutta matura a polpa bianca e
floreali, accompagnati da note di erbe aromatiche che ricordano la macchia
mediterranea</p>
            </div>
          </div>
          <div class="wine_infoBlock">
              {{> ./../../img/plate.svg}}
            <div class="wine_infoBlockDesc">
              <h3>Abbinamenti gastronomici</h3>
              <p>formaggi freschi e salumi leggeri fino ai piatti di pescato, di
molluschi, ai crostacei e al pesce arrosto</p>
            </div>
          </div>
        </div>
                          <a aria-label="vediProdotto" data-link-type="wine-transition-link" class="wine_blockDownload" href="vermentino.html">

                      Entra                        </a>
      </div>
    </div>
  </div>
</div>
