<div class="fixedImg_homeWrapper">
    <div class="fixedImg_home" style="background-image: url('img/maremma.jpg');">
        </div>
    </div> 
<div class="home">


<div class="controlsWine">

<svg width="15px" height="56px" viewBox="0 0 15 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g   stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="slider-home" transform="translate(-1377.000000, -394.000000)" fill="#070707" fill-rule="nonzero">
            <g id="noun_838373_cc" transform="translate(1334.000000, 372.000000)">
                <g id="Group" transform="translate(43.000000, 22.000000)">
                    <g id="Shape">
                        <path d="M14.943609,24.9424 C14.8533835,22.1648 13.1672932,19.6504 10.6409774,18.4856 L10.6409774,7.4592 C10.6409774,7.084 10.1842105,6.8992 9.7556391,6.7872 L9.7556391,0.7952 C9.7556391,0.0392 7.87781955,-1.0658141e-14 7.5,-1.0658141e-14 C7.12218045,-1.0658141e-14 5.2443609,0.0392 5.2443609,0.7952 L5.2443609,6.7872 C4.81578947,6.8992 4.35902256,7.0896 4.35902256,7.4592 L4.35902256,18.4856 C1.82706767,19.6504 0.146616541,22.1704 0.0563909774,24.9368 C0.0507518797,25.0208 0.0507518797,25.1104 0.0507518797,25.1944 L0.0507518797,53.1496 C0.0507518797,54.7736 3.2537594,55.9944 7.5,55.9944 C11.1654135,55.9944 14.9492481,54.9304 14.9492481,53.1496 L14.9492481,25.2 C14.9492481,25.116 14.943609,25.0264 14.943609,24.9424 Z M6,1.4168 C6.0112782,1.4168 6.01691729,1.4224 6.02255639,1.4224 C6.09586466,1.4392 6.17481203,1.4616 6.2537594,1.4728 C6.27067669,1.4784 6.28759398,1.4784 6.30451128,1.484 C6.36654135,1.4952 6.42857143,1.5064 6.4906015,1.512 C6.51315789,1.5176 6.53571429,1.5176 6.55263158,1.5232 C6.61466165,1.5288 6.67669173,1.54 6.7387218,1.5456 C6.7556391,1.5456 6.76691729,1.5512 6.78383459,1.5512 C6.85714286,1.5568 6.93045113,1.5624 6.9981203,1.568 C7.0093985,1.568 7.01503759,1.568 7.02067669,1.568 C7.07706767,1.5736 7.13345865,1.5736 7.18421053,1.5792 C7.20112782,1.5792 7.21804511,1.5792 7.23496241,1.5792 C7.27443609,1.5792 7.31390977,1.5792 7.34774436,1.5848 C7.35902256,1.5848 7.37030075,1.5848 7.38721805,1.5848 C7.42669173,1.5848 7.46616541,1.5848 7.4943609,1.5848 C7.52255639,1.5848 7.55639098,1.5848 7.60150376,1.5848 C7.61278195,1.5848 7.62406015,1.5848 7.64097744,1.5848 C7.67481203,1.5848 7.71428571,1.5848 7.7537594,1.5792 C7.77067669,1.5792 7.78759398,1.5792 7.80451128,1.5792 C7.85526316,1.5792 7.91165414,1.5736 7.96804511,1.568 C7.97932331,1.568 7.98496241,1.568 7.9906015,1.568 C8.05827068,1.5624 8.13157895,1.5568 8.20488722,1.5512 C8.22180451,1.5512 8.23308271,1.5456 8.25,1.5456 C8.31203008,1.54 8.37406015,1.5344 8.43609023,1.5232 C8.45864662,1.5176 8.48120301,1.5176 8.4981203,1.512 C8.56015038,1.5008 8.62218045,1.4952 8.68421053,1.484 C8.70112782,1.4784 8.71804511,1.4784 8.73496241,1.4728 C8.81390977,1.456 8.88721805,1.4392 8.96616541,1.4224 C8.97744361,1.4224 8.98308271,1.4168 8.9887218,1.4168 C9.05075188,1.4 9.11278195,1.3776 9.17481203,1.3608 C9.18609023,1.3552 9.19172932,1.3552 9.20300752,1.3496 L9.20300752,7 L9.20300752,7.4592 L9.20300752,7.6832 C9.15789474,7.6888 9.11278195,7.7 9.06203008,7.7056 C9.02255639,7.7112 8.9887218,7.7168 8.94924812,7.7224 C8.81954887,7.7392 8.68984962,7.756 8.55451128,7.7672 C8.54323308,7.7672 8.53195489,7.7672 8.52067669,7.7728 C7.87218045,7.8288 7.12781955,7.8288 6.47932331,7.7728 C6.46804511,7.7728 6.46240602,7.7728 6.45112782,7.7728 C6.31015038,7.7616 6.17481203,7.7448 6.04511278,7.728 C6.0112782,7.7224 5.97180451,7.7168 5.93796992,7.7112 C5.88721805,7.7056 5.84210526,7.6944 5.79135338,7.6888 L5.79135338,7.4648 L5.79135338,7 L5.79135338,1.3496 C5.80263158,1.3552 5.80827068,1.3552 5.81954887,1.3608 C5.87593985,1.3832 5.93796992,1.4 6,1.4168 Z M9.12406015,0.7896 C9.09586466,0.8008 9.06203008,0.8176 9.02255639,0.8344 C9.01691729,0.8344 9.0112782,0.84 9.0056391,0.84 C8.96616541,0.8512 8.92669173,0.868 8.87593985,0.8792 C8.85902256,0.8848 8.83646617,0.8904 8.81954887,0.896 C8.78007519,0.9072 8.7406015,0.9184 8.69548872,0.924 C8.67293233,0.9296 8.64473684,0.9352 8.61654135,0.9408 C8.57142857,0.952 8.52631579,0.9576 8.47556391,0.9688 C8.44736842,0.9744 8.41353383,0.98 8.38533835,0.9856 C8.33458647,0.9912 8.27819549,1.0024 8.22180451,1.008 C8.18796992,1.0136 8.15413534,1.0136 8.12030075,1.0192 C8.05827068,1.0248 7.9906015,1.0304 7.92293233,1.036 C7.88909774,1.036 7.86090226,1.0416 7.82142857,1.0416 C7.71428571,1.0472 7.60714286,1.0472 7.4887218,1.0472 C7.37030075,1.0472 7.26315789,1.0416 7.15601504,1.0416 C7.12218045,1.0416 7.08834586,1.036 7.05451128,1.036 C6.98684211,1.0304 6.91917293,1.0248 6.85714286,1.0192 C6.82330827,1.0136 6.78947368,1.0136 6.7556391,1.008 C6.69924812,1.0024 6.64285714,0.9968 6.59210526,0.9856 C6.55827068,0.98 6.53007519,0.9744 6.5018797,0.9688 C6.45112782,0.9632 6.40601504,0.952 6.36090226,0.9408 C6.33270677,0.9352 6.31015038,0.9296 6.28195489,0.924 C6.23684211,0.9128 6.19736842,0.9016 6.15789474,0.896 C6.14097744,0.8904 6.11842105,0.8848 6.10150376,0.8792 C6.05639098,0.868 6.0112782,0.8512 5.97180451,0.84 C5.96616541,0.84 5.96052632,0.8344 5.95488722,0.8344 C5.91541353,0.8176 5.88157895,0.8064 5.85338346,0.7896 C6.07330827,0.6832 6.63721805,0.5432 7.48308271,0.5432 C8.32894737,0.5432 8.90977444,0.6832 9.12406015,0.7896 Z M14.3966165,53.1552 C14.3966165,54.2416 11.5601504,55.4512 7.4943609,55.4512 C3.42857143,55.4512 0.592105263,54.2416 0.592105263,53.1552 L0.592105263,25.2 C0.592105263,25.1272 0.592105263,25.0488 0.597744361,24.9648 C0.682330827,22.3384 2.31203008,19.964 4.73684211,18.9112 C4.83834586,18.8664 4.90037594,18.7712 4.90037594,18.6592 L4.90037594,8.0192 C4.90037594,8.0192 4.90037594,8.0192 4.90601504,8.0192 C4.98496241,8.0472 5.06954887,8.0752 5.15413534,8.0976 C5.17669173,8.1032 5.19360902,8.1088 5.21616541,8.1144 C5.30075188,8.1368 5.37969925,8.1536 5.45864662,8.1704 C5.45864662,8.1704 5.45864662,8.1704 5.45864662,8.1704 C6.01691729,8.288 6.7387218,8.3496 7.4943609,8.3496 C8.22744361,8.3496 8.92669173,8.288 9.47368421,8.176 C9.4906015,8.1704 9.51315789,8.1704 9.53007519,8.1648 C9.60902256,8.148 9.68796992,8.1312 9.77255639,8.1088 C9.79511278,8.1032 9.81203008,8.0976 9.82894737,8.092 C9.91353383,8.0696 9.9981203,8.0416 10.0827068,8.0136 C10.0827068,8.0136 10.0827068,8.0136 10.0883459,8.0136 L10.0883459,18.6536 C10.0883459,18.76 10.156015,18.8608 10.2518797,18.9056 C12.6823308,19.9528 14.306391,22.3272 14.3909774,24.9592 C14.3909774,24.9592 14.3909774,24.9648 14.3909774,24.9648 C14.3966165,25.0376 14.3966165,25.1216 14.3966165,25.1944 L14.3966165,53.1552 Z"></path>
                        <path d="M13.3308271,30.0552 C13.2406015,30.0552 13.1616541,30.1 13.1109023,30.1672 C13.037594,30.1952 12.8007519,30.2624 12.1466165,30.3296 C11.0357143,30.4416 9.29887218,30.5032 7.5,30.5032 C5.69548872,30.5032 3.95300752,30.436 2.84210526,30.3296 C2.19360902,30.2624 1.95676692,30.1952 1.88345865,30.1672 C1.83270677,30.1 1.7537594,30.0552 1.66353383,30.0552 C1.5112782,30.0552 1.38721805,30.1784 1.38721805,30.3296 L1.38721805,46.5864 C1.38721805,47.7904 5.38533835,48.104 7.5,48.104 C9.61466165,48.104 13.6071429,47.7848 13.6071429,46.5864 L13.6071429,30.324 C13.6015038,30.1728 13.4774436,30.0552 13.3308271,30.0552 Z M13.0545113,46.5808 C13.0545113,46.872 11.1654135,47.5552 7.4943609,47.5552 C3.82330827,47.5552 1.92857143,46.872 1.92857143,46.5808 L1.92857143,30.744 C2.13721805,30.7888 2.41353383,30.828 2.78007519,30.8672 C3.90789474,30.9792 5.66729323,31.0464 7.4943609,31.0464 C9.31015038,31.0464 11.0695489,30.9792 12.2030075,30.8672 C12.5695489,30.828 12.8458647,30.7888 13.0545113,30.744 L13.0545113,46.5808 Z"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
</div>

<div class="controls">
      <div class="closeRounded">


       <div class="closes closeWine">
  <span></span><span></span> 
     </div>
</div>
  <div class="controlsInner">


    <div class="arrow">
      <div id="prev">
        <svg width="26px" height="9px" viewBox="0 0 26 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g   stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="" transform="translate(-17.000000, -413.000000)" fill="#000000" fill-rule="nonzero">
            <g id="noun_941551_cc" transform="translate(17.000000, 413.000000)">
                <path d="M25.6569921,4.97368421 L1.16622691,4.97368421 L3.49868074,8.19473684 C3.63588391,8.38421053 3.63588391,8.66842105 3.49868074,8.85789474 C3.43007916,8.95263158 3.32717678,9 3.2585752,9 C3.18997361,9 3.08707124,8.95263158 3.01846966,8.85789474 L0.102902375,4.83157895 C-0.0343007916,4.64210526 -0.0343007916,4.35789474 0.102902375,4.16842105 L3.01846966,0.142105263 C3.15567282,-0.0473684211 3.36147757,-0.0473684211 3.49868074,0.142105263 C3.63588391,0.331578947 3.63588391,0.615789474 3.49868074,0.805263158 L1.16622691,4.02631579 L25.6569921,4.02631579 C25.8627968,4.02631579 26,4.21578947 26,4.5 C26,4.78421053 25.8627968,4.97368421 25.6569921,4.97368421 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>
      </div>
      <div id="next">

        <svg width="26px" height="9px" viewBox="0 0 26 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g   stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="" transform="translate(-58.000000, -413.000000)" fill="#000000" fill-rule="nonzero">
            <g id="" transform="translate(17.000000, 413.000000)">
                <path d="M41.3430079,4.97368421 L65.8337731,4.97368421 L63.5013193,8.19473684 C63.3641161,8.38421053 63.3641161,8.66842105 63.5013193,8.85789474 C63.5699208,8.95263158 63.6728232,9 63.7414248,9 C63.8100264,9 63.9129288,8.95263158 63.9815303,8.85789474 L66.8970976,4.83157895 C67.0343008,4.64210526 67.0343008,4.35789474 66.8970976,4.16842105 L63.9815303,0.142105263 C63.8443272,-0.0473684211 63.6385224,-0.0473684211 63.5013193,0.142105263 C63.3641161,0.331578947 63.3641161,0.615789474 63.5013193,0.805263158 L65.8337731,4.02631579 L41.3430079,4.02631579 C41.1372032,4.02631579 41,4.21578947 41,4.5 C41,4.78421053 41.1372032,4.97368421 41.3430079,4.97368421 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>
      </div>
    </div>
    <div class="counter">
      <span class="activeNumber">
          01
      </span>
      <span class="lines"></span>
      <span class="totalNumber">
          04
      </span>
    </div>
  </div>
</div>
<div class="wrapperContainer">

  <div id="containerSlide">
      	<div class="water-transition">


												<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="display: none;">
													<symbol id="wave">
														<path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z"></path>
														<path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z"></path>
														<path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z"></path>
														<path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z"></path>
													</symbol>
												</svg>
													<div class="water">
														<svg class="water__wave water__wave_back" viewBox="0 0 560 20">
															<use xlink:href="#wave"></use>
														</svg>
														<svg class="water__wave water__wave_front" viewBox="0 0 560 20">
															<use xlink:href="#wave"></use>
														</svg>
														<div class="water__inner">
															<div class="bubble bubble_1"></div>
															<div class="bubble bubble_2"></div>
															<div class="bubble bubble_3"></div>
														</div>
													</div>
												 </div>

           <div class="menuInside__vertical">
 <div class="menuFilling">


<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="display: none;">
  <symbol id="wave">
    <path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z"></path>
    <path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z"></path>
    <path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z"></path>
    <path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z"></path>
  </symbol>
</svg>
  <div class="water" id="water">
    <svg class="water__wave water__wave_back" viewBox="0 0 560 20">
      <use xlink:href="#wave"></use>
    </svg>
    <svg class="water__wave water__wave_front" viewBox="0 0 560 20">
      <use xlink:href="#wave"></use>
    </svg>
    <div class="water__inner">
      <div class="bubble bubble_1"></div>
      <div class="bubble bubble_2"></div>
      <div class="bubble bubble_3"></div>
    </div>
  </div>
 </div>
 </div>
      <div class="linesAnimation linesAnimation__one ">

      </div>
       <div class="linesAnimation linesAnimation__two">
          
      </div>
          {{> ./../winelist/winelist.html}}
         {{> ./../menu.html}}

    <div class="innerContainer">
      <div id="slider">
     <div class="slide one first" >
               <div class="slideText">
                <h4>I nostri prodotti</h4>
                <p>Il nostro orgoglio</p>
 
                                                        <a aria-label="vedi Prodotti" data-link-type="wine-transition-link" class="wine_blockDownload" href="collection.html"  >
                                                            Scopri
                                                            </a>

        </div>
        <div class="slideImg" style="background-image: url('img/maremma.jpg');">
            <div class="layer"></div>
         
        

            </div>
        </div>
        <div class="slide one " >
               <div class="slideText">
                <h4>Famiglia Agostinetto</h4>
                <p>About us</p>
            
                  
                            <a aria-label="about link" href="about.html"  data-link-type="wine-transition-link" class="wine_blockDownload"    >
                                                            Scopri
                                                            </a>
        </div>

        <div class="slideImg" style="background-image: url('img/family.jpg');">
            <div class="layer"></div>
         
        

            </div>
        </div>
   

           <div class="slide one" >
               <div class="slideText">
                <h4>Morellino</h4>
                <p>Un amore toscano</p>
        

                            <a aria-label="morellino link" href="morellino.html"  data-link-type="wine-transition-link" class="wine_blockDownload"    >
                                                            Scopri
                                                            </a>
        </div>
        <div class="slideImg" style="background-image: url('img/sangiovese_tr.jpg');">
            <div class="layer"></div>
         
        

            </div>
        </div>
           <div class="slide one" >
               <div class="slideText">
                <h4>Gli agriturismi</h4>
                <p>Le tenute</p>
 
                  <a aria-label="contatti link" href="contatti.html"  data-link-type="wine-transition-link" class="wine_blockDownload"    >
                                                            Scopri
                                                            </a>
        </div>
        <div class="slideImg" style="background-image: url('img/house.jpg');">
            <div class="layer"></div>
         
        

            </div>
        </div>

      </div>

    </div>
  </div>

</div>


<div id="scrubber">
  <div id="handle">
    <span class="handle__left">

<svg width="26px" height="9px" viewBox="0 0 26 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g   stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="" transform="translate(-156.000000, -851.000000)" fill="#000000" fill-rule="nonzero">
            <path d="M181.656992,855.973684 L157.166227,855.973684 L159.498681,859.194737 C159.635884,859.384211 159.635884,859.668421 159.498681,859.857895 C159.430079,859.952632 159.327177,860 159.258575,860 C159.189974,860 159.087071,859.952632 159.01847,859.857895 L156.102902,855.831579 C155.965699,855.642105 155.965699,855.357895 156.102902,855.168421 L159.01847,851.142105 C159.155673,850.952632 159.361478,850.952632 159.498681,851.142105 C159.635884,851.331579 159.635884,851.615789 159.498681,851.805263 L157.166227,855.026316 L181.656992,855.026316 C181.862797,855.026316 182,855.215789 182,855.5 C182,855.784211 181.862797,855.973684 181.656992,855.973684 Z" id="Shape"></path>
        </g>
    </g>
</svg>
      </span> Pull to navigate
    <span class="handle__right">

<svg width="26px" height="9px" viewBox="0 0 26 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g   stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="" transform="translate(-260.000000, -851.000000)" fill="#000000" fill-rule="nonzero">
            <path d="M260.343008,855.973684 L284.833773,855.973684 L282.501319,859.194737 C282.364116,859.384211 282.364116,859.668421 282.501319,859.857895 C282.569921,859.952632 282.672823,860 282.741425,860 C282.810026,860 282.912929,859.952632 282.98153,859.857895 L285.897098,855.831579 C286.034301,855.642105 286.034301,855.357895 285.897098,855.168421 L282.98153,851.142105 C282.844327,850.952632 282.638522,850.952632 282.501319,851.142105 C282.364116,851.331579 282.364116,851.615789 282.501319,851.805263 L284.833773,855.026316 L260.343008,855.026316 C260.137203,855.026316 260,855.215789 260,855.5 C260,855.784211 260.137203,855.973684 260.343008,855.973684 Z" id="Shape"></path>
        </g>
    </g>
</svg>
      </span>
  </div>
  
</div>


   {{> ./../winelist/winelist_btm.html}}
   
   </div>