<div class="pdp_hero pdp_hero--top">
  
<div id="triggerSvg"></div>
<div id="triggerSvgMorellino"></div>

 <div class="pdp_col1"></div>
 <div class="pdp_col1">
      <div class="imgPdpMobile">
                   <img src="img/olio-delle-bulane.png" alt="olio delle bulane" >
                  </div>

    <div class="pdp_heroText">
        <h1>Olio delle baluane </h1>
        <h2>I.G.P.</h2>
        <p>
Da olive Frantoio e Leccino di agricoltura biologica, raccolte rigorosamente a mano nei poderi delle Bulane a Montiano e spremute unicamente con mezzi meccanici, nasce il nostro Olio Extravergine d’Oliva di categoria superiore. </p>
    </div>
    <div class="pdp_notest">
   
    </div>

       </div>
</div>