 <div id="pinnedHero">
    <div class="pdp_heroText--pinned">


    <h4>Scopri di più sul nostro olio</h4>
    <p>I nostri uliveti</p>
        </div>
<div class="pdp_hero pdp_pinned">
  
    <div class="pdp_hero__drag">

 
    <div class="wrapper-img">
                           <img src="img/blank.png" class="lazy"  alt="" data-src="img/oliveto0.jpeg" >

    </div>
     <div class="wrapper-img">
                           <img src="img/blank.png" class="lazy"  alt="" data-src="img/oliveto1.jpg"  >

    </div>
   <div class="wrapper-img">
                              <img src="img/blank.png" class="lazy"  alt="" data-src="img/oliveto2.jpg" >


    </div>
    <div class="wrapper-img">
                              <img src="img/blank.png" class="lazy"  alt="" data-src="img/oliveti.jpg" >


    </div>
    </div>
</div>

  </div>