<div class="pdp_hero pdp_hero__last js-section">
  

 <div class="pdp_col1_2"></div>
 <div class="pdp_col1_3 ">


    <div class="pdp_Note pdp_Note__plates">
     
        <p>
            Ideale per cialde e friselle, insalate miste, verdure sia crude che cotte, ottimo anche con carpaccio e pesce.
 </p>
    </div>
   <div class="pdp_imgTwo">
       <picture class="imgAbsolute">
                <div class="layer layer__one"></div>
                    <div class="layer layer__two"></div>
            
                                         <img src="img/blank.png" class="lazy"  alt="" data-src="img/friselle.jpeg" >

       </picture>
       <picture class="imgRelative ">
                    <div class="layer layer__one"></div>
                    <div class="layer layer__two"></div>
                                                             <img src="img/blank.png" class="lazy"  alt="" data-src="img/formaggi.jpg" >

         
       </picture>
   </div>

       </div>
</div>

