<div class="pdp_hero pdp_hero--center js-section">
  

 <div class="pdp_col1_2"></div>
 <div class="pdp_col1_3">


    <div class="pdp_Note pdp_Note__pair">
     
        <p>
Di color smeraldo, è fruttato ed intenso, con note vegetali di erba tagliata e foglia di pomodoro.
            </p>
    </div>
   <div class="pdp_imgOne">
       <picture class="imgAbsolute">
               <div class="layer layer__one"></div>
                    <div class="layer layer__two"></div>
                                                                         <img src="img/blank.png" class="lazy"  alt="" data-src="img/oliveto_h.jpeg" >

       </picture>
       <picture class="imgRelative">
               <div class="layer layer__one"></div>
                    <div class="layer layer__two"></div>
                    
                                                             <img src="img/blank.png" class="lazy"  alt="" data-src="img/oliveto_v.jpeg" >

       </picture>
   </div>

       </div>
</div>