<div class="winelist">

  <div class="wineList__item">
    <a href="morellino.html" data-link-type="wine-link" data-id="morellino">
      <img src="img/blank.png" class="lazy"  alt="" data-src="img/morellino.png" >
    
    <div class="fixedCircle fixedCircle__noJs">
                   <div class="fixedCicler__right"></div>
                  
               </div>
                       </a>
  </div>
  <div class="wineList__item">
    <a href="vermentino.html" data-link-type="wine-link" data-id="vermentino">                                       
        <img src="img/blank.png" class="lazy"  alt="" data-src="img/vermentino.png" >
    <div class="fixedCircle fixedCircle__noJs fixedCicler__right__center">
                   <div class="fixedCicler__right  "></div>
                     </div>
            </a>


  </div>
  <div class="wineList__item">
    <a aria-label="morellino link"  href="olio.html" data-link-type="wine-link"  data-id="olio">
      <img src="img/blank.png" class="lazy"  alt="" data-src="img/olio-delle-bulane.png">
   <div class="fixedCircle fixedCircle__noJs fixedCicler__right__left">
                   <div class="fixedCicler__right  "></div>
                   </div>
                  </a>

  </div>

</div>
