<div class="container_wine">
    <div class="wineBtm__text" id="morellino">
        <h5>Morelline di Scansano</h5>
        <p>D.O.C.G</p>
    </div>
     <div class="wineBtm__text" id="petit">
        <h5>Vermentino Maremma Toscana</h5>
        <p>D.O.C</p>
    </div>
     <div class="wineBtm__text" id="ciliegiolo">
        <h5>Olio delle Bulane</h5>
        <p>I.G.P.</p>
    </div>
  
</div>

