 <section class="section" data-js="section">
<div class="wrapperSection">


    <div class="aboutImg">
        <picture class="aboutImg__behind">
            <img src="img/winet.jpg" alt="">
        </picture>
          <picture class="aboutImg__front">
            <img src="img/aboutW.jpg" alt="">

        </picture>
    </div>
    <div class="about--text">


        <h1 class="section__title">About Us</h1>
        <h2>Una storia centenaria</h2>
        <p>Elegante, e dal colore rosso rubino intenso, il Primitivo al naso è un vino complesso e durevole,
            con delizioso sentore di frutti rossi ed in particolare amarena.</p>
                </div>

        </div>
        <div class="wrapperSection wrapperSection__two">
            <div class="aboutImg__half">

     <picture class="aboutImg__front">
               <img src="img/winet.jpg" alt="">

        </picture>
            
        </div>
                <div class="about--text">


        <h1 class="section__title">1911</h1>
        <h2>The begin</h2>
        <p>Elegante, e dal colore rosso rubino intenso, il Primitivo al naso è un vino complesso e durevole,
            con delizioso sentore di frutti rossi ed in particolare amarena.</p>
                </div>
                
                <div class="wrapper-svg">
                     {{> ./../about/mappa.svg}}

                   
                </div>
              
        
        </div>
    </section>