<div class="contactFooter">
  <ul >
    <li>
      <h4>Sede Centrale</h4>
    </li>
    <li><a href="">T: +39 0423 21870</a></li>
    <li><a href="">F: +39 0423 21870</a></li>
    <li class="address">
        <address>
          Via Dalmazia, 36<br>
            31044 Montebelluna TV<br>
           Italy
          </address>
    </li>
  </ul>
  <ul >
    <li>
      <h4>La Tenuta</h4>
    </li>
   <li><a href="">T: +39 333 401 7399</a></li>
    <li><a href="">T: +39 0423 818034</a></li>
    <li class="address">
      <address>
          3rd Km National<br>
           Montepulciano<br>
           Italy
          </address>
    </li>
  </ul>
  <ul >
    <li>
      <h4>Le due Torri</h4>
    </li>
    <li><a href="">T: +39 333 401 7399</a></li>
    <li><a href="">T: +39 0423 818034</a></li>
    <li class="address">
      <address>
        <address>
        
           Via Cornarotta, 62, <br>
            31040 Trevignano TV<br>
            Italy
          </address>
    </li>
  </ul>
</div>
