<div class="proud js-section__about">
<div class="wrapperFlex wrapperFlexContainer wrapperFlexContainer__column wrapperFlexContainer__full">
         <div class="wrapper-text">
                <h4>Maremma</h4>
                   <span class="lines"></span>
                <h5>Il nostro orgoglio</h5>
                <div class="paragraph">
                    <p>
                     
Ci dedichiamo ad una piccola produzione di vini da vitigni tradizionali della Maremma meridionale e di Olio Extravergine d’Oliva di categoria superiore da olive di agricoltura biologica. 
Crediamo nel rispetto delle materie prime e nella massima cura in tutte le fasi della lavorazione, dalla raccolta all’imbottigliamento.     </p>
                    <a aria-label="collection link" data-link-type="wine-transition-link"  href="collection.html">Scopri i nostri prodotti</a>
                </div>
            </div>
           <div class="imgBack">
          <img src="img/blank.png" class="lazy"  alt="" data-src="img/backgroundAbout.png" alt="">

        </div>
        </div>
    
</div>


