<div class="visitUs">
  <div class="wrapperFlex wrapperFlexContainer wrapperFlexContainer__full">
    <div class="col-half purple">
         <div class="wrapperBorgoLupo" style="background: url('img/borgoFaggio.jpg')">

            </div>
      <div class="square">
        <div class="wrapper-text">
          <h4>Montepulciano</h4>
          <h5>Borgo del faggio</h5>
          <div class="paragraph">
            <p>
              <span class="lines"></span> 
Nel cuore delle colline senesi, nell’affascinante Montepulciano, il nuovo Borgo del Faggio vi attende. I nostri appartamenti, recentemente rinnovati, sono la scelta ideale per amanti del vino alla ricerca di un luogo tranquillo e curato con attenzione per rilassarsi, circondati da vigneti di Sangiovese.             </p>
            <div class="hiddenInfo">
                <button aria-label="close" class="close">
                    <p>close</p>
                </button>
                <ul>
                    <li>
                        <div class="wrapperIcon">
                            
                             {{> ./../about3/breakfast.svg}}
                        </div>
                        <div class="hiddenText">
                            <h5>Colazione</h5>
                            <p>serviamo ricche colazioni a buffet, esclusivamente con prodotti bio di provenienza locale.
</p>
                        </div>
                    </li>
                       <li>
                        <div class="wrapperIcon">
                            
                             {{> ./../about3/parking.svg}}
                        </div>
                        <div class="hiddenText">
                            <h5>Parcheggio</h5>
                            <p>Disponiamo di un ampio parcheggio gratuito per tutti i nostri ospiti.</p>
                        </div>
                    </li>
                     <li>
                        <div class="wrapperIcon">
                            
                             {{> ./../about3/swimming.svg}}
                        </div>
                        <div class="hiddenText">
                            <h5>Piscina</h5>
                            <p> l’ampia piscina esterna è a disposizione dei nostri ospiti. Per indimenticabili momenti di relax.
</p>
                        </div>
                    </li>
                </ul>
            </div>
          </div>
          <div class="cta">
                More Info 
          </div>
          <div class="contactUs">
              <a href="mailto:info@agostinetto-wine.com?subject=Info%20Borgo%20Faggio">Book Now</a>
          </div>
        </div>
      </div>
    </div>

        <div class="col-half beige">
            <div class="wrapperBorgo" style="background: url('img/borgoFaggio.jpg')">

            </div>
      <div class="square">
        <div class="wrapper-text">
          <h4>Trevignano</h4>
          <h5>Le due torri</h5>
          <div class="paragraph">
            <p>
              <span class="lines"></span> L'Agriturismo Due Torri si trova strategicamente localizzato tra il Montello, la pianura e le colline asolane. È una struttura accogliente che ricorda le vecchie ville padronali della marca trevigiana dove il tempo sembra essersi fermato all'epoca dei dogi veneziani. 
            </p>
             <div class="hiddenInfo">
                <button aria-label="close" class="close">
                    <p>close</p>
                </button>
               <ul>
                    <li>
                        <div class="wrapperIcon">
                            
                             {{> ./../about3/breakfast.svg}}
                        </div>
                        <div class="hiddenText">
                            <h5>Colazione</h5>
                            <p>serviamo ricche colazioni a buffet, esclusivamente con prodotti bio di provenienza locale.
</p>
                        </div>
                    </li>
                       <li>
                        <div class="wrapperIcon">
                            
                             {{> ./../about3/parking.svg}}
                        </div>
                        <div class="hiddenText">
                            <h5>Parcheggio</h5>
                            <p>Disponiamo di un ampio parcheggio gratuito per tutti i nostri ospiti.</p>
                        </div>
                    </li>
                     <li>
                        <div class="wrapperIcon">
                            
                             {{> ./../about3/swimming.svg}}
                        </div>
                        <div class="hiddenText">
                            <h5>Piscina</h5>
                            <p> l’ampia piscina esterna è a disposizione dei nostri ospiti. Per indimenticabili momenti di relax.
</p>
                        </div>
                    </li>
                </ul>
            </div>
          </div>
             <div class="cta">
                More Info 
          </div>
          <div class="contactUs">
              <a href="mailto:info@agostinetto-wine.com?subject=Info%20Borgo%20Lupo">Book Now</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
