<!--<div class="aboutPinned">
        <div class="wrapperFlex wrapperFlexContainer wrapperFlexContainer__column">
            <div class="aboutPinnedBg" style="background:url('img/winey.jpg')">
<div class="aboutPinned__layer"></div>
            </div>
<div class="wrapper-text">
      
        
                <h5> Elegante, e dal colore rosso rubino intenso, il Primitivo</h5>
                <div class="paragraph">
                    <p>
                     

 Elegante, e dal colore rosso rubino intenso, il Primitivo al naso è un vino complesso e durevole.

 con delizioso sentore di frutti rossi ed in particolare amarena.                    </p>
                </div>
            </div>
</div>
</div>-->