<div class="aboutPresente js-section__about">
    <div class="wrapperFlex wrapperFlexContainer wrapperFlexContainer__column">
         <div class="wrapper-text">
                <h4>Oggi</h4>
                   <span class="lines"></span>
                <h5>Il nostro presente</h5>
                <div class="paragraph">
                    <p>È in seguito ad una vacanza di famiglia nella Maremma Toscana che ci siamo innamorati di una tenuta nella piccola località di Montiano, nel cuore della terra del Morellino, con una vista eccezionale sul Mar Tirreno e l’ Isola del Giglio.</p>
               <p style="margin-top:20px !important"> L’amore per questo borgo ci ha spinti a comprarlo, iniziando con l’impiantare 10 ettari di vigna a Sangiovese, Ciliegiolo e Vermentino, fino ad arrivare ad acquistare una piccola cantina nelle vicinanze dove produciamo Morellino di Scansano DOCG, Vermentino di Maremma Toscana DOCG e Ciliegiolo.   </p>
                </div>
        
            </div>
            <div class="wrapper-img">
                <img src="img/blank.png" class="lazy"  alt="" data-src="img/house.jpg" alt="">
            </div>
        </div>
        <div class="svgPresent">

<svg width="154px" height="700px" viewBox="0 0 154 700" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.371875">
        <g id="section-three" transform="translate(-1172.000000, -101.000000)" stroke="#979797">
            <path d="M1235.18362,195.010027 C1244.6323,185.443234 1251.30534,177.234812 1255.20292,170.384515 C1259.1005,163.534219 1261.04926,156.565918 1261.04926,149.479404 C1261.04926,140.739371 1258.80523,133.121483 1254.31711,126.625512 C1249.82898,120.129541 1243.45122,116.881604 1235.18362,116.881604 C1226.44358,116.881604 1219.29812,120.720075 1213.74702,128.397131 C1208.19592,136.074188 1202.58585,147.94392 1196.91664,164.006685 C1196.91664,164.242902 1196.44421,164.361009 1195.49934,164.361009 C1193.37339,164.361009 1192.42853,164.006688 1192.66475,163.298037 L1208.255,102.708648 C1208.255,102.236214 1208.72743,102 1209.6723,102 C1210.38095,102 1211.03054,102.17716 1211.62108,102.531486 C1212.21162,102.885812 1212.38878,103.181079 1212.15256,103.417296 C1211.91635,104.598381 1211.79824,106.015663 1211.79824,107.669183 C1211.79824,111.684874 1213.56984,113.692689 1217.1131,113.692689 C1219.23905,113.692689 1222.78226,112.865942 1227.74282,111.212422 C1237.90015,107.669165 1247.23059,105.897563 1255.73441,105.897563 C1268.72635,105.897563 1278.88353,108.96834 1286.20626,115.109985 C1293.52899,121.25163 1297.1903,129.400998 1297.1903,139.558335 C1297.1903,151.841625 1292.40698,163.002717 1282.84018,173.041944 C1273.27339,183.081172 1260.10448,194.00605 1243.33307,205.816906 L1229.16011,216.446624 C1228.45146,217.155275 1228.2743,217.745809 1228.62863,218.218243 C1228.98295,218.690678 1229.75065,218.926891 1230.93173,218.926891 C1249.8291,218.926891 1264.06097,218.572571 1273.62776,217.863919 C1283.19456,217.155268 1290.75339,215.560826 1296.30449,213.080547 C1301.8556,210.600267 1305.45785,206.643689 1307.11137,201.210696 C1307.34759,200.502044 1308.11528,200.147724 1309.41448,200.147724 C1310.71367,200.147724 1311.36326,200.502044 1311.36326,201.210696 L1303.92246,243.375241 C1303.92246,244.32011 1303.62719,245.205911 1303.03665,246.032671 C1302.4461,246.85943 1301.67841,247.272804 1300.73354,247.272804 L1192.31042,247.272804 C1191.36556,247.272804 1190.59786,246.564163 1190.00732,245.146861 C1189.41678,243.729558 1189.12151,242.312277 1189.12151,240.894974 C1189.12151,239.477671 1189.47583,238.41471 1190.18448,237.706059 C1210.73537,218.808689 1225.73493,204.576821 1235.18362,195.010027 Z M1209.25892,410.025588 C1197.80239,403.647726 1188.82627,394.84877 1182.3303,383.628457 C1175.83433,372.408143 1172.58639,359.82977 1172.58639,345.89296 C1172.58639,331.95615 1175.83433,319.495883 1182.3303,308.511787 C1188.82627,297.527691 1197.80239,288.964949 1209.25892,282.823303 C1220.71545,276.681658 1233.76625,273.610882 1248.41171,273.610882 C1263.05717,273.610882 1276.04892,276.740712 1287.38734,283.000465 C1298.72576,289.260219 1307.52472,297.941068 1313.78447,309.043273 C1320.04423,320.145478 1323.17406,332.664797 1323.17406,346.601608 C1323.17406,360.538418 1319.98517,373.057738 1313.60731,384.159942 C1307.22945,395.262147 1298.37144,403.942996 1287.03302,410.20275 C1275.6946,416.462504 1262.82096,419.592334 1248.41171,419.592334 C1233.76625,419.592334 1220.71545,416.40345 1209.25892,410.025588 Z M1276.58046,396.206955 C1282.13156,385.577185 1284.90707,370.695729 1284.90707,351.562142 C1284.90707,327.704213 1281.18671,309.988195 1273.74587,298.413556 C1266.30503,286.838917 1256.91554,281.051684 1245.57712,281.051684 C1234.47491,281.051684 1225.85312,286.54365 1219.71147,297.527746 C1213.56983,308.511842 1210.49905,323.334244 1210.49905,341.995397 C1210.49905,363.018721 1214.27847,379.967045 1221.83742,392.840878 C1229.39637,405.714712 1239.43544,412.151532 1251.95495,412.151532 C1262.82094,412.151532 1271.02936,406.836726 1276.58046,396.206955 Z M1229.45538,458.686072 C1228.2743,455.379032 1225.79405,453.135003 1222.01458,451.953918 C1218.23511,450.772832 1212.21166,450.182298 1203.94406,450.182298 C1203.47163,450.182298 1203.23541,449.473657 1203.23541,448.056355 C1203.23541,446.639052 1203.47163,445.930411 1203.94406,445.930411 C1211.73922,445.930411 1217.76267,446.048518 1222.01458,446.284735 L1247.88023,446.639059 L1273.39155,446.284735 C1277.87967,446.048518 1284.02123,445.930411 1291.81639,445.930411 C1292.52504,445.930411 1292.87936,446.639052 1292.87936,448.056355 C1292.87936,449.473657 1292.52504,450.182298 1291.81639,450.182298 C1284.02123,450.182298 1278.23399,450.831886 1274.45452,452.13108 C1270.67504,453.430274 1268.0767,455.733356 1266.65939,459.040396 C1265.24209,462.347436 1264.53345,467.544134 1264.53345,474.630648 L1264.53345,553.999205 C1264.53345,561.321935 1265.12398,566.636741 1266.30507,569.943781 C1267.48615,573.25082 1269.9664,575.494849 1273.74587,576.675935 C1277.52534,577.857021 1283.54879,578.447555 1291.81639,578.447555 C1292.52504,578.447555 1292.87936,579.156195 1292.87936,580.573498 C1292.87936,581.990801 1292.52504,582.699442 1291.81639,582.699442 C1284.02123,582.699442 1277.99778,582.581335 1273.74587,582.345118 L1247.88023,581.990794 L1222.3689,582.345118 C1217.88078,582.581335 1211.73922,582.699442 1203.94406,582.699442 C1203.47163,582.699442 1203.23541,581.990801 1203.23541,580.573498 C1203.23541,579.156195 1203.47163,578.447555 1203.94406,578.447555 C1211.73922,578.447555 1217.52646,577.797967 1221.30593,576.498773 C1225.08541,575.199579 1227.68375,572.896496 1229.10106,569.589457 C1230.51836,566.282417 1231.227,561.085718 1231.227,553.999205 L1231.227,474.630648 C1231.227,467.307917 1230.63647,461.993112 1229.45538,458.686072 Z M1300.67449,691.476883 C1307.64289,696.909877 1313.48918,703.40575 1318.21352,710.964698 C1322.93786,718.523646 1325.3,727.263548 1325.3,737.184667 C1325.3,749.231741 1321.7568,760.038512 1314.67028,769.605305 C1307.58377,779.172099 1298.01712,786.612827 1285.97005,791.927712 C1273.92297,797.242597 1260.81312,799.9 1246.64009,799.9 C1232.46706,799.9 1219.88869,797.242597 1208.90459,791.927712 C1197.9205,786.612827 1189.41681,779.467366 1183.39327,770.491115 C1177.36974,761.514865 1174.35801,751.712001 1174.35801,741.08223 C1174.35801,728.562723 1178.37364,716.752044 1186.40503,705.649839 C1194.43641,694.547634 1205.42034,685.453412 1219.35715,678.366898 C1203.76682,665.611173 1195.97177,651.674572 1195.97177,636.556676 C1195.97177,626.39934 1198.80633,618.013758 1204.47555,611.399678 C1210.14476,604.785599 1217.29022,599.884167 1225.91214,596.695236 C1234.53407,593.506305 1243.33302,591.911863 1252.30927,591.911863 C1262.93904,591.911863 1272.32853,593.742519 1280.47803,597.403884 C1288.62752,601.065249 1294.82812,605.730468 1299.08003,611.399678 C1303.33194,617.068889 1305.45786,622.856122 1305.45786,628.76155 C1305.45786,636.320498 1302.44614,644.115546 1296.4226,652.146928 C1290.39906,660.178311 1282.07254,666.674184 1271.44277,671.634744 L1273.56871,673.052039 C1284.67091,679.902336 1293.70608,686.043889 1300.67449,691.476883 Z M1232.99862,605.907658 C1229.10104,610.277675 1227.15228,615.76964 1227.15228,622.38372 C1227.15228,631.35997 1230.45927,639.273125 1237.07335,646.123422 C1243.68743,652.973718 1253.6084,660.65066 1266.83655,669.154476 C1272.50577,655.217666 1275.34033,643.761307 1275.34033,634.785057 C1275.34033,624.391503 1272.74198,615.887814 1267.5452,609.273735 C1262.34843,602.659656 1256.08877,599.352665 1248.76603,599.352665 C1242.15196,599.352665 1236.8962,601.537641 1232.99862,605.907658 Z M1282.78113,780.057861 C1289.39521,772.026479 1292.7022,762.459829 1292.7022,751.357624 C1292.7022,743.326242 1290.75344,736.180781 1286.85586,729.921027 C1282.95827,723.661273 1278.05684,718.346468 1272.15141,713.976451 C1266.24599,709.606434 1258.45094,704.468789 1248.76603,698.563361 L1242.74253,694.665798 C1237.78197,691.594975 1232.58527,688.169878 1227.15228,684.390404 C1222.19172,690.295833 1218.23514,697.38224 1215.28243,705.649839 C1212.32971,713.917439 1210.85338,722.539234 1210.85338,731.515485 C1210.85338,742.145255 1212.80214,752.125279 1216.69972,761.455855 C1220.5973,770.786432 1226.03022,778.22716 1232.99862,783.778262 C1239.96703,789.329364 1247.70302,792.104874 1256.20684,792.104874 C1267.30904,792.104874 1276.16705,788.089243 1282.78113,780.057861 Z" id="2018"></path>
        </g>
    </g>
</svg>
        </div>
</div>