	<div class="demo-3 ">
 
		<main class="site-wrapper">
			<div class="content">
				<div class="slide-wrapper">
					<div class="slide-item">
						<img src="img/slideAbout.jpg" class="  slide-item__image"  alt=""   >
						
					</div>
					<div class="slide-item">
						<img src="img/slideAbout2.jpg" class="  slide-item__image"  alt=""   >
						
					</div>	
                    	<div class="slide-item">
						<img src="img/4.jpg" class="  slide-item__image"  alt=""   >
						
					</div>			
				</div>
		
                
				<div class="render-wrapper">
               
					<div class="rendered-slider">
                                 <div class="counterArrow">
                                     <div class="counterArrow__wrapperBtn">

                              
                        <button aria-label="previous" class="scene-nav scene-nav--prev" data-nav="previous">
                           <svg  class="icon icon--arrow-nav-prev" width="26px" height="9px" viewBox="0 0 26 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <desc> </desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="slider-home" transform="translate(-17.000000, -413.000000)" fill="#000000" fill-rule="nonzero">
                                    <g id="noun_941551_cc" transform="translate(17.000000, 413.000000)">
                                        <path d="M25.6569921,4.97368421 L1.16622691,4.97368421 L3.49868074,8.19473684 C3.63588391,8.38421053 3.63588391,8.66842105 3.49868074,8.85789474 C3.43007916,8.95263158 3.32717678,9 3.2585752,9 C3.18997361,9 3.08707124,8.95263158 3.01846966,8.85789474 L0.102902375,4.83157895 C-0.0343007916,4.64210526 -0.0343007916,4.35789474 0.102902375,4.16842105 L3.01846966,0.142105263 C3.15567282,-0.0473684211 3.36147757,-0.0473684211 3.49868074,0.142105263 C3.63588391,0.331578947 3.63588391,0.615789474 3.49868074,0.805263158 L1.16622691,4.02631579 L25.6569921,4.02631579 C25.8627968,4.02631579 26,4.21578947 26,4.5 C26,4.78421053 25.8627968,4.97368421 25.6569921,4.97368421 Z" id="Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
				<button aria-label="next" class="scene-nav scene-nav--next" data-nav="next">
            
                          <svg width="26px" class="icon icon--arrow-nav-next" height="9px" viewBox="0 0 26 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <desc>.</desc>
                                <defs></defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="slider-home" transform="translate(-58.000000, -413.000000)" fill="#000000" fill-rule="nonzero">
                                        <g id="noun_941551_cc" transform="translate(17.000000, 413.000000)">
                                            <path d="M41.3430079,4.97368421 L65.8337731,4.97368421 L63.5013193,8.19473684 C63.3641161,8.38421053 63.3641161,8.66842105 63.5013193,8.85789474 C63.5699208,8.95263158 63.6728232,9 63.7414248,9 C63.8100264,9 63.9129288,8.95263158 63.9815303,8.85789474 L66.8970976,4.83157895 C67.0343008,4.64210526 67.0343008,4.35789474 66.8970976,4.16842105 L63.9815303,0.142105263 C63.8443272,-0.0473684211 63.6385224,-0.0473684211 63.5013193,0.142105263 C63.3641161,0.331578947 63.3641161,0.615789474 63.5013193,0.805263158 L65.8337731,4.02631579 L41.3430079,4.02631579 C41.1372032,4.02631579 41,4.21578947 41,4.5 C41,4.78421053 41.1372032,4.97368421 41.3430079,4.97368421 Z" id="Shape"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                     
                    
                    
                    </button>	
                           </div>
                    <div class="counter">
                                <span class="activeNumber">
                            01
                        </span>
                                <span class="lines"></span>
                                <span class="totalNumber">
                            03
                        </span>
                      </div>	
                    </div>
						<ul class="text-list">
							<li style="opacity:1">
                                <div class="wrapper-text-list">
                                        <h3>About Us</h3>
                                        <h2>Su di noi</h2>
                                         <div class="text-wrapper">
                                            <span class="lines"></span>
                                        <p> 
 L’amore per il vino è nel DNA della nostra famiglia da generazioni.
Siamo una piccola azienda a conduzione familiare, e produciamo vino da vigneti tradizionali tipici della Maremma toscana sotto la guida di X con l’aiuto dei figli Y e Z, i rappresentanti della quarta generazione di produttori 

                                        </p>

                                        </div>                                    </div>
                                    </li>
							<li> 
                                  <div class="wrapper-text-list">
                                        <h3>About Us</h3>
                                        <h2>Maremma</h2>
                                        <div class="text-wrapper">
                                            <span class="lines"></span>
                                        <p> 
 I nostri vigneti si trovano nella zona meridionale della Maremma, una regione costiera della Toscana famosa per le sue piccole cale incontaminate circondate da pinete e dalle sue colline dove i mandriani locali si prendono cura dei pregiati bovini Maremmani a dorso di cavallo.  
                                            </p>

                                        </div>
                                    </div></li>
                                    	<li> 
                                  <div class="wrapper-text-list">
                                        <h3>About Us</h3>
                                        <h2>I nostri vini</h2>
                                        <div class="text-wrapper">
                                            <span class="lines"></span>
                                        <p> 
Abbiamo una piccola produzione di vini tradizionali, che curiamo con tutta la nostra attenzione.
Dalla varietà tipica della nostra zona produciamo Morellino di Scansano DOCG, vino tradizionale ben conosciuto a livello locale che sta guadagnando sempre più attenzioni anche al di fuori della regione                                            </p>

                                        </div>
                                    </div></li>
						</ul>

						<div class="canvas-here">
						</div>

					</div>
				</div>
			</div>
		</main>
		
		</script>
	</div>