<div class="pdp_hero pdp_hero--top">
  
<div id="triggerSvg"></div>
<div id="triggerSvgMorellino"></div>

 <div class="pdp_col1"></div>
 <div class="pdp_col1">


    <div class="pdp_heroText">
        <h1>Morellino di Scansano</h1>
        <h2>D.O.C.G</h2>
        <p>Elegante, e dal colore rosso rubino intenso, il Primitivo al naso è un vino complesso e durevole, con delizioso sentore di frutti rossi ed in particolare amarena.</p>
    </div>
    <div class="pdp_notest">
        <ul>
            <li><span class="svgWrapper">
<svg width="20px" height="23px" viewBox="0 0 20 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="pdp" transform="translate(-839.000000, -555.000000)" fill="#000000" fill-rule="nonzero">
            <g id="Group-7" transform="translate(839.000000, 555.000000)">
                <g id="noun_435913_cc">
                    <path d="M20,11.5 C20,7.83829114 19.0742502,4.79367089 16.9111027,1.33797468 L16.9111027,0.903164557 C16.9111027,0.405063291 16.5052945,0 16.0062773,0 L3.99435673,0 C3.49533955,0 3.08953142,0.405379747 3.08953142,0.903164557 L3.08953142,1.33860759 C0.925749794,4.79367089 0,7.83829114 0,11.5 C0,15.1623418 0.925749794,18.2066456 3.08921438,21.6610759 L3.08921438,22.0968354 C3.08921438,22.5949367 3.49502251,23 3.99403969,23 L16.0059603,23 C16.5049775,23 16.9111027,22.5949367 16.9111027,22.0968354 L16.9111027,21.6610759 C19.0742502,18.2063291 20,15.1620253 20,11.5 Z M2.67040771,19.6651899 L5.37727474,19.6651899 C5.52564834,20.1882911 5.69050789,20.7177215 5.87248748,21.2556962 L3.58220785,21.2556962 C3.24614799,20.7164557 2.94496227,20.1879747 2.67040771,19.6651899 Z M4.89981612,11.5 C4.89981612,9.28291139 5.10208611,7.2971519 5.53452539,5.30189873 L9.6829624,5.30189873 L9.6829624,17.6981013 L5.53611058,17.6981013 C5.1036713,15.7028481 4.89981612,13.7170886 4.89981612,11.5 Z M3.58189081,1.74398734 L5.87248748,1.74398734 C5.69082493,2.28196203 5.52659945,2.81139241 5.37790882,3.33449367 L2.67072475,3.33449367 C2.94527931,2.81170886 3.24646503,2.28322785 3.58189081,1.74398734 Z M17.3295923,3.33449367 L14.6233593,3.33449367 C14.4746687,2.81139241 14.3098091,2.28164557 14.1281466,1.74398734 L16.4184262,1.74398734 C16.754169,2.28322785 17.0550377,2.81170886 17.3295923,3.33449367 Z M13.4607824,1.74398734 C13.6459324,2.28291139 13.8120601,2.81170886 13.9642382,3.33449367 L10.3170376,3.33449367 L10.3170376,1.74398734 L13.4607824,1.74398734 Z M9.6829624,3.33449367 L6.03702999,3.33449367 C6.18857396,2.81139241 6.35406759,2.28291139 6.53985163,1.74398734 L9.6829624,1.74398734 L9.6829624,3.33449367 Z M2.39838945,3.96740506 L17.6016106,3.96740506 C17.706867,4.19936709 17.808002,4.43386076 17.9040644,4.66898734 L2.09561854,4.66898734 C2.19199797,4.43386076 2.29313297,4.19936709 2.39838945,3.96740506 Z M15.1005009,11.5 C15.1005009,13.7170886 14.8979139,15.7025316 14.4651576,17.6981013 L10.3170376,17.6981013 L10.3170376,5.30189873 L14.4651576,5.30189873 C14.8975969,7.29746835 15.1005009,9.28322785 15.1005009,11.5 Z M17.9043815,18.3310127 C17.808002,18.5658228 17.7071841,18.8003165 17.6019276,19.0322785 L2.39838945,19.0322785 C2.29281593,18.8006329 2.19199797,18.5658228 2.09561854,18.3310127 L17.9043815,18.3310127 Z M6.53985163,21.2556962 C6.35406759,20.7167722 6.18857396,20.1879747 6.03734703,19.6651899 L9.6829624,19.6651899 L9.6829624,21.2556962 L6.53985163,21.2556962 Z M10.3170376,19.6651899 L13.96297,19.6651899 C13.811426,20.1879747 13.6462494,20.7167722 13.4601484,21.2556962 L10.3170376,21.2556962 L10.3170376,19.6651899 Z M14.6217741,19.6651899 L17.3295923,19.6651899 C17.0553548,20.1879747 16.754169,20.7164557 16.4184262,21.2556962 L14.1271955,21.2556962 C14.3094921,20.7177215 14.4730835,20.1886076 14.6217741,19.6651899 Z M18.2334665,17.6981013 L15.1157187,17.6981013 C15.5380128,15.7044304 15.7345761,13.7151899 15.7345761,11.5 C15.7345761,9.28481013 15.5373787,7.29556962 15.1154017,5.30189873 L18.2331495,5.30189873 C19.0127449,7.29936709 19.3659248,9.2835443 19.3659248,11.5 C19.3659248,13.7170886 19.0127449,15.7009494 18.2334665,17.6981013 Z M3.72328958,0.903164557 C3.72328958,0.754113924 3.84471498,0.632911392 3.99403969,0.632911392 L16.0059603,0.632911392 C16.155285,0.632911392 16.2767104,0.754113924 16.2767104,0.903164557 L16.2767104,1.11107595 L3.72328958,1.11107595 L3.72328958,0.903164557 Z M1.76685055,5.30189873 L4.88745165,5.30189873 C4.46484053,7.29525316 4.26574092,9.28481013 4.26574092,11.5 C4.26574092,13.7151899 4.46388942,15.7047468 4.88650054,17.6981013 L1.76685055,17.6981013 C0.987572126,15.7009494 0.634075201,13.7170886 0.634075201,11.5 C0.634075201,9.28322785 0.987255088,7.29905063 1.76685055,5.30189873 Z M16.2770275,22.0968354 C16.2770275,22.2458861 16.155285,22.3670886 16.0059603,22.3670886 L3.99403969,22.3670886 C3.84471498,22.3670886 3.72328958,22.2455696 3.72328958,22.0968354 L3.72328958,21.8886076 L16.2770275,21.8886076 L16.2770275,22.0968354 Z" id="Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
</span><h4>30 MESI IN  GRANDI BOTTI  DI  ROVERE DI SLAVONIA E BOTTIGLIA</h4></li>
            <li><span class="svgWrapper">
                
<svg width="19px" height="19px" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="pdp" transform="translate(-839.000000, -598.000000)" fill="#000000" fill-rule="nonzero">
            <g id="Group-7" transform="translate(839.000000, 555.000000)">
                <g id="noun_1780731_cc" transform="translate(0.000000, 43.000000)">
                    <path d="M11.4203571,2.43589744 L7.57738095,2.43589744 C7.315,2.43589744 7.10238095,2.21782662 7.10238095,1.94871795 C7.10238095,1.67960928 7.315,1.46153846 7.57738095,1.46153846 L11.4203571,1.46153846 C11.6827381,1.46153846 11.8953571,1.67960928 11.8953571,1.94871795 C11.8953571,2.21782662 11.6827381,2.43589744 11.4203571,2.43589744 Z M16.625,19 L2.375,19 C1.06535714,19 0,17.907326 0,16.5641026 L0,3.8974359 C0,2.55421245 1.06535714,1.46153846 2.375,1.46153846 L4.78619048,1.46153846 C5.04857143,1.46153846 5.26119048,1.67960928 5.26119048,1.94871795 C5.26119048,2.21782662 5.04857143,2.43589744 4.78619048,2.43589744 L2.375,2.43589744 C1.59011905,2.43589744 0.95,3.09242979 0.95,3.8974359 L0.95,16.5641026 C0.95,17.3691087 1.59011905,18.025641 2.375,18.025641 L16.625,18.025641 C17.409881,18.025641 18.05,17.3691087 18.05,16.5641026 L18.05,3.8974359 C18.05,3.09242979 17.409881,2.43589744 16.625,2.43589744 L14.25,2.43589744 C13.987619,2.43589744 13.775,2.21782662 13.775,1.94871795 C13.775,1.67960928 13.987619,1.46153846 14.25,1.46153846 L16.625,1.46153846 C17.9346429,1.46153846 19,2.55421245 19,3.8974359 L19,16.5641026 C19,17.907326 17.9346429,19 16.625,19 Z M0.95,5.22210012 L18.05,5.22210012 L18.05,6.1964591 L0.95,6.1964591 L0.95,5.22210012 Z M6.18857143,9.75982906 L4.28857143,9.75982906 C4.02619048,9.75982906 3.81357143,9.54175824 3.81357143,9.27264957 C3.81357143,9.0035409 4.02619048,8.78547009 4.28857143,8.78547009 L6.18857143,8.78547009 C6.45095238,8.78547009 6.66357143,9.0035409 6.66357143,9.27264957 C6.66357143,9.54175824 6.45095238,9.75982906 6.18857143,9.75982906 Z M10.4432143,9.75982906 L8.54321429,9.75982906 C8.28083333,9.75982906 8.06821429,9.54175824 8.06821429,9.27264957 C8.06821429,9.0035409 8.28083333,8.78547009 8.54321429,8.78547009 L10.4432143,8.78547009 C10.7055952,8.78547009 10.9182143,9.0035409 10.9182143,9.27264957 C10.9182143,9.54175824 10.7033333,9.75982906 10.4432143,9.75982906 Z M14.7182143,9.75982906 L12.8182143,9.75982906 C12.5558333,9.75982906 12.3432143,9.54175824 12.3432143,9.27264957 C12.3432143,9.0035409 12.5558333,8.78547009 12.8182143,8.78547009 L14.7182143,8.78547009 C14.9805952,8.78547009 15.1932143,9.0035409 15.1932143,9.27264957 C15.1932143,9.54175824 14.9783333,9.75982906 14.7182143,9.75982906 Z M6.18857143,12.682906 L4.28857143,12.682906 C4.02619048,12.682906 3.81357143,12.4648352 3.81357143,12.1957265 C3.81357143,11.9266178 4.02619048,11.708547 4.28857143,11.708547 L6.18857143,11.708547 C6.45095238,11.708547 6.66357143,11.9266178 6.66357143,12.1957265 C6.66357143,12.4648352 6.45095238,12.682906 6.18857143,12.682906 Z M10.4432143,12.682906 L8.54321429,12.682906 C8.28083333,12.682906 8.06821429,12.4648352 8.06821429,12.1957265 C8.06821429,11.9266178 8.28083333,11.708547 8.54321429,11.708547 L10.4432143,11.708547 C10.7055952,11.708547 10.9182143,11.9266178 10.9182143,12.1957265 C10.9182143,12.4648352 10.7033333,12.682906 10.4432143,12.682906 Z M14.7182143,12.682906 L12.8182143,12.682906 C12.5558333,12.682906 12.3432143,12.4648352 12.3432143,12.1957265 C12.3432143,11.9266178 12.5558333,11.708547 12.8182143,11.708547 L14.7182143,11.708547 C14.9805952,11.708547 15.1932143,11.9266178 15.1932143,12.1957265 C15.1932143,12.4648352 14.9783333,12.682906 14.7182143,12.682906 Z M6.18857143,15.6059829 L4.28857143,15.6059829 C4.02619048,15.6059829 3.81357143,15.3879121 3.81357143,15.1188034 C3.81357143,14.8496947 4.02619048,14.6316239 4.28857143,14.6316239 L6.18857143,14.6316239 C6.45095238,14.6316239 6.66357143,14.8496947 6.66357143,15.1188034 C6.66357143,15.3879121 6.45095238,15.6059829 6.18857143,15.6059829 Z M10.4432143,15.6059829 L8.54321429,15.6059829 C8.28083333,15.6059829 8.06821429,15.3879121 8.06821429,15.1188034 C8.06821429,14.8496947 8.28083333,14.6316239 8.54321429,14.6316239 L10.4432143,14.6316239 C10.7055952,14.6316239 10.9182143,14.8496947 10.9182143,15.1188034 C10.9182143,15.3879121 10.7033333,15.6059829 10.4432143,15.6059829 Z M14.7182143,15.6059829 L12.8182143,15.6059829 C12.5558333,15.6059829 12.3432143,15.3879121 12.3432143,15.1188034 C12.3432143,14.8496947 12.5558333,14.6316239 12.8182143,14.6316239 L14.7182143,14.6316239 C14.9805952,14.6316239 15.1932143,14.8496947 15.1932143,15.1188034 C15.1932143,15.3879121 14.9783333,15.6059829 14.7182143,15.6059829 Z M6.175,3.8974359 C5.91261905,3.8974359 5.7,3.67936508 5.7,3.41025641 L5.7,0.487179487 C5.7,0.218070818 5.91261905,0 6.175,0 C6.43738095,0 6.65,0.218070818 6.65,0.487179487 L6.65,3.41025641 C6.65,3.67936508 6.43738095,3.8974359 6.175,3.8974359 Z M12.825,3.8974359 C12.562619,3.8974359 12.35,3.67936508 12.35,3.41025641 L12.35,0.487179487 C12.35,0.218070818 12.562619,0 12.825,0 C13.087381,0 13.3,0.218070818 13.3,0.487179487 L13.3,3.41025641 C13.3,3.67936508 13.087381,3.8974359 12.825,3.8974359 Z" id="Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
</span><h4> TRA IL 10 E IL 15 OTTOBRE</h4></li>
            <li><span class="svgWrapper">
                
<svg width="22px" height="21px" viewBox="0 0 22 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="pdp" transform="translate(-841.000000, -637.000000)" fill="#000000" fill-rule="nonzero">
            <g id="Group-7" transform="translate(839.000000, 555.000000)">
                <g id="noun_1108790_cc" transform="translate(2.000000, 82.000000)">
                    <path d="M21.887638,2.79171411 C21.4510215,2.30957542 20.8685963,2.01467101 20.5760349,1.88700493 L20.4222681,1.49603632 C20.3780265,1.38361188 20.2898129,1.29579774 20.1796135,1.25440766 C20.0695489,1.21301758 19.9477494,1.2221066 19.8440243,1.27887815 L19.2381295,1.61279553 L19.2931618,0.903570659 C19.3035478,0.770031668 19.2531015,0.639009653 19.1569298,0.549517555 C19.0606233,0.459885621 18.9296518,0.422270989 18.802592,0.447160961 L17.4837051,0.707666873 C17.3512499,0.733815347 17.239297,0.825265074 17.1837251,0.952791313 C16.8213617,1.78386178 16.4227485,2.6735216 16.1404887,3.27694653 C16.3475511,1.70263721 16.0767227,0.603842036 16.0546188,0.518894476 C16.0253491,0.406050525 15.9530518,0.310405867 15.8543174,0.254193633 C14.8030385,-0.346102576 13.8533267,0.301456658 13.8136711,0.329422924 C13.6777089,0.424228618 13.6085139,0.59300513 13.6369743,0.760243466 C13.8381187,1.94431831 13.8274798,2.93082885 13.7058152,3.7409246 C13.6708973,3.70657851 13.6396719,3.66875411 13.6028488,3.63629577 C13.0233742,3.12580627 12.2728173,2.90814121 11.5250928,3.02282045 C11.4165794,2.87709865 11.2942236,2.74025615 11.1548556,2.61748416 C10.6222023,2.14807013 9.94657291,1.92182294 9.24760872,1.98055212 C8.69025492,2.02751801 8.17540618,2.25470906 7.7592244,2.62538464 C7.6863201,2.53447676 7.60751466,2.4482707 7.51908193,2.37040207 C7.11632103,2.01564981 6.60538387,1.84435632 6.07758635,1.88896256 C5.55086788,1.93342894 5.07230267,2.18778226 4.72996939,2.60531882 C4.20478521,3.24614865 4.1157118,4.13369353 4.4740793,4.86156842 C4.40768311,4.92718431 4.34373165,4.99608624 4.28350634,5.06956764 C3.60634264,5.89570905 3.49885769,7.02650812 3.91611851,7.94960513 C3.83464912,8.02658231 3.75592799,8.10714269 3.68408588,8.1947995 C3.18562541,8.80301366 2.9973792,9.57640368 3.09773224,10.310571 C2.56489346,10.3761694 2.0709853,10.6445233 1.71155557,11.083157 C0.966596278,11.992131 1.04696971,13.3425702 1.87103795,14.1541167 C1.85203631,14.1758256 1.83163522,14.1958914 1.81325741,14.2183168 C1.20643525,14.9586192 1.05988476,15.944483 1.33868813,16.804551 C1.01628381,16.9338252 0.72733051,17.1432052 0.498821715,17.4221339 C0.136390857,17.8642808 -0.0382827397,18.4262632 0.00703797856,19.0046059 C0.0523586968,19.5829486 0.31227842,20.1082952 0.738778748,20.4840221 C1.13223272,20.8305243 1.61430489,21 2.09408404,21 C2.68810916,20.9998602 3.27862732,20.7401932 3.69258354,20.2351222 C3.73053626,20.1887506 3.76339717,20.1387085 3.79738769,20.0894703 C4.12043269,20.2801479 4.47939032,20.3743593 4.83733631,20.3742545 C5.43446375,20.3742545 6.02821912,20.1130494 6.44433344,19.6056013 C6.62591979,19.3840384 6.75682384,19.1287412 6.84094031,18.8562448 C6.98325884,18.8823234 7.1271285,18.8956772 7.27089702,18.8956772 C7.96770305,18.8956772 8.66032774,18.5908448 9.14590686,17.998519 C9.16514456,17.9750448 9.18015031,17.9485991 9.19851127,17.9244782 C9.2716179,18.0068914 9.34853498,18.086368 9.43199389,18.1598844 C9.9177079,18.5877685 10.5213097,18.8169522 11.1516184,18.8169522 C11.224725,18.8169522 11.2981014,18.8138759 11.3716127,18.8075835 C12.0805582,18.7478755 12.7244901,18.4055682 13.184981,17.8437256 C13.3947579,17.5877817 13.5472264,17.3004107 13.6538515,16.9992139 C14.001344,17.1577302 14.3687824,17.2410523 14.7354621,17.2410523 C15.5034864,17.2410523 16.2623387,16.900423 16.796206,16.2490883 C17.2641154,15.6782965 17.489505,14.9528512 17.4309658,14.2061515 C17.4151845,14.0049691 17.3777038,13.8093974 17.3229244,13.62059 C17.5632018,13.4850234 17.7795543,13.3035398 17.957954,13.0859621 C18.7545736,12.113994 18.6399229,10.6513576 17.7023505,9.82551331 C17.5639774,9.70361528 17.4135996,9.60288423 17.2559887,9.52069832 C17.4950184,8.49629348 17.1686687,7.41793117 16.3857567,6.72824774 C16.0624588,6.44356848 15.6838251,6.24745495 15.2776078,6.14480122 C15.5306991,5.62050339 15.7200749,5.11025859 15.8594597,4.62441439 L18.3708311,6.86304523 C18.4467703,6.93072362 18.5428071,6.96693997 18.641002,6.96693997 C18.6710809,6.96693997 18.7014296,6.963584 18.7313736,6.95659245 L20.0414931,6.65287864 C20.1677436,6.62365387 20.273492,6.53500076 20.3275801,6.4132076 C20.3815333,6.29141444 20.3777566,6.15046439 20.3170592,6.0320272 L19.9949584,5.40376469 L20.6790855,5.46081592 C20.7962989,5.47172276 20.9112193,5.42865469 20.9964654,5.34531519 C21.0817115,5.26197568 21.1290555,5.1450766 21.1264927,5.02370295 L21.117995,4.60169178 C21.3377196,4.36397841 21.7592293,3.85359378 21.9754468,3.23134405 C22.0283211,3.0793473 21.9943305,2.90945215 21.887638,2.79171411 Z M13.066149,4.29098642 C13.1975252,4.40676683 13.3115014,4.54016598 13.4048405,4.68754827 C13.4240444,4.7178742 13.4465868,4.74447713 13.4712198,4.76795132 C13.1704811,5.72128687 12.7302901,6.31095588 12.467757,6.60000487 C12.3197566,6.37711362 12.1449312,6.17138667 11.9406845,5.99147608 C11.8975894,5.95352934 11.8520495,5.92072139 11.8075212,5.88574605 C12.112711,5.24294109 12.149551,4.50952538 11.9446636,3.84960856 C12.3528535,3.85808585 12.7475215,4.01029235 13.066149,4.29098642 Z M14.6282301,9.07238138 C15.360443,9.7173712 15.4988162,10.8295028 14.964932,11.6443353 C14.3779714,11.593157 13.7791411,11.7396654 13.2696033,12.0792285 C13.107339,11.8000026 12.9017434,11.5419263 12.6492254,11.319472 C12.3984609,11.0985908 12.1185279,10.9277693 11.8215491,10.8046303 C11.9880791,10.6719652 12.143279,10.5216814 12.2824783,10.3518387 C12.6786637,9.86856393 12.9155689,9.28426092 12.9758785,8.66638093 C13.5533468,8.52410244 14.1720386,8.6706283 14.6282301,9.07238138 Z M3.23344155,16.7770917 C3.06048772,16.9881147 2.93160691,17.2268769 2.84718696,17.4810729 C2.77762099,17.4354529 2.70872947,17.3884171 2.6452164,17.332502 C1.9096989,16.6845233 1.8197319,15.5370668 2.44478014,14.7745662 C2.66121692,14.510547 2.9425662,14.3198345 3.2563717,14.2183693 C3.40892448,14.5613582 3.6313467,14.8770626 3.92674065,15.1372888 C4.21493523,15.3911702 4.54868657,15.5686338 4.90600875,15.6720216 C4.87657051,15.7834148 4.85397759,15.896049 4.83941021,16.009697 C4.22466365,16.0079315 3.64124371,16.279624 3.23344155,16.7770917 Z M5.39966396,14.6987775 C5.35189848,14.7570523 5.30841554,14.8175993 5.26658492,14.8788804 C4.97144387,14.8195394 4.69592829,14.6874686 4.46330555,14.4825982 C3.78047677,13.8810784 3.65233783,12.8518319 4.13088619,12.0937185 C4.37730073,12.2809003 4.6506076,12.4237031 4.94288239,12.5107656 C5.06029811,13.0882518 5.35429266,13.6070788 5.7951412,13.9954255 C5.86357751,14.0557278 5.93523414,14.1106816 6.00849253,14.1627163 C5.78409762,14.3030197 5.57759164,14.4816368 5.39966396,14.6987775 Z M4.91502902,5.62581698 C5.21946016,5.25428494 5.64528608,5.02789791 6.11413969,4.98846546 C6.58312819,4.94903301 7.0384935,5.10116957 7.39674299,5.41676906 C7.62641517,5.6190177 7.79542368,5.87573067 7.89994121,6.16367849 C7.84344206,6.22233777 7.78728011,6.28157384 7.73462512,6.34580889 C7.25147391,6.93530313 7.00629015,7.67483644 7.02942262,8.44256328 C6.40553774,8.75826764 5.65047907,8.66903771 5.11654436,8.19871479 C4.37684549,7.54696062 4.28633894,6.39279221 4.91502902,5.62581698 Z M11.4041196,6.64616673 C11.8427594,7.03266074 12.1100977,7.5731091 12.1567673,8.16795187 C12.2033019,8.76279465 12.0237725,9.34085767 11.6509557,9.79558941 C10.8815825,10.7342776 9.51872379,10.849219 8.61298383,10.0514809 C8.17434403,9.66512671 7.90700573,9.12467835 7.86033618,8.52983555 C7.81380153,7.93499277 7.99333091,7.35692975 8.36614778,6.9020582 C8.7918388,6.38272436 9.39908248,6.11550657 10.0101029,6.11550657 C10.5035052,6.11550654 10.9994703,6.2898763 11.4041196,6.64616673 Z M7.57883517,10.1403437 C7.72081649,10.3465251 7.88537386,10.5378844 8.07641888,10.7061715 C8.32713283,10.9270527 8.60679605,11.0982762 8.90365687,11.2213279 C8.73729543,11.3539055 8.58224732,11.5041019 8.44316599,11.6738048 C7.95003343,12.2754644 7.72128856,13.0176196 7.73867161,13.7510003 C7.23710884,13.8320151 6.72268158,13.6852446 6.33184099,13.340735 C5.9744008,13.0259745 5.7566995,12.5856454 5.71866245,12.1011296 C5.68076031,11.616474 5.82697356,11.1455218 6.13073028,10.7749686 C6.49115481,10.3354784 7.02549415,10.1046343 7.57883517,10.1403437 Z M9.32138982,15.3794768 C8.41591964,14.5817386 8.30518063,13.1688821 9.07468865,12.2300541 C9.44737063,11.7753224 9.96869376,11.4981765 10.5424864,11.4499347 C10.6021048,11.4449008 10.6614533,11.4423838 10.7205321,11.4423838 C11.2307948,11.4423838 11.7194763,11.6279401 12.1126605,11.9741626 C13.0181307,12.7719008 13.1290046,14.1847573 12.3594965,15.1235853 C11.5899885,16.0625532 10.2273995,16.1774946 9.32138982,15.3794768 Z M10.6182907,3.27217482 C11.2330036,3.81379428 11.4086213,4.7210379 11.0769438,5.46410196 C10.2612721,5.14051462 9.34529786,5.20495942 8.5803927,5.63646164 C8.42500738,5.30453686 8.20990257,5.00568219 7.93330792,4.7620784 C7.85273214,4.69106154 7.7678738,4.62773539 7.68112713,4.56816721 C7.70562528,4.17106351 7.84558334,3.79037252 8.09611182,3.48457871 C8.73478325,2.70543814 9.86658726,2.60965362 10.6182907,3.27217482 Z M5.36149207,3.16156817 C5.7719413,2.6608319 6.49936581,2.59944594 6.98251705,3.02509272 C7.07352943,3.1053035 7.14537153,3.2012628 7.20751892,3.30417871 C7.04859291,3.58242573 6.93953993,3.88732809 6.88440649,4.20504253 C6.61460658,4.13552885 6.33318987,4.10857635 6.04696796,4.13213794 C5.73877696,4.15807668 5.44449578,4.24180073 5.17184645,4.37214106 C5.01701751,3.97003837 5.07990674,3.50527375 5.36149207,3.16156817 Z M4.3154737,8.75118865 C4.33933114,8.72210372 4.36866822,8.69952096 4.39414425,8.67209651 C4.4527341,8.73493325 4.51442625,8.79565503 4.57997943,8.85340541 C5.05800512,9.27443775 5.6571558,9.49075693 6.25967855,9.49075693 C6.33625843,9.49075693 6.41270342,9.48268168 6.48914842,9.47567263 C6.11258854,9.63570967 5.77155351,9.88647982 5.49920769,10.2187192 C5.17612896,10.6128865 4.97611421,11.0847825 4.90997092,11.5852041 C4.76940588,11.5167217 4.63705184,11.4294669 4.51725879,11.3239466 C3.77755992,10.6723323 3.68705337,9.51816388 4.3154737,8.75118865 Z M2.34307825,11.6394063 C2.59901892,11.3273026 2.96583347,11.1554323 3.35230726,11.1544535 C3.40668201,11.2650776 3.47103811,11.3711222 3.54087382,11.4742479 C3.12764263,12.040198 2.96227593,12.727819 3.03401688,13.3910917 C2.85833166,13.4458707 2.68950862,13.5192647 2.52997563,13.6108542 C2.51883093,13.6016603 2.5063711,13.5947212 2.49549614,13.5851602 C2.22451602,13.346468 2.05928422,13.0125506 2.03055412,12.6450737 C2.00182402,12.2775968 2.11269796,11.9204674 2.34307825,11.6394063 Z M1.27534373,19.8293315 C1.01758214,19.6022453 0.860443354,19.2845483 0.833062085,18.9349698 C0.805680816,18.5853913 0.91129427,18.2457409 1.13034442,17.9783832 C1.28994484,17.7836505 1.49793457,17.6445358 1.73001778,17.5722255 C1.83982948,17.7211983 1.9653382,17.8609598 2.10865147,17.9871926 C2.3008093,18.1565284 2.51417749,18.292497 2.74266943,18.3965141 C2.78045356,18.8122678 2.92858892,19.1994085 3.16962501,19.522856 C3.13688213,19.5770407 3.10130671,19.6296697 3.06092608,19.6790128 C2.60866306,20.2309273 1.80732263,20.2979065 1.27534373,19.8293315 Z M5.81281087,19.0492121 C5.35636648,19.6056013 4.54868654,19.673839 4.01131231,19.2009292 C3.47434272,18.7278796 3.40865467,17.8900098 3.86496415,17.333341 C4.11899959,17.0233872 4.48535892,16.8559041 4.86948911,16.8666362 C4.97651885,17.403414 5.24795421,17.908887 5.68116497,18.2904869 C5.80190221,18.3968462 5.930058,18.4881561 6.06312016,18.5662345 C6.01301111,18.7423871 5.92948475,18.9069511 5.81281087,19.0492121 Z M6.2177299,17.6357963 C5.53319823,17.0328433 5.44957071,15.9648111 6.03118658,15.2550268 C6.50654831,14.6751985 7.28227782,14.5021221 7.94357589,14.8142084 C8.07350203,15.1564108 8.26525519,15.4768694 8.51428311,15.7596434 C8.46528681,16.2332874 8.53576324,16.7045541 8.71143161,17.133487 C8.6558935,17.2425729 8.59214438,17.3473766 8.51424938,17.4424095 C7.93263351,18.1517742 6.90253135,18.2387493 6.2177299,17.6357963 Z M12.5534584,17.2874763 C12.2363483,17.6743898 11.7927178,17.9101455 11.3045759,17.9513958 C10.8168386,17.9922266 10.3417804,17.8340772 9.96855887,17.5051938 C9.64944234,17.2240453 9.43921018,16.841956 9.3591908,16.4285269 C9.78575858,16.6547566 10.2504477,16.7689814 10.7147321,16.7689814 C11.5468596,16.7688416 12.3729005,16.409003 12.9605693,15.7130271 C13.0595566,16.264627 12.9191939,16.8412393 12.5534584,17.2874763 Z M16.1646834,15.692839 C15.5751094,16.412324 14.5901425,16.5847361 13.8138734,16.1279244 C13.8252373,15.6637191 13.7289646,15.1944624 13.5077057,14.7621736 C13.7250698,14.1594653 13.754508,13.5054738 13.6004715,12.8929249 C14.2918485,12.3462016 15.2784509,12.359538 15.9498146,12.9510248 C16.3316686,13.2874592 16.564342,13.757852 16.6049418,14.2757876 C16.6455416,14.7937231 16.4892121,15.2969763 16.1646834,15.692839 Z M17.3264314,12.529573 C17.2228918,12.6559805 17.0982598,12.7612736 16.9613366,12.8439489 C16.8277518,12.6435006 16.6702758,12.4583463 16.4863795,12.2963342 C16.2775299,12.1123335 16.0465595,11.968919 15.8038205,11.8615984 C16.0770431,11.3254673 16.167988,10.7247516 16.0861983,10.147545 C16.4728744,10.0974504 16.8624842,10.2129512 17.1657857,10.4802039 C17.4511983,10.7316208 17.6251975,11.0832968 17.6555462,11.4704899 C17.6858949,11.8575433 17.5689512,12.2336897 17.3264314,12.529573 Z M15.8491919,7.38293839 C16.3833963,7.85350602 16.6108935,8.58505149 16.460364,9.28518731 C16.2546167,9.26592555 16.0457334,9.27643037 15.8383675,9.31783795 C15.6795427,8.98226006 15.4556536,8.67389686 15.1647951,8.41769078 C14.8829906,8.16950752 14.5574671,7.99026115 14.2126385,7.87998661 C14.4516513,7.56325099 14.6656433,7.24721456 14.8529454,6.93414952 C15.2208052,6.97830126 15.5651955,7.13290234 15.8491919,7.38293839 Z M13.2375349,7.75822838 C13.1396097,7.76459071 13.0421061,7.77930797 12.9448386,7.79683934 C12.922077,7.66541531 12.8887104,7.5375395 12.8503192,7.41167374 C13.2942701,7.0010763 15.0969657,5.05166925 14.5034632,0.931956464 C14.6922996,0.863718754 14.9794657,0.810163304 15.294013,0.930558154 C15.4365508,1.71162138 15.7709934,4.72755754 13.2375349,7.75822838 Z M20.4218635,4.1079471 C20.3328406,4.19142644 20.2832037,4.3109823 20.2857664,4.43529241 L20.2883292,4.56631443 L19.3071896,4.48451306 C19.156795,4.47052993 19.0107166,4.54561939 18.9277635,4.67678124 C18.8445406,4.80794309 18.837122,4.97560094 18.9080705,5.11431369 L19.3301197,5.93750115 L18.7534945,6.07117998 L16.6325928,4.18051958 C16.852722,3.76354233 17.2061157,2.98440176 17.8501824,1.50987962 L18.4235704,1.39661619 L18.351408,2.32593569 C18.3392685,2.48226719 18.4103519,2.63314528 18.5368722,2.71942125 C18.6633926,2.80541757 18.8252523,2.81338795 18.9589214,2.73969681 L19.8279732,2.26077425 L19.8757218,2.3821479 C19.9211774,2.49736899 20.0124932,2.58658141 20.1261997,2.62671302 C20.1321345,2.62881048 20.6587181,2.82135833 21.0900742,3.19219122 C20.835415,3.71278356 20.4260448,4.10389198 20.4218635,4.1079471 Z" id="Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
</span><h4>3ACCIACIO</h4></li>
        </ul>
    </div>

       </div>
</div>