<header class="header-container">
	<div class="header-part header-part_left">
		<div class='home-link'>
			<a href='index.html'><h2>HOME</h2></a>
		</div>
	</div>
	<div class="header-part header-part_center">
		<div class="logo-container">
			<!--<img src="./img/logo.svg" alt='WOW Tapes' />-->
			<a href='index.html'>
				{{> ../img/logo.svg}}
			</a>
			
		</div>
	</div>
	<div class="header-part header-part_right">
		<div class='menu-cta-container'>
			<h2 class='menu-cta'>MENU</h2>
		</div>
	</div>
	{{> ./menu.html}}

</header>

