	<div class="projects-container">
		<div class='project-carousel-wrapper'>
			<div class='project-carousel-container'>
				<div class="project-carousel-preview">
					<div class='project-carousel-preview-ct'>
						<div class='preview-img' preview-index='0' style="background: url('img/clip1.jpg'); background-size: cover;">

							<video class='project-clip' loop>
							  <source src="img/clip0.mp4" type="video/mp4" >
							
							Your browser does not support the video tag.
							</video>
							
						</div>
						<div class='preview-img' preview-index='1' style="background: url('img/clip2.jpg'); background-size: cover;">
							<video class='project-clip' loop>
							  <source src="img/clip1.mp4" type="video/mp4" >
							
							Your browser does not support the video tag.
							</video>
						</div>
						<div class='preview-img' preview-index='2' style="background: url('img/clip3.jpg'); background-size: cover;">
							<video class='project-clip' loop>
							  <source src="img/clip1.mp4" type="video/mp4" >
							
							Your browser does not support the video tag.
							</video>
						</div>
						<div class='preview-img' preview-index='3' style="background: url('img/clip4.jpg'); background-size: cover;">
							<video class='project-clip' loop>
							  <source src="img/clip1.mp4" type="video/mp4" >
							
							Your browser does not support the video tag.
							</video>
						</div>
					</div>
				</div>
				<div class="project-carousel-list-container">
					<ul class='project-carousel-list'>
						<li class="project-carousel-element" preview-index='0' >
							
								<div class="project-carousel-element-inner">
									<img class='project-carousel-element-img' src='img/clip1.jpg'/>
									<a href='project-single.html' link-type='project-enter'>
									<div class='project-slide-title-wrapper'>
										<div class='project-slide-title-container'>
											<div class="project-slide-index-container">
												<span class='project-slide-index'>
													01
												</span>
											</div>
											<div class='project-slide-title'>
												<span class="project-slide-stagger">
													PHILIPPINES
												</span>
											</div>
											<div class='project-slide-client'>
												<span>
													<span class="project-slide-client__type">
														CLIENT:
													</span>
													<span class="project-slide-client__role">
													Opodo
													</span>
												</span>
											</div>
										</div>
									</div>
									</a>
								</div>
							
						</li>
						<li class="project-carousel-element" preview-index='1' >
							<div class="project-carousel-element-inner">
								<img class='project-carousel-element-img' src='img/clip2.jpg'/>
								<div class='project-slide-title-wrapper'>
									<div class='project-slide-title-container'>
										<div class="project-slide-index-container">
											<span class='project-slide-index'>
												02
											</span>
										</div>
										<div class='project-slide-title'>
											<span class="project-slide-stagger">
												PHILIPPINES
											</span>
										</div>
										<div class='project-slide-client'>
											<span>
													<span class="project-slide-client__type">
													CLIENT:
												</span>
												<span class="project-slide-client__role">
												 Opodo
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="project-carousel-element" preview-index='2' >
							<div class="project-carousel-element-inner">
								<img class='project-carousel-element-img' src='img/clip3.jpg'/>
								<div class='project-slide-title-wrapper'>
									<div class='project-slide-title-container'>
										<div class="project-slide-index-container">
											<span class='project-slide-index'>
												03
											</span>
										</div>
										<div class='project-slide-title'>
											<span class="project-slide-stagger">
												PHILIPPINES
											</span>
										</div>
										<div class='project-slide-client'>
											<span>
												<span class="project-slide-client__type">
													CLIENT:
												</span>
												<span class="project-slide-client__role">
												 Opodo
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="project-carousel-element" preview-index='3' >
							<div class="project-carousel-element-inner">
								<img class='project-carousel-element-img' src='img/clip4.jpg'/>
								<div class='project-slide-title-wrapper'>
									<div class='project-slide-title-container'>
										<div class="project-slide-index-container">
											<span class='project-slide-index'>
												04
											</span>
										</div>
										<div class='project-slide-title'>
											<span class="project-slide-stagger">
												PHILIPPINES
											</span>
										</div>
										<div class='project-slide-client'>
											<span>
												<span class="project-slide-client__type">
													CLIENT:
												</span>
												<span class="project-slide-client__role">
												 Opodo
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<!--<div class='carousel-buttons'>
					<span class='carousel-btn carousel-prev'>&lt;Prev</span>
					<span class='carousel-btn carousel-next'>Next&gt;</span>
				</div>-->
			</div>
		</div>
			<div class="slider-counter">
		<div class='counter_current-index'>
			<div class='current-index_dec'>
				<span>0</span>
				<span>1</span>
				<span>2</span>
				<span>3</span>
				<span>4</span>
				<span>5</span>
				<span>6</span>
				<span>7</span>
				<span>8</span>
				<span>9</span>
			</div>
			<div class='current-index_unit'>
				<span>0</span>
				<span>1</span>
				<span>2</span>
				<span>3</span>
				<span>4</span>
				<span>5</span>
				<span>6</span>
				<span>7</span>
				<span>8</span>
				<span>9</span>
			</div>
		</div>
		<div class='counter_total'>
			<div class='total-index_dec'>
				<span>0</span>
				<span>1</span>
				<span>2</span>
				<span>3</span>
				<span>4</span>
				<span>5</span>
				<span>6</span>
				<span>7</span>
				<span>8</span>
				<span>9</span>
			</div>
			<div class='total-index_unit'>
				<span>0</span>
				<span>1</span>
				<span>2</span>
				<span>3</span>
				<span>4</span>
				<span>5</span>
				<span>6</span>
				<span>7</span>
				<span>8</span>
				<span>9</span>
			</div>
		</div>
	</div>
	</div>