<div class="pdp_hero pdp_hero__form">
  <div class="thanks">
  <h5>
    Grazie per la tua richiesta.
    Ti risponderemo prima possibile
  </h5>
</div>
<form enctype="multipart/form-data" method="post"  id="frmemail"  name="fileinfo">
      <div class="formTitle">
          <h5>Richiedi informazioni</h5>
      </div>
      <div class="wrapperInput">
     <label for="name">Nome*</label>
          <input required id="name" name="name" placeholder="" type="text" class="contact-input" />
      </div>
       <div class="wrapperInput">
         <label for="lastName">Cognome*</label>
          <input required id="lastName" name="lastName" placeholder="" type="text" class="contact-input" />
      </div>
 
       <div class="wrapperInput">
          <label for="mail">Email*</label>
          <input required id="mail" name="mail" placeholder="" type="text" class="contact-input" />
      </div>
         <div class="wrapperInput">
         <label aria-label="messaggio" for="messaggio">Messaggio</label>
          <input  id="messaggio" type="text" placeholder=" ">
      </div> 
      <div class="formFooter">
        <div class="wrapperInput wrapperInput__checkbox">
            <label for="privacy">Presa visione dell’Informativa disponibile alla pagina “Privacy” di questo sito web, presto consenso al trattamento dei miei dati personali in conformità alle finalità e modalità in essa indicate</label>
            <input  id="privacy" type="checkbox">
        </div>
        <div class="wrapperInput wrapperInput__button">
                <button aria-label="send">Send</button>
        </div>
    </div>
  </form>
  <div class="nextWine">
      

     <a href="vermentino.html" aria-label="vermentino link">
<svg class="loading" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="574.558px" height="120px" viewBox="0 0 574.558 120" enable-background="new 0 0 574.558 120" xml:space="preserve">
  <defs>
    <pattern id="water_text" width=".25" height="1.1" patternContentUnits="objectBoundingBox">
      <path fill="#7A0412" d="M0.25,1H0c0,0,0-0.659,0-0.916c0.083-0.303,0.158,0.334,0.25,0C0.25,0.327,0.25,1,0.25,1z"/>
    </pattern>
    
    <text id="text__text" transform="matrix(1 0 0 1 -8.0684 116.7852)" font-family="'Cormorant Garamond', serif'" font-size="161.047">VERMENTINO</text>
    
    <mask id="text_mask_text">
      <use x="0" y="0" xlink:href="#text__text" opacity="1" fill="#7A0412"/>
    </mask>
  </defs>
 
	  <!--<use x="0" y="0" xlink:href="#text" fill="#222"/>-->
  
  <rect class="water-fill__text" mask="url(#text_mask_text)" fill="url(#water_text)" x="-400" y="0" width="1600" height="120"/>
  
</svg>

</a>
  </div>
</div>
