 <div id="pinnedHero">
    <div class="pdp_heroText--pinned">


    <h4>Scopri di più sul Morellino</h4>
    <p>Una DOCG toscana molto giovane che cresce fino a 500 metri sul livello del mare, il particolarissimo terroir del Morellino di Scansano include calcare, rocce ed arenaria. 
Composto almeno per l’85% di uve Sangiovese, questo vino rosso rubino ha profumi intensi e gusto caldo e tannico.</p>
       </div>
<div class="pdp_hero pdp_pinned">
  
    <div class="pdp_hero__drag">

 
    <div class="wrapper-img">
                           <img src="img/blank.png" class="lazy"  alt="" data-src="img/sangiovese_f_verticale.jpg" >

    </div>
     <div class="wrapper-img">
                           <img src="img/blank.png" class="lazy"  alt="" data-src="img/sangiovese_frontale.jpg"  >

    </div>
   <div class="wrapper-img">
                              <img src="img/blank.png" class="lazy"  alt="" data-src="img/sangiovese_light_2.jpg" >


    </div>
   <div class="wrapper-img">
                            <img src="img/blank.png" class="lazy"  alt="" data-src="img/sangiovese_i.jpg" >

    </div>
    <div class="wrapper-img">
                          <img src="img/blank.png" class="lazy"  alt="" data-src="img/sangiovese_mano_zoom.jpg" >

         
    </div>
    <div class="wrapper-img">
 
                                 <img src="img/blank.png" class="lazy"  alt="" data-src="img/sangiovese_piano.jpg" >

    </div>

    <div class="wrapper-img">
         
                  <img src="img/blank.png" class="lazy"  alt="" data-src="img/sangiovese_tr.jpg" >

    </div>
    <div class="wrapper-img">
          <img src="img/blank.png" class="lazy"  alt="" data-src="img/sangiovese_h_2.jpg" >

    </div>
    </div>
</div>

  </div>