<div class="pdp_hero pdp_hero--center js-section">
  

 <div class="pdp_col1_2"></div>
 <div class="pdp_col1_3">


    <div class="pdp_Note pdp_Note__pair">
     
        <p>
Di acidità e tannini caratteristici, il Morellino di Scansano è un ottimo candidato per l’invecchiamento in botte, che ne affina le note più graffianti migliorandone al tempo stesso la struttura. La tannicità e la freschezza richiedono un’adeguata alcolicità. Di persistenza molto buona, ha ricordi di amarena, prugna e mirtillo.

Al naso il Morellino di Scansano è complesso e fruttato in apertura, con note di frutta nera e rossa e note floreali di violetta. 

        </p>
    </div>
   <div class="pdp_imgOne">
       <picture class="imgAbsolute">
               <div class="layer layer__one"></div>
                    <div class="layer layer__two"></div>
                                                                         <img src="img/blank.png" class="lazy"  alt="" data-src="img/sangiovese_frontale.jpg" >

       </picture>
       <picture class="imgRelative">
               <div class="layer layer__one"></div>
                    <div class="layer layer__two"></div>
                    
                                                             <img src="img/blank.png" class="lazy"  alt="" data-src="img/sangiovese_f_verticale.jpg" >

       </picture>
   </div>

       </div>
</div>