<div class="pdp_hero pdp_hero__last js-section">
  

 <div class="pdp_col1_2"></div>
 <div class="pdp_col1_3 ">


    <div class="pdp_Note pdp_Note__plates">
     
        <p>
 Quintessenza della cucina maremmana, il cinghiale in tutte le sue preparazioni e salumi come la finocchiona sono un abbinamento eccellente per il Morellino di Scansano. Ottimo anche con selvaggina da penna, funghi selvatici e carne di Maremmana. 
</p>
    </div>
   <div class="pdp_imgTwo">
       <picture class="imgAbsolute">
                <div class="layer layer__one"></div>
                    <div class="layer layer__two"></div>
            
                                         <img src="img/blank.png" class="lazy"  alt="" data-src="img/fiorentina.jpg" >

       </picture>
       <picture class="imgRelative ">
                    <div class="layer layer__one"></div>
                    <div class="layer layer__two"></div>
                                                             <img src="img/blank.png" class="lazy"  alt="" data-src="img/pair.jpg" >

         
       </picture>
   </div>

       </div>
</div>

