 



<!DOCTYPE html>
<html lang="it">
<head>
	<title>Tenute Agostinetto - Olio delle baluane</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="index, follow">
<meta http-equiv="content-language" content="it">
  <link rel="icon" href="img/favicon.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#3367D6">
	<link rel="stylesheet" type="text/css" href="./css/styles.css">


		<meta name="viewport" content="width=device-width, initial-scale=1.0">
 


<meta name="description" content="Agostinetto wine, vini toscani">
<meta name="keywords" content="">

</head>
<body>
	<div class='main-container' role="main" id="barba-wrapper">
 
					
						      <div class="logo">
        <a aria-label="go to home" class="logo_desk"href="/">Agostinetto</a>
        <a aria-label="go to home" class="logo_mobile"href="/">
<svg width="23px" height="48px" viewBox="0 0 23 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M2.02856576,33 L6.42972396,0.456133685 C6.57306074,0.159763869 6.70828053,0 6.98560527,0 C7.29414198,-6.53873683e-17 7.53526531,0.236488172 7.55410722,0.549358322 L11.296159,28.0960093 L15.1661649,0.456119949 L15.1985485,0.391414854 C15.3144852,0.159763869 15.4544128,0 15.7413929,0 C16.0606715,0 16.3101898,0.236488172 16.3296877,0.549358322 L23,48 L20.1628115,48 L20.1628115,47.1165644 L21.9828506,47.1165644 L20,33.0111476 L20,34 L12.0981817,34 L14,48 L11.2582674,48 L11.2582674,47.1165644 L13.0170722,47.1165644 L11.2352634,34 L2.75617198,34 L0.982317743,47.1165644 L2.74142758,47.1165644 L2.74142758,48 L0,48 L2,33.2112263 L2,33 L2.02856576,33 Z M2.89140969,33 L11.0994193,33 L6.98623325,2.7212905 L2.89140969,33 Z M11.9623375,33 L19.9984329,33 L15.741971,2.7207804 L11.8757574,30.3335848 L11.5947867,30.29432 L11.9623375,33 Z" id="Combined-Shape" fill="#FFF9E7" fill-rule="nonzero"></path>
    </g>
</svg></a>
      </div>
					<button aria-label="menu" class="menuTrigger">
							<div class="burger-menu">
					<div class="burger-click-region">
						<span class="burger-menu-piece"></span>
						<span class="burger-menu-piece"></span>
						<span class="burger-menu-piece"></span>
					</div>
				
				</div>
					</button>
<audio id="sound" loop autoplay>
   <source src="" data-src="img/piano.mp3" type="audio/mpeg">
   Your browser does not support the audio element.
</audio>


		<div class="soundWave__ct">
			<div id="playSound" class="soundPLay"></div>

		<svg id="sound_wave">  
  <g>    
    <!--<line id="line" x1="0" x2="100%" />-->
    <polyline id="wave_audio" />
  </g>  
</svg>
		</div>
		<div class="barba-container" data-namespace='pdp' data-prev="pdp.html">
          
        		{{> partials/wave_trans.html}}
		{{> partials/olio/pdp.html}}
												<div class="water-transition">


												<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="display: none;">
													<symbol id="wave">
														<path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z"></path>
														<path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z"></path>
														<path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z"></path>
														<path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z"></path>
													</symbol>
												</svg>
													<div class="water">
														<svg class="water__wave water__wave_back" viewBox="0 0 560 20">
															<use xlink:href="#wave"></use>
														</svg>
														<svg class="water__wave water__wave_front" viewBox="0 0 560 20">
															<use xlink:href="#wave"></use>
														</svg>
														<div class="water__inner">
															<div class="bubble bubble_1"></div>
															<div class="bubble bubble_2"></div>
															<div class="bubble bubble_3"></div>
														</div>
													</div>
												 </div>

		</div>
	</div>
 
	<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous" defer></script>
 

<script>
		  	    // var mySplitText = new SplitText(".js-section p", {type:"lines"})

	</script>
	
     <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
	<script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>

	<script src='./js/service-worker.js'></script>

		<script defer src="./js/vendors/vendor.js"></script>
	<script src='./js/app.js'></script>
 </body>
</html>