<!DOCTYPE html>
<html>
<head>
	<title>Mixink</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="index, follow">
<meta http-equiv="content-language" content="it">
  <link rel="icon" href="img/favicon.png">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="./js/vendors/moderniz.js"></script>

<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,700,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./css/styles.css">
<meta name="description" content="">
<meta name="keywords" content="">

</head>
<body>
	<div class='main-container' id="barba-wrapper">
      <a class="nav prev" link-type='prev' href="index.html">
					<div class='back-container'>
						  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><line fill="none" stroke="#000000" stroke-width="4.0001" stroke-linecap="round" stroke-miterlimit="10" x1="37.273" y1="50.001" x2="62.727" y2="75.457"/><line fill="none" stroke="#000000" stroke-width="4.0001" stroke-linecap="round" stroke-miterlimit="10" x1="37.273" y1="50.001" x2="62.727" y2="24.543"/><text x="0" y="115" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif"></text><text x="0" y="120" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif"></text>
						</svg><span>Back</span>
					</div>
          </a>

		<div class="barba-container" data-namespace='about' data-prev="pdp.html">
          
        
                    {{> partials/about/about.html}}

		</div>
	</div>
<script id="simple-plane-vs" type="x-shader/x-vertex">
			#ifdef GL_ES
			precision mediump float;
			#endif

			// default mandatory variables
			attribute vec3 aVertexPosition;
			attribute vec2 aTextureCoord;

			uniform mat4 uMVMatrix;
    		uniform mat4 uPMatrix;

			// custom variables
			varying vec3 vVertexPosition;
			varying vec2 vTextureCoord;

			uniform float uTime;
			uniform vec2 uResolution;
			uniform vec2 uMousePosition;
			uniform float uMouseMoveStrength;


			void main() {

				vec3 vertexPosition = aVertexPosition;

				// get the distance between our vertex and the mouse position
				float distanceFromMouse = distance(uMousePosition, vec2(vertexPosition.x, vertexPosition.y));

				// calculate our wave effect
				float waveSinusoid = cos(5.0 * (distanceFromMouse - (uTime / 75.0)));

				// attenuate the effect based on mouse distance
				float distanceStrength = (0.4 / (distanceFromMouse + 0.4));

				// calculate our distortion effect
				float distortionEffect = distanceStrength * waveSinusoid * uMouseMoveStrength;

				// apply it to our vertex position
				vertexPosition.z +=  distortionEffect / 15.0;
				vertexPosition.x +=  (distortionEffect / 15.0 * (uResolution.x / uResolution.y) * (uMousePosition.x - vertexPosition.x));
				vertexPosition.y +=  distortionEffect / 15.0 * (uMousePosition.y - vertexPosition.y);

			   	gl_Position = uPMatrix * uMVMatrix * vec4(vertexPosition, 1.0);

			   	// varyings
			   	vTextureCoord = aTextureCoord;
			   	vVertexPosition = vertexPosition;
			}
        </script>
        <script id="simple-plane-fs" type="x-shader/x-fragment">

			#ifdef GL_ES
			precision mediump float;
			#endif

			uniform float uTime;
			uniform vec2 uResolution;
			uniform vec2 uMousePosition;

			varying vec3 vVertexPosition;
			varying vec2 vTextureCoord;

			uniform sampler2D simplePlaneTexture;


			void main( void ) {

				// get our texture coords
				vec2 textureCoords = vec2(vTextureCoord.x, vTextureCoord.y);

				// apply our texture
				vec4 finalColor = texture2D(simplePlaneTexture, textureCoords);

				// fake shadows based on vertex position along Z axis
				finalColor.rgb -= clamp(-vVertexPosition.z, 0.0, 1.0);
				// fake lights based on vertex position along Z axis
				finalColor.rgb += clamp(vVertexPosition.z, 0.0, 1.0);

				// handling premultiplied alpha (useful if we were using a png with transparency)
				finalColor = vec4(finalColor.rgb * finalColor.a, finalColor.a);

				gl_FragColor = finalColor;
			}
        </script>
<script>
	window.onload = function(){

    // our canvas container
    var canvasContainer = document.getElementById("canvas");

    // track the mouse positions to send it to the shaders
    var mousePosition = {
        x: 0,
        y: 0,
    };
    // we will keep track of the last position in order to calculate the movement strength/delta
    var mouseLastPosition = {
        x: 0,
        y: 0,
    };
    var mouseDelta = 0;

    // set up our WebGL context and append the canvas to our wrapper
    var webGLCurtain = new Curtains("canvas");

    // get our plane element
    var planeElements = document.getElementsByClassName("curtain");


    // could be useful to get pixel ratio
    var pixelRatio = window.devicePixelRatio ? window.devicePixelRatio : 1.0;

    // some basic parameters
    // we don't need to specifiate vertexShaderID and fragmentShaderID because we already passed it via the data attributes of the plane HTML element
    var params = {
        widthSegments: 20,
        heightSegments: 20,
        uniforms: {
            resolution: { // resolution of our plane
                name: "uResolution",
                type: "2f", // notice this is an length 2 array of floats
                value: [pixelRatio * planeElements[0].clientWidth, pixelRatio * planeElements[0].clientHeight],
            },
            time: { // time uniform that will be updated at each draw call
                name: "uTime",
                type: "1f",
                value: 0,
            },
            mousePosition: { // our mouse position
                name: "uMousePosition",
                type: "2f", // again an array of floats
                value: [mousePosition.x, mousePosition.y],
            },
            mouseMoveStrength: { // the mouse move strength
                name: "uMouseMoveStrength",
                type: "1f",
                value: 0,
            }
        }
    }

    // create our plane
    var simplePlane = webGLCurtain.addPlane(planeElements[0], params);

    simplePlane.onReady(function() {
        // set a fov of 35 to exagerate perspective
        simplePlane.setPerspective(35);

        // now that our plane is ready we can listen to mouse move event
        var wrapper = document.getElementById("page-wrap");

        wrapper.addEventListener("mousemove", function(e) {
            handleMovement(e, simplePlane);
        });

        wrapper.addEventListener("touchmove", function(e) {
            handleMovement(e, simplePlane);
        });

        // on resize, update the resolution uniform
        window.onresize = function() {
            simplePlane.uniforms.resolution.value = [pixelRatio * planeElements[0].clientWidth, pixelRatio * planeElements[0].clientHeight];
        }

    }).onRender(function() {
        // increment our time uniform
        simplePlane.uniforms.time.value++;

        // send the new mouse move strength value
        simplePlane.uniforms.mouseMoveStrength.value = mouseDelta;
        // decrease the mouse move strenght a bit : if the user doesn't move the mouse, effect will fade away
        mouseDelta = Math.max(0, mouseDelta * 0.995);
    });

    // handle the mouse move event
    function handleMovement(e, plane) {

        if(mousePosition.x != -100000 && mousePosition.y != -100000) {
            // if mouse position is defined, set mouse last position
            mouseLastPosition.x = mousePosition.x;
            mouseLastPosition.y = mousePosition.y;
        }

        // touch event
        if(e.targetTouches) {

            mousePosition.x = e.targetTouches[0].clientX;
            mousePosition.y = e.targetTouches[0].clientY;
        }
        // mouse event
        else {
            mousePosition.x = e.clientX;
            mousePosition.y = e.clientY;
        }

        // convert our mouse/touch position to coordinates relative to the vertices of the plane
        var mouseCoords = plane.mouseToPlaneCoords(mousePosition.x, mousePosition.y);
        // update our mouse position uniform
        plane.uniforms.mousePosition.value = [mouseCoords.x, mouseCoords.y];

        // calculate the mouse move strength
        if(mouseLastPosition.x && mouseLastPosition.y) {
            var delta = Math.sqrt(Math.pow(mousePosition.x - mouseLastPosition.x, 2) + Math.pow(mousePosition.y - mouseLastPosition.y, 2)) / 30;
            delta = Math.min(4, delta);
            // update mouseDelta only if it increased
            if(delta >= mouseDelta) {
                mouseDelta = delta;
                // reset our time uniform
                plane.uniforms.time.value = 0;
            }
        }
    }
}
	</script>
		<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <script src="./js/vendors/ThrowPropsPlugin.js"></script>
		<script src="./js/vendors/ScrambleTextPlugin.js"></script>

<script>
		  	    mySplitText = new SplitText(".js-section p", {type:"lines"})

	</script>
					    <script src="./js/vendors/curtains.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

 <script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2/jquery.blast.js"></script>
  <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>

	 <script type="text/javascript" src="	https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>

	<script src='./js/app.js'></script>
 </body>
</html>