$purple: #7E415F;
.main-wrapper {
  width: calc(100vw - 250px);
  height: 100%;
  overflow: auto;
  @media screen and (max-height: 900px) {
    width: calc(100vw - 125px);
  }
  @media screen and (max-width: 1400px) {
    width: calc(100vw - 125px);
  }
   @media screen and (max-width: 767px) {
      width: calc(100vw - 50px);
    }
  >div {
    height: 100%;
  }
}

.section {
  float: left;
  height: 100%;
  width: calc(100vw - 250px);
  @media screen and (max-height: 900px) {
    width: calc(100vw - 125px);
  }
  @media screen and (max-width: 1400px) {
    width: calc(100vw - 125px);
  }
   @media screen and (max-width: 767px) {
      width: calc(100vw - 50px);
    }
  text-align: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  .wrapperSection {
    width: calc(100vw - 250px);
    @media screen and (max-height: 900px) {
      width: calc(100vw - 125px);
    }
    @media screen and (max-width: 1400px) {
      width: calc(100vw - 125px);
    }
     @media screen and (max-width: 767px) {
      width: calc(100vw - 50px);
    }
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  } // &:first-child {
  //   background-color: #F6F5E8;
  //   width: calc(200vw - 500px);
  // }
  // &:nth-child(2) {
  //   background-color: #F6F5E8;
  //   .about--text {
  //     padding-left: 100px;
  //     padding-right: 100px;
  //     transform: translate(0px, -65px);
  //   }
  // }
  // &:nth-child(3) {
  //   background-color: #F6F5E8;
  //   width: calc(100vw - 250px);
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }
  // &:nth-child(4) {
  //   background-color: lightgreen;
  // }
  // &:nth-child(5) {
  //   background-color: lightgrey;
  // }
  &s {
    white-space: nowrap;
    min-width: 100vw;
    height: 100%;
  }
  &__title,
  &__heading {
    width: 100%
  }
  &__heading {
    p {
      text-transform: uppercase;
      font-size: 11px;
      max-width: 160px;
      margin: 0 auto;
      display: inline-block;
      white-space: normal;
    }
  }
}

.aboutImg {
  width: 650px;
  position: relative;
  margin-top: -100px;
  .aboutImg__front {
    position: absolute;
    left: 260px;
    top: 290px;
    width: 520px;
    img {
      width: 100%;
    }
  }
}

.aboutImg__behind {
  img {
    width: 100%;
  }
}

.about--text {
  text-align: left;
  max-width: 500px;
  transform: translate(200px, -100px);
  h1 {
    font-size: 100px;
    font-style: italic;
    font-weight: 600;
    text-transform: none;
    transform: translateX(-50px);
    color: #BABAB1;
  }
  h2 {
    margin-top: 5px;
    font-size: 46px;
    font-weight: 600;
    text-transform: none;
    color: #7E415F;
    margin-bottom: 40px;
  }
  p {
    display: inline-block;
    white-space: pre-line;
    transform: translateX(50px);
    color: #3B3B3B;
    font-size: 24px;
    line-height: 36px;
  }
}

.aboutImg__half {
  margin-left: -300px;
  picture {}
}

.aboutImg__Translate {
  overflow: visible;
  transform: translateX(-250px);
}

.wrapperSection__two {
  padding-left: 300px;
  .about--text {
    transform: translate(0, -100px);
  }
}

.wrapperImg__about {
  position: relative;
  margin-left: 150px;
  .aboutAbsolute {
    position: absolute;
    left: 136px;
    bottom: -100px;
  }
}

.family {
  width: 100%;
  height: 100%;
  background-size: cover !important;
}

.tenuteBg {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
  opacity: .4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapperTenute {
  width: 50%;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    padding-left: 100px;
    font-size: 48px;
    font-weight: 600;
    text-transform: none;
  }
  p {
    padding-left: 100px;
    max-width: 500px;
    box-sizing: border-box;
    display: inline-block;
    white-space: normal;
    line-height: 28px;
    font-size: 19px;
    margin-top: 40px;
  }
  ul {
    padding-left: 100px;
    margin-top: 40px;
    &.no-padding {
      padding-left: 0;
      display: flex;
    }
    .full {
      font-size: 19px;
    }
    li {
      color: black;
      margin-bottom: 20px;
      margin-right: 45px;
      &.img_icon {
        width: 150px;
        display: flex;
        width: 92%;
        flex-direction: row;
        align-items: center;
        align-content: center;
        background: white;
        padding: 20px;
        p {
          padding-left: 0;
          font-size: 17px;
          line-height: 21px;
          margin-top: 0;
          margin-left: 20px;
        }
        img {
          width: 100px;
        }
      }
    }
  }
  .wrapperTenute {
    text-align: left;
  }
}

.wrapperItaly {
  height: 100%;
  svg {
    height: 100%;
  }
}

.wrapperContent {
  width: 100%;
  height: 100%;
  display: flex;
}

.sliderBorgo {
  width: 50%;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wrapper-slide {
  width: calc(100vw - 250px);
  height: calc(100vh - 250px);
  background-size: cover !important;
  background-position: right !important;
  position: absolute;
  right: 0;
  background-repeat: no-repeat !important;
  top: 0;
  @media screen and (max-height: 900px) {
    width: calc(100vw - 125px);
    min-height: calc(100vh - 125px);
  }
  @media screen and (max-width: 1400px) {
    width: calc(100vw - 125px);
  }
  @media screen and (max-width:1023px) {
    width: calc(100vw - 125px);
    min-height: calc(100vh - 125px);
  }
   @media screen and (max-width: 767px) {
      width: calc(100vw - 50px);
    }
}

.triggerOpenSlide {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  z-index: 99999;
  top: 90%;
  margin-left: -47px;
  fill: white;
  margin-top: -10px;
  path {
    fill: #7E415F;
  }
}

#page-wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/*** canvas ***/

#canvas {
  height: 100vh;
  width: 100vw;
}

.curtain {
  position: absolute;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
}

.curtain img {
  display: none;
}

.wrapperFlex {
  display: flex;
  align-content: center;
}

.svgYear {
  position: absolute;
  top: 0;
  left: 0;
   @media screen and (max-width: 1023px) { 
        overflow: hidden;
      }
  svg{
      @media screen and (max-width: 1023px) { 
        width: 100%;
      }
  }
}

.col-half {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  position: relative;
  @media screen and (max-width: 1023px) {
    flex-basis: 100%;
  }
}

.wrapperFlexContainer {
  width: 100%;
  max-width: 1380px;
  padding: 0 50px;
  margin: 0 auto;
  min-height: calc(100vh - 250px);
  @media screen and (max-height: 900px) {
    width: calc(100vw - 125px);
  }
  @media screen and (max-width: 1400px) {
    width: calc(100vw - 125px);
  }
  
  @media screen and (max-width: 1024px) {
    padding: 0 20px;
  }
  @media screen and (max-width: 1023px) {
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-around;
  }
   @media screen and (max-width: 767px) {
      width: calc(100vw - 50px);
    }
  &.wrapperFlexContainer__full {
    max-width: 100%;
    padding: 0;
  }
}

.wrapper-img {
  width: 100%;
  img {
    width: 70%;
    opacity: 1;
    @media screen and (max-width: 1023px) {
      width: 100%;
    }
  }
}

.purple {
  background: $purple;
  justify-content: center;
  overflow: hidden;
  .square {
    position: relative;
    .cta,
    a {
      &:before {
        background: #F6F5E8 !important;
      }
    }
  }
  .close {
    position: absolute;
    top: 9px;
    right: 12px;
    text-transform: uppercase;
    background: none;
    border: 0;
  }
}

/* THE BEGIN: */

/* Our Story: */

/* Designmuseum Danmark: */

.wrapper-text {
  margin-top: -150px;
  @media screen and (max-width: 1023px) {
    margin-top: 40px;
    text-align: center;
  }
  h4 {
    font-family: RobotoCondensed-Bold;
    font-size: 14px;
    color: #4b4a4a;
    letter-spacing: 2px;
  }
  h5 {
    font-family: CormorantGaramond-SemiBold;
    font-size: 48px;
    color: $purple;
    letter-spacing: 0.07px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-transform: none;
  }
  p {
    font-family: CormorantGaramond-Regular;
    font-size: 21px;
    color: #4A4A4A;
    letter-spacing: 0.09px;
    line-height: 29px;
    max-width: 60%;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 70px;
    @media screen and (max-width: 1280px) {
      font-size: 18px;
      line-height: 24px;
    }
    @media screen and (max-width:1023px) {
      margin: 0 auto;
      text-align: center;
      padding-left: 0;
    }
      @media screen and (max-width:1023px) {
     max-width: 
     80%;
    }
  }
  .lines {
    width: 48px;
    height: 4px;
    background: $purple;
    margin-right: 20px;
    position: absolute;
    left: 0;
  }
}

.ourStory {
  position: relative;
  @media screen and (max-height: 900px) {
    min-height: 100vh;
    .oh {
      min-height: 100vh;
      display: flex;
    }
  }
  @media screen and (max-width:1400px) {
    min-height: 100vh;
    .oh {
      min-height: 100vh;
      display: flex;
    }
  }
    @media screen and (max-width:767px) { 
        .oh {
      overflow: visible !important;
    }
    
    }
  .paragraph {
    display: flex;
    align-items: center;
    @media screen and (max-width: 1023px) {
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
    }
   
  }
}

.oh {
  overflow: hidden;
}

.wrapper-maremma {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -100px;
  z-index: -2;
  img {
    width: 100%;
    height: 100%;
  }
}

.aboutPresente {
  position: relative;
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 100px;
  .wrapper-text {
    margin-top: 0;
    margin-bottom: 80px;
    p {
      padding-left: 0;
      padding-left: 0;
      margin: 0 auto;
      max-width: 500px;
    }
    .lines {
      height: 100px;
      width: 2px;
      background: $purple;
      position: relative;
      display: inline-block;
      left: auto;
      padding: 0;
      margin-left: 0;
      margin-right: 0;
      margin-top: 10px;
      margin-bottom: 10px
    }
  }
}

.wrapperFlexContainer__column {
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-sizing: border-box;
}

.svgPresent {
  position: absolute;
  right: 0;
  top: 150px;
  ;
  svg {
    height: 100%;
  }
}

.square {
  border: 1px solid #F0EEDE;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 63px;
  max-width: 500px;
  @media screen and (max-width: 767px) {
      box-sizing: border-box;
    padding: 25px;
  }
       @media screen and (max-width: 767px) {
        
    .paragraph p{
       flex-direction: column;
       max-width: 100%;
       .lines{
         position: relative !important;
         margin-bottom: 30px;
       }
     }
    }
  .wrapper-text {
    margin: 0;
    .lines {
      background: #F0EEDE;
    }
    h4 {
      /* MONTEPULCIANO: */
      font-family: RobotoCondensed-Bold;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 1.25px;
    }
    h5 {
      /* Borgo del faggio: */
      font-family: CormorantGaramond-SemiBold;
      font-size: 36px;
      color: #F0EEDE;
      letter-spacing: 0.06px;
    }
    p {
      /* Designmuseum Danmark: */
      font-family: CormorantGaramond-Regular;
      font-size: 16px;
      color: #FFFFFF;
      letter-spacing: 0.09px;
      line-height: 25px;
      margin-bottom: 30px;
    }
    .cta,
    a {
      /* MORE INFO: */
      font-family: CormorantGaramond-Regular;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 2.5px;
      text-align: right;
      text-transform: uppercase;
      text-align: right;
      display: inline-block;
      position: relative;
      float: right;
      margin-right: 24px;
      cursor: pointer;
      padding-right: 20px;

      cursor: pointer;
        @media screen and (max-width: 767px) { 
          margin-bottom: 30px;

        }
      &:before {
        content: '';
        position: absolute;
        bottom: -7px;
        right: 0;
        width: 100px;
        background: $purple;
        height: 1px;
      }
    }
  }
}

.beige {
  justify-content: center;
  overflow: hidden;
  .close {
    position: absolute;
    top: 9px;
    right: 12px;
    text-transform: uppercase;
    background: none;
    border: 0;
    color: $purple;
    a {
      color: $purple;
    }
  }
  .cta {
    color: $purple !important;
  }
  .square {
    border: 1px solid $purple;
    position: relative;
    .wrapper-text {
      h4 {
        color: #4A4A4A;
      }
      h5 {
        color: $purple;
      }
      p {
        color: #4A4A4A;
      }
      .lines {
        background: $purple;
      }
      a {
        color: $purple;
      }
    }
  }
}

.proud {
  position: relative;
  @media screen and (max-height: 900px) {
    min-height: 100vh;
  }
  @media screen and (max-width:1400px) {
    min-height: 100vh;
  }
  @media screen and (max-width:640px) {  
    padding-bottom: 150px;
  }
  .wrapperFlexContainer {
    justify-content: flex-start;
  }
  a {
    /* DISCOVER OUR PRODUCT: */
    font-family: CormorantGaramond-Regular;
    font-size: 18px;
    color: #4A4A4A;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    position: relative;
    &:before {
      content: '';
      width: 160px;
      height: 1px;
      background: $purple;
      position: absolute;
      bottom: -6px;
      left: 50%;
      /* left: -80px; */
      transform: translateX(-80px);
    }
  }
  .wrapper-text {
    margin-top: 100px;
    .lines {
      height: 60px;
      width: 2px;
      background: #7E415F;
      position: relative;
      display: inline-block;
      left: auto;
      padding: 0;
      margin-left: 0;
      margin-right: 0;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    p {
      padding-left: 0;
      margin: 0 auto;
      max-width: 500px;
      padding-bottom: 30px;
       @media screen and (max-width:640px) { 
         padding: 0 30px;
         margin-bottom: 50px;

       }
    }
  }
  .imgBack {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    img {
      opacity: 1 !important;
    }
  }
  img {
    width: 100%;
  }
}

.aboutPinned {
  position: relative;
  overflow: hidden;
  .wrapperFlexContainer {
    padding: 0;
  }
  .wrapper-text {
    margin-top: 0;
    position: absolute;
    max-width: 600px;
    margin: 0 auto;
    p {
      color: white;
      padding: 0;
      margin: 0 auto;
    }
    h5 {
      color: white;
    }
  }
  .aboutPinnedBg {
    min-height: calc(100vh - 250px);
    width: 100vw;
    @media screen and (max-height: 900px) {
      min-height: calc(100vh - 125px);
    }
    @media screen and (max-width:1400px) {
      min-height: calc(100vh - 125px);
    }
    background-size: cover !important;
    ;
    background-position: center !important;
    transform: scale(1);
    transition: 1s;
    will-change: transform;
    &.zoom {
      transform: scale(1.04),
    }
    .aboutPinned__layer {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 1)
    }
  }
}

.hiddenInfo {
  display: none;
  li {
    display: flex;
    p {
      padding-left: 0;
    }
    .hiddenText {
      margin-left: 15px;
      h5 {
        /* SWIMMING POOL: */
        font-family: RobotoCondensed-Regular;
        font-size: 15px;
        margin-top: 0;
        color: #FFFFFF;
        letter-spacing: 1.39px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
    }
  }
}

.wrapperBorgo,
.wrapperBorgoLupo {
 
  height: 100%;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  z-index: -1;
}

canvas {
  display: block;
}

.counterArrow {
  width: 80px;
  position: absolute;
  bottom: 100px;
  right: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  flex-direction: column;
  .counter {
    flex-basis: 100%;
    width: 100%;
  }
  @media screen and (max-width:1023px) {
      left: 102px;
    bottom: 53px;
  }
   @media screen and (max-width:767px) {
     bottom: auto;
    top: 107px;
    left: 143px;
  }
   
}

.counterArrow__wrapperBtn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.scene-nav {
  font-size: 1.15em;
  position: relative;
  z-index: 10;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  color: var(--color-nav);
}

.scene-nav:focus {
  outline: none;
}

.scene-nav--prev {}

.slide-wrapper {
  display: none;
}

.icon--arrow-nav-next {}

.rendered-slider {
  display: flex;
  position: relative;
  height: calc(100vh - 250px);
  @media screen and (max-height: 900px) {
    min-height: calc(100vh - 125px);
  }
  @media screen and (max-width:1400px) {
    min-height: calc(100vh - 125px);
  }
  @media screen and (max-width:1023px) {
    flex-wrap: wrap;
    min-height: calc(100vh - 125px);
    flex-direction: column;
  }
}

.text-list {
  list-style: none;
  width: 60%;
  position: relative;
  display: flex;
  align-items: center;
  @media screen and (max-width: 1023px) {
    width: 100%;
    order: 2;
    flex-wrap: wrap;
    overflow: hidden;

  }
    @media screen and (max-width: 991px) {
  position: absolute;
  height: 20%;
  .wrapper-text-list{
  padding: 0;
  }
  top:20px;

  }
}

.text-list>li {
  position: absolute;
  opacity: 0;
    @media screen and (max-width: 1023px) {
  position: relative;
    width: 100%;
  }
    @media screen and (max-width: 991px) {
position: absolute;
top: 0;
left: 0;
  }
}

.demo-3 {
  height: calc(100vh - 250px);
  @media screen and (max-height: 900px) {
    min-height: calc(100vh - 125px);
  }
  @media screen and (max-width: 1023px) {
    min-height: calc(100vh - 125px);
  }
}

.canvas-here {
  width: 40%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: auto auto;
  @media screen and (max-width: 1023px) {
    width: 100%;
    height: 80%;
  }
    @media screen and (max-width: 991px) {
  position: absolute;
  bottom: 0;
  }
     @media screen and (max-width: 767px) {
 height: 67%;
  }
}

.canvas-here canvas {
  background: #F6F5E8;
  margin: 0 !important;
}

.wrapper-text-list {
  padding: 100px;
  @media screen and (max-width: 1024px) {
    padding: 0 30px;
  }
   @media screen and (max-width: 1023px) {
       width: 100%;
    text-align: center;
  }
  .text-wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }
  .lines {
    width: 48px;
    height: 4px;
    background: #7E415F;
    margin-right: 20px;
    position: absolute;
    left: 0;
       @media screen and (max-width: 1023px) {
         display: none;
       }
  }
  h3 {
    /* ABOUT US: */
    font-family: RobotoCondensed-Bold;
    font-size: 18px;
    color: #9B9B9B;
    letter-spacing: 0.06px;
  }
  h2 {
    /* Type something: */
    font-family: CormorantGaramond-SemiBold;
    font-size: 64px;
    color: #7E415F;
    letter-spacing: 0.1px;
    text-transform: none;
    @media screen and (max-width: 1280px) {
      font-size: 48px;
    }
  }
  p {
    font-family: CormorantGaramond-Regular;
    font-size: 21px;
    color: #4A4A4A;
    letter-spacing: 0.09px;
    line-height: 29px;
    max-width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-top: 40px;
    padding-left: 70px;
    @media screen and (max-width: 1280px) {
      font-size: 18px;
      line-height: 24px;
    }
    @media screen and (max-width:1023px) {
      display: none !important;
    }
  }
}

.d_flex_column {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1023px) {
    text-align: center;
    flex-wrap: wrap;
  }
}

.dNone {
  display: none !important;
}
