$purple: #7E415F;
body {
  background: $bgColor;
  color: $fontColor;
}

#bars {
  height: 30px;
  right: 200px;
  margin: -30px 0 0 -20px;
  position: absolute;
  top: 74px;
  width: 40px;
  z-index: 99999;
}

.bar {
  background: black;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 3px;
  animation: sound 0ms -800ms linear infinite alternate;
}


@keyframes sound {
  0% {
    opacity: .35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 28px;
  }
}

.bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}

.bar:nth-child(2) {
  left: 5px;
  animation-duration: 410ms;
}

.bar:nth-child(3) {
  left: 9px;
  animation-duration: 507ms;
}

.bar:nth-child(4) {
  left: 13px;
  animation-duration: 428ms;
}

.bar:nth-child(5) {
  left: 17px;
  animation-duration: 400ms;
}

.bar:nth-child(6) {
  left: 21px;
  animation-duration: 427ms;
}

.bar:nth-child(7) {
  left: 25px;
  animation-duration: 441ms;
}

.bar:nth-child(8) {
  left: 29px;
  animation-duration: 419ms;
}

.bar:nth-child(9) {
  left: 33px;
  animation-duration: 487ms;
}

#sound_wave {
  width: 100%;
  height: 100%;
  g {
    position: absolute;
    top: 0;
    transform: matrix(1, 0, 0, 1, 0, 29.24);
  }
}

line {
  stroke-width: 1;
  stroke: #3c3c3c;
}

#wave_audio {
  fill: none;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: black;
}

.soundWave__ct {
  display: flex;
  align-items: center;
  width: 50px;
  height: auto;
  position: absolute;
  right: 200px;
  top: 35px;
  z-index: 99999999;
  @media screen and (max-height: 900px) {
    top:10px;
    right: 140px;
  }
  @media screen and (max-width: 1400px) {
    top: 10px;
    right: 140px;
  }
   @media screen and (max-width: 580px) {
   display:none !important;
  }
}

.soundPLay {
  width: 100%;
  height: 1px;
  position: absolute;
  background: black;
  transform: translateY(30px);
  pointer-events: none;
  opacity: 0;
}

.noPointer {
  pointer-events: none;
  display: none;
}

.pointer {
  pointer-events: auto;
  display: flex;
  opacity: 1;
}

button {
  cursor: pointer;
}


.containerAbs{
      display: block;
    position: relative;
    height: 50vh;
    width: 80vw;
    background-color: #F6F5E8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    height: calc(100% - 250px);
    width: calc(100vw - 250px);
    position: fixed;
    z-index: -1;
    top:125px;
    left: 125px;
      @media screen and (max-height: 900px) {
    width: calc(100vw - 125px);
    min-height: calc(100vh - 125px);
    top:62.5px;
    left:62.5px;
  }
  @media screen and (max-width: 1280px) {
    width: calc(100vw - 125px);
    min-height: calc(100vh - 125px);
     top:62.5px;
    left:62.5px;
  }
   @media screen and (max-width: 767px) {
      width: calc(100vw - 50px);
       top:62.5px;
    left:25px;
    background-color: none;
    }
}