.wineList_container {
  padding: 100px;
  width: calc(100vw - 250px);
    @media screen and (max-height: 900px) {  
      padding:35px;
    }
      @media screen and (max-width: 767px) {  
     margin: 0 auto;
     padding: 0;
     width: calc(100vw - 221px);
 
    }
}

[data-namespace="collection"] {
  @media screen and (max-width: 767px) { 
   #containerSlide{
min-height: calc(100vh - 206px);
   }
  }
}


.fp-tableCell{
  width: 100%;
}
.wineList__itemFull {
  opacity: 0;
  width: 100%;
  text-align: left;
        @media screen and (max-width: 767px) {   
        transform: translate(-75px,9px);
        }
  a {
    width: 50%;
  }
  img {
    max-width: 140px;
       @media screen and (max-width: 1366px) {   
           max-width: 107px;
       }  
         @media screen and (max-width: 767px) {   
        height: 343px;
       }  
    &.olio {
      max-width: 120px;
         @media screen and (max-width: 1366px) {   
           max-width: 110px;
       }  
    }
  }
}
       .wineList__wrapperImgDescr__mobile{
         display: none;
       }
.wineList__wrapperImg {
  width: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
     @media screen and (max-width: 767px) {     
       flex-direction: column;
       .fixedCircle__noJs{
             height: calc(100vh - 125px);
       }
       .wineList__wrapperImgDescr__mobile{
         display: flex;
         flex-direction: column;
       }
       h2{
         font-size: 32px;
    color: #7E415F;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
margin-top: 30px;
       }
     }
}

.wine_info {
  max-width: 75%;
  margin-top: 40px;
     @media screen and (max-height: 700px) {    
       max-width: 90%;
       margin-top: 20px;
     }
     
}

.scroll-content {
  will-change: transform;
}

.wineDescription {
  @media screen and (max-width: 767px) {    
      display: none;
          }
  h2 {
    font-size: 46px;
    color: #7E415F;
    font-weight: 600;
    margin-bottom: 15px;
  }
  p {
    font-size: 24px;
    line-height: 31px;
          @media screen and (max-width: 1366px) {    
            max-width: 90%;
          }

  }

  h3 {
    font-family: 'Roboto Condensed', sans-serif;
  }
}

.wine_infoBlock {
  margin-bottom: 20px;
  display: flex;
     @media screen and (max-height: 700px) {    
      margin-bottom: 8px;
    }
  svg {
    flex-basis: 10%;
    width: 40px;
    height: 29px;
    path {
      fill: #7E415F;
    }
  }
}

.wine_infoBlockDesc {
  margin-left: 50px;
  flex-basis: 90%;
  p {
    font-size: 18px;
    line-height: 21px;
     @media screen and (max-width: 1366px) {   
      max-width: 100%;
       font-size: 16px;
     }
  }
  h3 {
    color: #7E415F;
    font-size: 21px;
    font-weight: medium;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
     @media screen and (max-width: 1366px) {   
       margin-bottom: 6px;
       font-size: 18px;
     }
  }
}

.wine_blockDownload {
  background: none;
  border: 0;
  font-family: CormorantGaramond-Regular;
  font-size: 18px;
  color: #7E415F;
  letter-spacing: 2.5px;
  text-align: right;
  position: relative;
  text-transform: uppercase;
  width: 100px !important;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background: #7E415F;
    bottom: 0;
    left: -4px;
    transition: .3s ease;
  }
  &:hover{
    &:before{
      transform: translateX(100%)
    }
  }
}

.one-up-section {
  position: fixed;
  z-index: 9999;
  opacity: 0;
  transition-delay: .4s;
  overflow: visible;
        @media screen and (max-width: 767px) {    
          justify-content: center;
        }
  .wineDescription {
    opacity: 0;
    transition: .3s ease;
    flex-basis: 60%;
         @media screen and (max-width: 991px) {   
           flex-basis: 80%;
         }
  }
  .wineList__wrapperImg {
    transform: translateY(1000px);
    opacity: 0;
    transition: .9s ease;
    flex-basis: 40%;
         @media screen and (max-width: 991px) {   
           flex-basis: 20%;
         }
            @media screen and (max-width: 767px) {   
           flex-basis: 100%;
         }
    .fixedCircle {
      transform: scale(0);
      transition: .4s ease;
    }
  }
  &.leave {}
  &.active {
    opacity: 1;
    z-index: 9999999999;
    .fixedCircle {
      transform: scale(.6);
      transform-origin: center;
      transition-delay: .15s;
         @media screen and (max-width: 991px) {   
                 transform: scale(.4);
         }

          @media screen and (max-width: 767px) {  
               transform: scale(.6);
          }
    }
    .wineDescription {
      opacity: 1;
      transition-delay: .12s;
        @media screen and (max-width: 767px) {   
              
         }
    }
    .wineList__wrapperImg {
      transform: translateY(0);
      opacity: 1;
      transition-delay: .12s;
    }
  }
}

#myContainer {
  transform: translate3d(0px, 0px, 0px);
}

#menuCollection {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 124px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 999999;
  li {
    width: 25px;
    height: 25px;
    background: purple;
    border-radius: 50%;
    margin-bottom: 30px;
    transform: scale(.3);
    will-change: transform;
    transition: .3s ease;
    display: none !important;
    &.isActive {
      transform: scale(1);
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.back-container{display: none;}

.fixedImg__olio .fixedCicler__left {
  background:#e4e0b3 !important;
  }

  .fixedImg__olio .fixedCicler__right{
      background:#e4e0b3 !important;
  }

.fixedImg__morellino .fixedCicler__left {
      background:  #faebee !important;
  }

  .fixedImg__morellino .fixedCicler__right{
      background:  #faebee !important;
  }

 .fixedImg__vermentino .fixedCicler__left {
      background:  #f4efdb !important;
  }

  .fixedImg__vermentino .fixedCicler__right{
      background:   #f4efdb !important;
  }

 

