form {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

.contact-fields-container {
  display: flex;
  align-content: center;
     @media screen and (max-width: 991px) {
      flex-direction: column;
      }
  .wrapper-text-list {
    flex-basis: 50%;
    padding: 0;
    h1 {
      /* CONTACT US: */
      font-family: RobotoCondensed-Bold;
      font-size: 14px;
      color: #4b4a4a;
      letter-spacing: 0.05px;
    }
    h2 {
      max-width: 70%;
      font-size: 52px;
      @media screen and (max-height: 900px) {
        font-size: 48px;
      }
      @media screen and (max-width: 1400px) {
        font-size: 48px;
      }
      @media screen and (max-width: 1280px) {
        max-width: 90%;
        
      }
        @media screen and (max-width: 1192px) {
       font-size: 36px;
       
      }
        @media screen and (max-width: 767px) {
        margin: 0 auto;
       
      }
    }
  }
  .contact-fields {
    flex-basis: 50%;
    padding-top: 90px;
  }
}

.wrapper-row {
  display: flex;
  justify-content: space-between;
}

.contact-row {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-bottom: 40px;
  &.contact-row__directionRow {
    flex-direction: row;
    align-items: center;
    input {
      width: 20px;
      height: 20px;
      
    }
  }
  &.contact-row__full {
    width: 100%;
  }
  input {
    background: none;
    border: 0;
    border-bottom: 1px solid #7E415F;
    width: 100%;
  }
  label {
    /* NAME: */
    font-family: RobotoCondensed-Bold;
    font-size: 12px;
    color: #494646;
    letter-spacing: 1.57px;
  }
  textarea {
    background: none;
    border: 0;
    border-bottom: 1px solid #7E415F;
    width: 100%;
  }
}

.contactFooter {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 40px;
  width: 100%;
  border-top: 1px solid #D2D1CE;
  padding-top: 30px;
          @media screen and (max-width: 767px) { 
            flex-direction: column;
            text-align: center;
          }
  h4 {
    /* HOLIDAY FARM: */
    font-family: RobotoCondensed-Bold;
    font-size: 13px;
    color: #7E415F;
    letter-spacing: 1.81px;
    padding-bottom: 20px;
  }
  a {
    /* T: +30 23510 47000 E: */
    font-family: CormorantGaramond-Medium;
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 1.58px;
    line-height: 20px;
  }
  li.address {
    margin-top: 20px;
  }
  address {
    /* T: +30 23510 47000 E: */
    font-family: CormorantGaramond-Medium;
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 1.58px;
    line-height: 20px;
  }
}


.contactView {
  height: calc(100vh - 250px);
  width: calc(100vw - 250px);
 
  @media screen and (max-height: 900px) {
    width: calc(100vw - 125px);
    min-height: calc(100vh - 125px);
  }
  @media screen and (max-width: 1400px) {
    width: calc(100vw - 125px);
    min-height: calc(100vh - 125px);
  }
   @media screen and (max-width: 767px) {
      width: calc(100vw - 50px);
 
    }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
}

.main-container--contact {
  .winelist {
    top: 125px !important;
  }
}

.back-container {
  position: fixed;
}

.nav.prev {
  position: fixed;
}

.pdp_hero__form {
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;
  form {
    max-width: 650px;
    z-index: 999999999;
  }
  .formTitle {
    /* REQUEST INFORMATION: */
    font-family: 'Cormorant Garamond', serif;
    font-size: 42px;
    color: #4A4A4A;
    letter-spacing: 0.03px;
    text-align: center;
    margin-bottom: 40px;
  }
  .wrapperInput {
    margin-bottom: 40px;
    text-align: left;
    text-transform: uppercase;
  }
  input {
    background: none;
    border: 0;
    border-bottom: 1px solid #7E415F;
    width: 100%;
  }
  label {
    /* NAME: */
    font-family: RobotoCondensed-Bold;
    font-size: 12px;
    color: #494646;
    letter-spacing: 1.57px;
  }
  textarea {
    background: none;
    border: 0;
    border-bottom: 1px solid #7E415F;
    width: 100%;
  }
  .wrapperInput__checkbox {
    text-transform: none !important;
    display: flex;
    input {
      width: 20px;
      height: 20px;
      order: 0;
      border-radius: 0;
    }
    label {
      order: 2;
    }
  }
  button {
    background: none;
    border: 0;
    /* SEND: */
    font-family: CormorantGaramond-Regular;
    font-size: 18px;
    color: #7E415F;
    letter-spacing: 2.5px;
    text-align: right;
    position: relative;
    text-transform: uppercase;
    &:before {
      content: '';
      position: absolute;
      width: 70px;
      height: 1px;
      background: #7E415F;
      bottom: 0;
      left: -4px;
    }
  }
}

.wrapperInput__button {
  text-align: center !important;
}


[data-namespace="contact"] {
  @media screen and (max-width: 767px) { 
    #containerSlide{
          overflow: scroll;
            -webkit-overflow-scrolling: touch;
    padding-bottom: 250px;
    }
  }
}



 

 .thanks{
   display: none;
       position: absolute;
    height: 100vh;
    width: 100vw;
    background: #F6F5E8;
    z-index: 99999999999;
 
 
    align-items: center;
    justify-content: center;
    h5{
          max-width: 50%;
    text-align: center;
    }
 }

 .footer--list--bottom__halfCredits {
    display: flex;
    position: fixed;
    bottom: 40px;
    right: 60px;
    align-items: center;
    justify-content: center;
    align-content: center;
    @media screen and (max-width: 1440px) {  
      bottom:25px;
    }
     @media screen and (max-height: 900px) {  
      bottom:25px;
    }
      @media screen and (max-width: 767px) {  
        display: none !important;
      }
  svg{
        width: 60px;
    height: 14px;
    transform: translateY(5pX);
  }
  p{
        font-family: RobotoCondensed-Bold;
    font-size: 10px;
    text-transform: uppercase;
  }
    }

.wrapperInput{
 input{
      border-radius: 0;
    }
}
   

   .menuMobile_oneup{
    display: block !important;
    position: relative;
    text-align: center;
    width: 100%;
    left: auto;
    right: auto;
    bottom: -30px;
    p{
      color: white;
    }
        @media screen and (min-width: 767px) {   
          display: none !important;
        }

   }


   .not-found{
     background: #F6F5E8;
     opacity: 1;
     display: flex;
    align-items: center;
    justify-content: center;
    h1{
      font-size: 52px;
      text-transform: none;
      span{
        font-size: 120px;
        color: #7E415F;
      }
   
    }
       h2{
        margin-top: 50px;font-size: 44px;
        text-transform: none;
      }
   }