.linesAnimation{
    height: 100%;
    width: 100%;
    background: red;
    position: absolute;
    right: -100%;
    z-index: 99999;
    display: none;
}

.linesAnimation__one{
     background: #7E415F;

}

.linesAnimation__two{
    background:#F6F5E8;
}

.controlsWine svg{
    cursor: pointer;
}