#containerSlide {
  display: block;
  position: relative;
  height: 50vh;
  width: 80vw;
  background-color: #F6F5E8;
  box-sizing: border-box;
  overflow: hidden;
  height: calc(100% - 250px);
  width: calc(100vw - 250px);
  @media screen and (max-height: 900px) {
    width: calc(100vw - 125px);
    min-height: calc(100vh - 125px);
  }
  @media screen and (max-width: 1280px) {
    width: calc(100vw - 125px);
    min-height: calc(100vh - 125px);
  }
   @media screen and (max-width: 767px) {
      width: calc(100vw - 50px);
    }
}

.wrapperContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slider {
  display: block;
  position: relative;
  box-sizing: border-box;
  height: 100%;
}

.innerContainer {
  height: 100%;
}

.activeNumber {
  font-size: 17px;
}

.totalNumber {
  font-size: 12px;
}

.controlsInner {
  width: 67px;
    @media screen and (max-height: 900px) {
width: 53px;
svg{width: 20px;
  }
    }
  @media screen and (max-width: 1280px) {
width: 53px;
svg{width: 20px;
  }
  }
}

.slide {
  display: flex;
  position: relative;
  height: 100%;
  float: left;
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  background-size: cover;
  background-position: center center;
}

#progress {
  display: block;
  position: relative;
  height: 1px;
  width: 60%;
  background-color: #fff;
  margin: 0 auto;
}

.controls {
  display: flex;
  overflow: hidden;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 125px;
  align-items: center;
  @media screen and (max-height: 900px) {
    width: 62.5px;
  }
  @media screen and (max-width: 1400px) {
    width: 62.5px;
  }
    @media screen and (max-width: 767px) {
 width: 100%;
    height: 62px;
 
bottom: 45px;
    top: auto;
  }
      
}

.arrow {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  #prev {
    margin-right: 10px;
  }
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  span {
    color: black;
  }
  .lines {
    width: 20px;
    height: 1px;
    display: block;
    background: #979797;
  }
}

.handle__left {
  position: absolute;
  right: auto;
  left: -27px;
}

.handle__right {
  position: absolute;
  left: auto;
  right: -27px;
}

#scrubber {
  display: block;
  position: relative;
  width: 80vw;
  height: 0px;
  border: solid 1px #f3f3f3;
  right: 0;
  margin: 50px auto;
  position: absolute;
  left: 0;
  bottom: 5px;
  @media screen and (max-height: 900px) {
    margin: 25px auto;
    width: 90vw;
  }
  @media screen and (max-width: 1400px) {
    margin: 25px auto;
    width: 90vw;
  }
   @media screen and (max-width: 767px) {
   display:none !important;
  }
}

#handle {
  display: block;
  position: relative;
  width: 76px;
  height: 76px;
  border: solid 1px #F6F5E8;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  text-align: center;
  font-size: 13px;
  @media screen and (max-height: 900px) {
    width: 45px;
    height: 45px;
    font-size: 10px;
  }
  @media screen and (max-width: 1400px) {
    width: 45px;
    height: 45px;
    font-size: 10px;
  }
}

#dot {
  display: block;
  position: relative;
  width: 0px;
  height: 0px;
  border: solid 10px #5923a5;
  border-radius: 100%;
}

.controlsWine {
  display: flex;
  position: absolute;
  right: 0;
  height: 100vh;
  align-items: center;
  width: 125px;
  justify-content: center;
  @media screen and (max-height: 900px) {
    width: 62.5px;
  }
  @media screen and (max-width: 1400px) {
    width: 62.5px;
  }
    @media screen and (max-width: 767px) {
   display:none !important;
  }
}

.slide {
  overflow: hidden;
  .layer {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    position: absolute;
    left: 0;
    top: 0;
  }
  .slideImg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
}

.slideText {
  position: absolute;
  z-index: 99999;
  left: 100px;
  bottom: 100px;
    @media screen and (max-width: 767px) { 
       left: auto;
    text-align: center;
    padding: 20px;
    }
  h4 {
    color: white;
    font-size: 86px;
    text-transform: none;
    font-weight: 600;
     @media screen and (max-width: 767px) {
   font-size: 48px;

  }
  }
  p {
    color: white;
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 2px;
  }
  a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: white;
    &:before{
      background:white;
    }
  }
}


