.elettronica--img{
        height: 50vh;
    width: 100vw;
background-size: cover !important;
background-position: center !important;
}

.elettronica--description{
    height: 50vh;
    width: 100vw;
    overflow: hidden;
}

.elettronica--description--inner{
    padding: 50px;
    display: flex;
    h1{
          flex-basis: 30%;
              display: flex;
                  font-size: 32px;
    flex-direction: column;
     @media only screen and (max-width: 1023px) { //1440px
 font-size: 24px;
  }

    span{
        margin-bottom: 20px;
        opacity: 1;
    }
    }
  
}

.elettronica--description__paragrah{
    display: flex;
      flex-basis: 70%;
           @media only screen and (max-width: 1023px) { //1440px
           flex-direction: column;
           }
      p{
          color: white;
          padding: 0 30px;
                     @media only screen and (max-width: 1023px) { //1440px
                     margin-bottom: 30px;
                     }

      }
}

.elettronica-ct-layer{
    height: 100vh;
    position: absolute;
    left: 0;
top: 50%;
    width: 100vw;
        background-color: #6295eb;
        z-index: 999999;
}


.span-divider{
    position: relative;
    span{
         margin-bottom: 0;  
    &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 38%;
            height: 6px;
            background: #FCFF4B;
            transition: .3s ease;
            width: 0;
        }
    }
  
    &.lines{
        span{
             display: inline-block;
             overflow: hidden;
            &:before{
                        width: 200px;
             }
        }
       
    }
    
}
.elettronica-back{
    background: #6AA8FF;
}