.home-slider-wrapper {
  width: 100vw;
  height: 100vh;
  background: $bgLight;
  position: relative;
}

.slider-counter {
  position: absolute;
  bottom: 50px;
  left: 60px;
  font-family: 'Tinos', serif;
  .counter_current-index {
    border-bottom: solid 1px white;
    text-align: center;
    width: 30px;
    font-size: 2.6rem;
    padding-bottom: 15px;
    letter-spacing: 3px;
    display: flex;
    overflow: hidden;
    height: 1.4rem;
  }
  .counter_total {
    margin-top: 16px;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 3px;
    display: flex;
    overflow: hidden;
    height: 1.4rem;
    width: 30px;
  }
}

.home-slider-buttons {
  z-index: 999;
  position: absolute;
  height: 100vh;
  display: flex;
  align-items: center;
  .drag-circle-container {
    margin-right: 60px;
    .drag-circle {
      width: 45px;
      height: 45px;
      border-radius: 45px;
      border: solid 1px white;
    }
  }
  .target-circle {
    background: $lightGrey;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 30px;
  }
  .home-slider-buttons_rotate {
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    svg {
      transform: translateX(45px);
      left: 2px;
      height: 30px;
      width: 40px;
      position: absolute;
      path {
        stroke: white;
      }
      rect {
        fill: white;
      }
    }
    span {
      position: absolute;
      left: 174px;
      white-space: nowrap;
    }
  }
  &.next-container {
    right: -30px;
    top: 0;
  }
  &.prev-container {
    left: 0px;
    top: 0;
  }
}

.home-slider-list {
  height: 100vh;
  position: absolute;
  display: flex;
  .home-slider-el {
    height: 100vh;
    width: 100vw;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, .2);
    }
  }
}

.header-container {
  width: 100vw;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  transition: .3s ease;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.0);
  &.nav_down {
    transform: translateY(-100vh);
  }
  &.nav_up {
    transform: translateY(0);
    background: white;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.07);
    .home-link {
      color: #5A585A;
    }
    .menu-cta {
      color: #5A585A;
    }
    .header-part_left {
      border-right: 1px solid #5A585A;
    }
    .header-part_right {
      border-left: 1px solid #5A585A;
    }
    .logo-container {
      width: 130px;
      svg {
        path {
          fill: #5A585A;
        }
      }
    }
  }
  .header-part {
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 1.3rem;
    letter-spacing: 8px;
  }
  .header-part_left {
    border-right: solid 1px $fontColor;
    padding-right: 55px;
    height: 30px;
  }
  .header-part_center {
    margin: 0 125px;
  }
  .header-part_right {
    border-left: solid 1px $fontColor;
    padding-left: 55px;
    height: 30px;
  }
  .menu-cta {
    cursor: pointer;
  }
}

.logo-container {
  width: 172px;
  position: relative;
  z-index: 99999999;
  transition: .3s ease;
  svg {
    path {
      fill: $fontColor;
      transition: .3s ease;
    }
  }
  img {
    width: 210px;
  }
}

.enter-link {
  position: absolute;
  bottom: 120px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  a {
    font-size: 1.5rem;
    font-family: Roboto, sans-serif;
    letter-spacing: 8px;
    text-transform: uppercase;
    position: relative;
    padding: 0 45px;
    transition: .3s ease;
    &:before {
      content: '';
      width: 2px;
      height: 100%;
      background: white;
      position: absolute;
      left: 0;
      top: 0;
    }
    &:after {
      content: '';
      width: 2px;
      height: 100%;
      background: white;
      position: absolute;
      right: 0;
      top: 0;
    }
    &:hover {
      padding: 0 70px;
    }
  }
}

//// MIXINK HOME
.arrowKeys-container {
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  bottom: 10px;
  position: absolute;
  width: 100%;
  @include bp-large {
    display: flex;
  }
  svg {
    width: 100px;
    path {
      fill: white;
    }
  }
  p {
    position: absolute;
    bottom: 20px;
    white-space: nowrap;
    font-size: 12px;
  }
}

.text-delimeter span {
  opacity: 0;
}

.info-news {
  position: absolute;
  top: 66%;
  left: 200px;
}

.info-news--trigger {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  position: relative;
  p {
    position: absolute;
    transform: translateY(8px);
    color: #6295eb;
  }
  .close-news {
    display: none;
    transform: translateY(2px);
    color: #6295eb;
    font-size: 2rem;
  }
}

.info-newx--popUp {
  background: yellow;
  display: none;
  &::before {
    content: '';
  }
  width: 100vw;
  height: 100vh;
  transform: none;
  top: 0;
  position: fixed;
  left: 0;
  border-radius: 0;
  z-index: 999;
  @include bp-medium {
    border-radius: 50%;
    top: -201px;
    -webkit-transform: translateX(32px);
    transform: translateX(38px);
    position: absolute;
    width: 250px;
    height: 250px;
  }
}

.close-news__mobile {
  color: #6295eb;
  font-size: 3rem;
  text-align: right;
  padding: 1rem;
  @include bp-medium {
    display: none;
  }
}

.before-svg {
  position: absolute;
  bottom: -5px;
  left: 23px;
  transform: rotate(-5deg);
  width: 43px;
  svg {
    width: 35px;
  }
}

a.prev {
  margin-bottom: 100px;
  z-index: 99999;
  display: flex;
  justify-content: flex-end;
  .back-container {
    transition: width .4s;
    text-align: left;
    background: #FF5568;
    width: 50px;
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    /* display: flex; */
    border-radius: 50px;
    margin-right: 10px;
    svg {
      transform: translate(15px, 16px);
    }
  }
  span {
    transform: translate(30px, 5px);
    display: inline-block;
  }
  &:hover {
    .back-container {
      width: 120px;
    }
  }
}

a.prev {
  &.contact-prev {
    .back-container {
      background: white;
      svg>line {
        fill: #FF5568;
        stroke: #FF5568;
      }
      span {
        color: #FF5568;
      }
    }
  }
}

.payoff {
  font-family: Arco, sans-serif;
  font-size: 0.8rem;
  transform: translateY(-16px);
  float: right;
  text-align: right;
  transform: translateY(10px);
  @include bp-medium {
    font-size: 1.6rem;
    transform: translateY(20px);
  }
}

.fixedImg_home {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999999999999;
  transition: .5s ease-in;
  background-size: cover !important;
  background-position: center !important;
  &.scales {
    height: calc(100% - 250px);
    width: calc(100vw - 250px);
    @media screen and (max-height: 900px) {
      width: calc(100vw - 125px);
      min-height: calc(100% - 125px);
    }
    @media screen and (max-width: 1400px) {
      width: calc(100vw - 125px);
      min-height: calc(100% - 125px);
    }
     @media screen and (max-width: 767px) {
      width: calc(100vw - 50px);
    }
  }
}

.mail {
  width: 30px;
  height: 20px;
  background: #ff8789;
  position: relative;
  transform-style: preserve-3d;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.mail:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-left: 14px solid Transparent;
  border-right: 15px solid #F6F5E8;
  border-top: 10px solid Transparent;
  border-bottom: 10px solid #F6F5E8;
  z-index: 5;
  border-bottom-right-radius: 1px;
}

.mail:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 15px solid #F6F5E8;
  border-right: 14px solid Transparent;
  border-top: 10px solid Transparent;
  border-bottom: 10px solid #F6F5E8;
  z-index: 4;
  border-bottom-left-radius: 1px;
}

.cover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 10px solid #ff8789;
  border-bottom: 10px solid transparent;
  z-index: 6;
  transform-origin: top;
  transform: rotateX(0deg);
  transition: all 1s 1s ease;
}

.letter {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 1px;
  background: white;
  width: 28px;
  height: 18px;
  border-radius: 2px;
  transition: all 1s ease;
}

.letter h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8px;
  color: #7E415F;
  font-weight: 900;
}

.mail:hover .cover:before {
  transform: rotateX(180deg);
  transition: all .3s ease;
}

// .mail:hover .letter{
//   top: -8px;
//   transition: all .3s .3s ease;
// }
.iconMail {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7E415F;
}


.splashPage{
      width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999999;

    .water-transition{
          display: block;
    width: 100vw;
    height: 100vh;
    transform: none;
    background:white;
    }
    .water{
      transition: 2.7s ease;

    }
    &.splashIn{
      .water{
        transform: none;
      }
    }
}


.loader-percent{
  font-size: 100px;
      height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
color:#FFF9E7; 
    position: fixed;
    z-index: 9999999999999;
    width: 100vw;
    transform: translateY(143px);
}

.morphSvg{
  position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottle{
  visibility: hidden;
}


.logo_mobile{
  display: block;
  svg{
      height: 35px;
  }

  path{
    fill:black;
  }
      @media screen and (min-width: 768px) { 
        display: none;
      }
}

.logo_desk{
  display: none;
    @media screen and (min-width: 768px) { 
        display: block;
      }
}

.logo{
  z-index: 999999;
}



.water-transition.water-transition__wine{
  display: block;
  top: 125px;
  left:125px;
    @media screen and (max-height: 900px) { 
   top: 62.5px;
  left:62.5px;
    }
      @media screen and (max-width: 1280px) {
     top: 62.5px;
  left:62.5px;
  }
   @media screen and (max-width: 767px) {
     left:25px;
    }
  &.transitionDown{
    .water{
      transition: 1.5s;
          transform: translate(0, 140%) !important;
    }
  }
}


body{
  &.startTransition{
    .containerSlide__absolute{
      opacity: 0;
      transition: .3s ease;
    }
  #slider{
          opacity: 0;
      transition: .3s ease;
    }
  }
}