@charset "UTF-8";
/*
================================================================================
    RESET
================================================================================
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  width: 100%;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  /* Per impedire dimensioni strane del testo su ipad e iphone */
  -webkit-font-smoothing: antialiased;
  /* Per impedire comportamenti strani di Safari */
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

/*
================================================================================
    LETTERING
================================================================================
*/

@font-face {
  font-family: Arco;
  src: url(../fonts/arco.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Brco;
  src: url(../fonts/brco.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

/*
================================================================================
    COLOURS
================================================================================
*/

.azure {
  color: rgba(98, 149, 352, 1);
}

.azure_light {
  color: rgba(118, 169, 255, 1);
}

.yellow {
  color: rgba(252, 255, 75, 1);
}

.pink {
  color: rgba(239, 98, 108, 1);
}

/*
================================================================================
    TITLES AND PARAGRAPHS
================================================================================
*/

.XXX {}

/*
================================================================================
    LINKS
================================================================================
*/

.XXX {}

/*
================================================================================
    BUTTONS
================================================================================
*/

.XXX {}

/*
================================================================================
    MENU
================================================================================
*/

ul.menu {
  font-family: Arco, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  color: rgba(255, 255, 255, 1);
}

ul.menu a:link,
ul.menu a:visited {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

ul.menu a:hover {
  color: rgba(252, 255, 75, 1);
}

ul.menu>li:first-of-type {
  position: absolute;
  top: 4%;
  left: 4%;
}

ul.menu>li:nth-of-type(2) {
  position: absolute;
  top: 4%;
  right: 4%;
}

ul.menu>li:nth-of-type(3) {
  position: absolute;
  bottom: 4%;
  right: 4%;
}

ul.menu>li:last-of-type {
  position: absolute;
  bottom: 4%;
  left: 4%;
}

span.rotate_90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  display: inline-block;
}

span.rotate_180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  display: inline-block;
}

span.rotate_270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  display: inline-block;
}

/*
================================================================================
    OTHER
================================================================================
*/

div.logo_container {
  width: 50%;
}

div.logo_container.logo_container__ie {
  display: none;
  svg {
    fill: white;
  }
}

div.space {
  float: left;
  width: 2.1739%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

div.space:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

div.dot {
  background-color: rgba(255, 255, 255, 1);
  transition: 0.2s all ease-in-out;
}

div.dot.big {
  width: 100%;
  height: auto;
  padding-top: 100%;
  border-radius: 50%;
}

div.dot.medium {
  width: 66.666%;
  height: auto;
  padding-top: 66.666%;
  border-radius: 50%;
}

div.dot.small {
  width: 33.333%;
  height: auto;
  padding-top: 33.333%;
  border-radius: 50%;
}

div.space:hover div.dot {
  width: 1%;
  padding-top: 1%;
  border-radius: 0.5%;
}

/*div.space:hover ~ div.space>div.dot.small { background-color: rgba(118, 169, 255, 1); }
            
div.space:hover ~ div.space>div.dot.medium { background-color: rgba(118, 169, 255, 1); }*/

div.news {
  position: fixed;
  bottom: 10%;
  left: 10%;
  z-index: 2;
  width: 6%;
  height: auto;
  padding-top: 6%;
  border-radius: 50%;
  background-color: rgba(252, 255, 75, 1);
  cursor: pointer;
}

div.news p {
  font-family: Arco, sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  color: rgba(98, 149, 352, 1);
  position: relative;
  top: -50%;
  left: -50%;
}

div.elettronica {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: aqua;
}

/* TESTING */

div.container {
  width: 300%;
  height: 300%;
  background-color: aqua;
  position: absolute;
  top: -100%;
  left: -100%;
}

div.content_01 {
  width: 33.333%;
  height: 33.333%;
  background-color: red;
  position: absolute;
  top: 33.333%;
  left: 33.333%;
}

div.content_02 {
  width: 33.333%;
  height: 33.333%;
  background-color: blue;
  position: absolute;
  top: 0;
  left: 33.333%;
}

div.content_03 {
  width: 33.333%;
  height: 33.333%;
  background-color: gray;
  position: absolute;
  top: 33.333%;
  left: 66.666%;
}

div.content_04 {
  width: 33.333%;
  height: 33.333%;
  background-color: yellowgreen;
  position: absolute;
  top: 66.666%;
  left: 33.333%;
}

div.content_05 {
  width: 33.333%;
  height: 33.333%;
  background-color: bisque;
  position: absolute;
  top: 33.333%;
  left: 0;
}

div.container_view_content_02 {
  top: 0;
}

div.container_view_content_03 {
  left: -200%;
}

div.container_view_content_04 {
  top: -200%;
}

div.container_view_content_05 {
  left: 0;
}

.home-logo {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navigation {
  font-family: Arco, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  z-index: 99;
  &.navigation__topLeft {
    top: 50px;
    left: 50px;
  }
  &.navigation__topRight {
    top: 50px;
    right: 50px;
  }
  &.navigation__btmRight {
    bottom: 50px;
    right: 50px;
  }
  &.navigation__btmLeft {
    bottom: 50px;
    left: 50px;
  }
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }
}

.dot {
  opacity: 0;
}

.logo {
  position: absolute;
  right: auto;
  left: 125px;
  color: black;
  top: 40px;
  font-size: 28px;
  text-transform: uppercase;
  @media screen and (max-height: 900px) {
    top:15px;
    left: 62.5px;
  }
  @media screen and (max-width: 1400px) {
    top: 15px;
    left: 62.5px;
  }
  @media screen and (max-width: 767px) {
   left: 19.5px;
  }
    
}
