// .menu-wrapper{
// 	    width: 100vw;
//     height: 100vh;
//     position: fixed;
//     top: 0;
//     left: 100vw;
//     z-index:99999;
//     .menu-container{
//     	display:flex;
//     }
//     .menu-button-wrapper{
//         margin-top:30px;
//         height:118px;
//         display: flex;
//         align-items:center;
//         position:absolute;
//         top:0;
//         left: 0;
//         z-index: 20;
//         width:100%;
//         justify-content:center;
//         .close-menu{
//             position:absolute;
//             left:calc(50vw + 215px);
//             font-family: Roboto, sans-serif;
//             font-size:1.3rem;
//             letter-spacing:8px;
//             cursor:pointer;
//             height: 30px;
//             padding-left:55px;
//             border-left: solid 1px white;
//             display: flex;
//             align-items: center;
//         }
//     }
// }
// .menu-list-container{
// 	background:$bgColor;
// 	width:50vw;
//     	height:100vh;
//     	display: flex;
//     	align-items:center;
//         position: relative;
// }
// .menu-list{
//      margin-left:42px;
//         li{
//             margin-bottom:46px;
//             cursor:pointer;
//             .link-description{
//                 transition-timing-function: cubic-bezier(.37,.01,0,.98);
//                 transition-duration: .4s;
//             }
//             svg{
//                 transition-timing-function: cubic-bezier(.37,.01,0,.98);
//                 transition-duration: .4s;
//             }
//             span{
//                     display: inline-block;
//                 margin-top:20px;
//                 margin-left:46px;
//                 font-family:Tinos,serif;
//                 font-size:2rem;
//                 letter-spacing:24px;
//             }
//             &:hover{
//                 svg{
//                  transform: translateX(295px);
//                     path{
//                         stroke:white;
//                     }
//                 }
//                 .link-description{ 
//                  border:1px solid white;
//                  transform: translateX(-43px);
//                 } 
//             }
//         }
//     }
// .menu-clips{
// 	position:relative;
// 	opacity:0;
// 	background:$bgLight;
// 	width:50vw;
//     	height:100vh;
//     	.menu-single-clip{
//     		position: absolute;
//     		top:0;
//     		right:0;
//     		width:100%;
//     		height: 100%;
//     		opacity: 0;
//             display: flex;
//             justify-content:center;
//             overflow: hidden;
// 		.menu-clip{
//     			height: 100%;
// 		}
//     	}
// }
// .link-description {
//     border:solid 1px $wowBlack;
//     padding:16px;
//     padding-left:46px;
//     width: 256px;
//     font-family:Tinos,serif;
//     font-size:1.5rem;
//     font-style: italic;
//     letter-spacing:4px; 
//     svg {
//         position: absolute;
//         left: 0;
//     }
// }
// .social-button-container{
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     height: 100px;
//     display: flex;
//     justify-content:center;
//     .social-buttons{
//         display: flex;
//         justify-content:space-between;
//         width: 570px;
//         li{
//             width:60px;
//             height:60px;
//             cursor: pointer;
//             svg{
//                 transition-timing-function: cubic-bezier(.37,.01,0,.98);
//                 transition-duration: .4s;
//                 fill:#666666;
//             }
//             &:hover{
//                 svg{
//                     fill:white;
//                 }
//             }
//         }
//     }
// }
// .nav{
//     &.prev{
//         position: fixed;
//         bottom: 0;
//         width: 100%;
//         text-align: center;
//         font-size: 20px;
//         bottom: 0;
//         margin-bottom: 30px;
//     }
// }
.menuInside {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100vh - 250px);
  z-index: 999999;
  display: none;
  overflow: hidden;
  @media screen and (max-height: 900px) {
    height: calc(100vh - 125px);
  }
  @media screen and (max-width: 1400px) {
    height: calc(100vh - 125px);
  }
}

.menuInside__vertical {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999999;
  display: none;
  &.transition{
    .water{
      transition: 1s;
     
    }
    .menuFilling{
    &.transitionDown{
       .water{
        transform: translateY(140%) !important;
     
    }

      }
    }
 
  }
  .water {
    position: absolute;
    height: 211%;
    width: 100%;
    z-index: 5;
    bottom: 0;
    left: 0;
   &.top{
  
     &.bottom{
       transform: translateY(300%);
     }
   }
    &.transIn {
 
    }
    @media screen and (max-height: 900px) {
      height: 170%;
    }
    @media screen and (max-width: 1400px) {
      height: 170%;
    }
  }
  &.transIn {
    &.water {}
  }
}

.menuInside__wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  position: absolute;
  z-index: 999999999;
  width: 100%;
  flex-wrap: wrap;
      justify-content: center;
    align-items: center;
    align-content: center;
}

.menuList {
    display: flex;
    width: 100%;
 
        max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
   @media screen and (max-width: 767px) {  
     width: 100%;
     text-align: center;
     padding-right: 0;
     padding-left: 0;
     flex-direction: column;
   }
  li {
    margin-bottom: 20px;
  }
  a {
    font-size: 44px;
    color: #BABAB1;
    font-family: 'Cormorant Garamond', serif;
     @media screen and (max-width: 991px) {   
       font-size: 32px;
     }
  }
}

.menuTrigger {
  position: absolute;
  right: 125px;
  top: 50px;
  z-index: 999999999;
  border: 0;
  outline: none !important;
  background: none;
  @media screen and (max-height: 900px) {
    top:25px;
    right: 62.5px;
  }
  @media screen and (max-width: 1400px) {
    top: 25px;
    right: 62.5px;
  }
   @media screen and (max-width: 767px) {
   right: 19.5px;
   top: 17px;
  }
}

.menuInside__wrapper {
  justify-content: flex-start;
}

.menuList__address {
  position: absolute;
  bottom: 50px;
  right: 100px;
    @media screen and (max-width: 767px) { 
      display: none !important;
    }
  .menuList--item {
    margin-bottom: 10px;
    line-height: 18px;
    color: white;
    font-family: RobotoCondensed-Regular;
  }
}

.menuList__address--item {
  font-size: 12px;
  color: white;
  ;
  h5 {
    font-size: 44px;
    color: #BABAB1;
    margin-bottom: 20px;
    text-transform: none;
  }
}

.menuLayer {
  width: 100%;
  height: 100%;
  background: #F6F5E8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  transform: translateY(-100%)
}

.menuLayer__two {
  background: #7A0412;
}

.menuList--item__margin {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 21px;
}

.burger-menu {
  position: relative;
  width: 40px;
  height: 30px;
  margin: 0 auto;
  color: #60635E;
  text-transform: uppercase;
}

.burger-click-region {
  position: absolute;
  left: 0;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

.burger-menu-txt {
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  cursor: default;
  transition: opacity 200ms ease-out, transform 200ms cubic-bezier(.34, .55, .25, .83);
  .is-open & {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
}

$menu-animation-duration: 400ms;
$menu-animation-timing : ease-out;
.burger-menu-piece {
  display: block;
  position: absolute;
  width: 40px;
  border-top: 1px solid black;
  transform-origin: 50% 50%;
  transition: transform $menu-animation-duration $menu-animation-timing;
  &:nth-child(1) {
    top: 0;
  }
  &:nth-child(2) {
    top: 12px;
    opacity: 1;
    border-top: 2px solid black;
    transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear $menu-animation-duration / 2;
  }
  &:nth-child(3) {
    top: 24px;
  }
  .active & {
    &:nth-child(1) {
      animation: burger-open-top $menu-animation-duration $menu-animation-timing forwards;
    }
    &:nth-child(2) {
      opacity: 0;
      transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear $menu-animation-duration / 2;
    }
    &:nth-child(3) {
      animation: burger-open-bot $menu-animation-duration $menu-animation-timing forwards;
    }
  }
  .closing & {
    &:nth-child(1) {
      animation: burger-close-top $menu-animation-duration $menu-animation-timing forwards;
    }
    &:nth-child(3) {
      animation: burger-close-bot $menu-animation-duration $menu-animation-timing forwards;
    }
  }
}

@keyframes burger-open-top {
  50% {
    transform: translate3d(0, 12px, 0);
  }
  100% {
    transform: translate3d(0, 12px, 0) rotate(45deg);
  }
}

@keyframes burger-open-bot {
  50% {
    transform: translate3d(0, -12px, 0);
  }
  100% {
    transform: translate3d(0, -12px, 0) rotate(-45deg);
  }
}

@keyframes burger-close-top {
  0% {
    transform: translate3d(0, 12px, 0) rotate(45deg);
  }
  50% {
    transform: translate3d(0, 12px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes burger-close-bot {
  0% {
    transform: translate3d(0, -12px, 0) rotate(-45deg);
  }
  50% {
    transform: translate3d(0, -12px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

// .water-fill__menu {
//   -webkit-animation: wave_menu 0.7s infinite linear, fill-up__menu 10s infinite ease-out alternate;
//           animation: wave_menu 0.7s infinite linear, fill-up__menu 10s infinite ease-out alternate;
// }
// .menuFilling{
//   width: 100vw;
//   height: 100vh;
//   svg{
//     height: 100vh;
//     width: 100%;
//   }
// }
// @-webkit-keyframes wave_menu {
//   0% {
//     x: -400px;
//   }
//   100% {
//     x: 0;
//   }
// }
// @keyframes  wave_menu  {
//   0% {
//     x: -400px;
//   }
//   100% {
//     x: 0;
//   }
// }
// @-webkit-keyframes fill-up__menu {
//   0% {
//     height: 0;
//     y: 200px;
//   }
//   100% {
//     height: 200px;
//     y: -30px;
//   }
// }
// @keyframes fill-up__menu {
//   0% {
//     height: 0;
//     y: 200px;
//   }
//   100% {
//     height: 200px;
//     y: -30px;
//   }
// }
.water {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  bottom: 0;
  left: 0;
  background: #7E415F;
  transform: translate(0, 140%); //display: none;
  &__inner {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &.translateIn {
    transform: translate(0, 0%);
  }
  &__wave {
    width: 200%;
    position: absolute;
    bottom: 100%;
    &_back {
      right: 0;
      fill: #8F496C;
      animation: wave-back 1.4s infinite linear;
    }
    &_front {
      left: 0;
      fill: #7E415F;
      margin-bottom: -1px;
      animation: wave-front .7s infinite linear;
    }
  }
}

.water-transition {
  display: none;
  position: fixed;
  height: calc(100% - 250px);
  width: calc(100vw - 250px);
  @media screen and (max-height: 900px) {
    width: calc(100vw - 125px);
    min-height: calc(100vh - 125px);
  }
  @media screen and (max-width: 1400px) {
    width: calc(100vw - 125px);
    min-height: calc(100vh - 125px);
  }
   @media screen and (max-width: 767px) {
      width: calc(100vw - 50px);
    }
  overflow: hidden;
  transform: translate(0, 140%);
  z-index: 99999999999;
  .water {}
}

.bubble {
  position: absolute;
  bottom: 80px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background: #fff;
  border-radius: 50%;
  transform: scale(0) translate(0, 0);
  opacity: 0;
  &_2 {
    margin-left: -20px;
  }
}

@keyframes wave-front {
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes wave-back {
  100% {
    transform: translate(50%, 0);
  }
}

@keyframes button-shadow {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.6);
  }
}

@keyframes bubble-1 {
  0% {
    opacity: 1;
    transform: scale(0) translate(0, 0);
  }
  25% {
    transform: scale(.25) translate(20px, -25px);
  }
  50% {
    transform: scale(.5) translate(40px, -50px);
  }
  75% {
    transform: scale(.75) translate(20px, -75px);
  }
  100% {
    transform: scale(1) translate(10px, -100px);
  }
}

@keyframes bubble-2 {
  0% {
    opacity: 1;
    transform: scale(0) translate(-20px, -10px);
  }
  25% {
    transform: scale(.25) translate(-40px, -45px);
  }
  50% {
    transform: scale(.5) translate(-60px, -70px);
  }
  75% {
    transform: scale(.75) translate(-40px, -95px);
  }
  100% {
    transform: scale(1) translate(-30px, -100px);
  }
}

@keyframes bubble-3 {
  0% {
    opacity: 1;
    transform: scale(0) translate(0, 0);
  }
  25% {
    transform: scale(.25) translate(0, -20px);
  }
  50% {
    transform: scale(.5) translate(-10px, -40px);
  }
  75% {
    transform: scale(.75) translate(10px, -60px);
  }
  100% {
    transform: scale(1) translate(0, -100px);
  }
}


.contactFooter{



 &.contactFooter__menu{
     border-top:0px !important;
     &:before{
    content:'';
    position: absolute;
    width: 0;
    height: 1px;
    background:#D2D1CE;
    transition: .3s ease;
    max-width: 80%;
  }
    &.borderTop{
    &:before{
      width: 100%;
    }
  }
   ul{
         position: relative;
    bottom: auto;
    right: auto;
    margin-top: 60px;
   }
   h4{
     color: white;
   }
   a{
     color: white;
   }
   address{
          color: white;

   }
 }
}