#containerSlide {}

.pdp_hero {
  min-height: calc(100vh - 250px);
  @media screen and (max-height: 900px) {
    width: calc(100vw - 125px);
    min-height: calc(100vh - 125px);
  }
  @media screen and (max-width: 1400px) {
    width: calc(100vw - 125px);
    min-height: calc(100vh - 125px);
  }
   @media screen and (max-width: 1024px) {
     overflow: visible;
      
    }
     @media screen and (max-width: 991px) {
     flex-wrap: wrap;
      
    }
   @media screen and (max-width: 767px) {
      width: calc(100vw - 50px);


    }
  display: flex;
  justify-content: space-between;
  .pdp_col1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 70px;
        @media screen and (max-width: 991px) {
    width: 100%;
      
    }
       @media screen and (max-width: 767px) {
    padding:10px;
      
    }
  }
  h1 {
    font-size: 46px;
    color: #7E415F;
    font-weight: 600;
    margin-bottom: 15px;
       @media screen and (max-width: 767px) { 
         font-size: 32px;
       }
  }
  h2 {
    font-size: 38px;
       @media screen and (max-width: 767px) {
         font-size: 28px;
       }
  }
  p {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 31px;
        @media screen and (max-width: 1024px) {  
          padding: 0;

        }
         @media screen and (max-width: 767px) {  
          font-size: 21px;
          line-height: 27px;

        }
  }
}

.circleInner {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  position: absolute;
  background-position: center !important;
  transition: .3s ease;
  opacity: 0;
  background-repeat: no-repeat !important;
}

.pdp_imgOne {
  position: relative;
  display: flex;
  padding-right: 33px;
   @media screen and (max-width: 767px) {  
         flex-direction: column;
       }
  picture {
    margin-left: auto;
    &.imgRelative {
      max-width: 400px;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

.imgAbsolute {
  position: absolute;
  top: 50px;
  left: 19px;
  max-width: 700px;
  width: 100%;
   @media screen and (max-width: 767px) {  
         position: relative;
       }
  img {
    width: 100%;
  }
}

.pdp_imgTwo {
  position: relative;
  display: flex;
  padding-right: 33px;
  .imgAbsolute {
    position: absolute;
    top: 150px;
    left: -32px;
    max-width: 500px;
    width: 100%;
    @media screen and (max-width: 1024px) { 
    top: 150px;
    left: -272px;
    }
      
  }
  picture {
    margin-left: auto;
    &.imgRelative {
      max-width: 600px;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

.pdp_col1_2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 70px;

      @media screen and (max-width: 991px) {  
        display: none !important;
      }
}

.pdp_col1_3 {
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 70px;

      @media screen and (max-width: 991px) {  
       width: 100%;
      }
        @media screen and (max-width: 768px) {  
       padding: 10px;
      }
  p {
    text-align: left;
    padding-right: 0;
      @media screen and (max-width: 767px) {  
       text-align: center;
      }
  }
}

.pdp_hero__form{
  .formTitle{
      @media screen and (max-width: 991px) {   
        font-size: 32px;
      }
        @media screen and (max-width: 640px) {   
        font-size: 28px;
      }
  }
}


.fixedImg {
  position: fixed;
  z-index: 999999;
  top: -5vh;
  left: 250px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 110vh;
  @media screen and (max-width: 1024px) {
      position: fixed;
    z-index: 999999;
    top: 14vh;
    left: 153px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 73vh;
  }
    @media screen and (max-width: 991px) { 
      display: none !important;
    }
  img {
    height: 100%;
    z-index: 9999;
  }
}
.d_none_mobile{
      @media screen and (max-width: 991px) {  
        display: none !important;
      }
}
.imgPdpMobile{
  display: none;
      @media screen and (max-width: 991px) {  
        display: block;
        img{
          margin-bottom: 50px;
          height: 300px;
        }
      }
}

.fixedImg{
  .fixedCicler__right{
background:#f4efdb !important;
  }
  .fixedCicler__left{
background:#f4efdb !important;

  }
}
.wine_specs {
  position: absolute;
  top: 35vh;
  right: -200px;
    @media screen and (max-width: 1024px) { 
      display: none !important;
    }
  .lines {
    height: 1px;
    width: 100px;
    background: black;
    transform: translateX(-8px);
  }
  .circle {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    span {
      font-family: 'Cormorant Garamond', serif;
      font-size: 21px;
    }
    .strong {
      font-family: 'Roboto Condensed', sans-serif;
      margin-bottom: 3px;
      text-transform: uppercase;
      font-size: 16px;
    }
    &:hover {
      .circleInner {
        opacity: 1;
      }
    }
    span {
      color: black;
    }
  }
}

.pdp_notest {
  ul {
    li {
      h4 {
        font-family: 'Roboto Condensed', sans-serif;
      }
      margin-bottom: 20px;
      justify-content: center;
      align-items: center;
      display: flex;
      svg {
        margin-right: 10px;
      }
    }
  }
}

.wine_specs__terreno {
  position: absolute;
  bottom: 45vh;
  top: auto;
  right: -230px;
}

.wine_year--inner {
  display: flex;
  align-items: center;
}

.wine_specs__produ {
  top: auto;
  bottom: 20vh;
  right: -300px;
  .circle {
    width: 130px;
    height: 130px;
  }
  .lines {
    width: 150px;
  }
}

.containerSlide__absolute {
  height: 100%;
  z-index: 9;
  position: absolute;
  width: 100%;
}

.scrollaBle {
  position: relative;
  height: 100%;
  overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.morelline_Svg {
  position: absolute;
  bottom: 0;
  z-index: 9999999999;
  width: 100%;
  svg {
    width: 150%;
    height: 150%;
  }
}

.nextWine {
  position: absolute;
  width: 100%;
  bottom: 0;
      z-index: 999999999999;
   @media screen and (max-width: 767px) {  
         z-index: 999999999999;
         a{
           display: block;
         }
       }
  svg {
    width: 100%;
    height: 100%;
  }
}

.pdp_hero__form {
  position: relative;
  margin-top: -50px;
  form{
  padding: 50px;
   @media screen and (max-width: 767px) {  
          padding: 10px;

        }
  }
}

.pdp_hero {
  overflow: hidden;
  .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
    background: #7A0412;
    z-index: 9999999999;
    display: none;
    &.layer__two {
      background: #F6F5E8;
    }
  }
}

.imgRelative {
  position: relative;
}

picture {
  overflow: hidden;
}

.pdp_heroText--pinned {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 170px;
  text-align: center;
  padding-bottom: 50px;
  h4 {
    font-size: 48px;
    margin-bottom: 30px;
      @media screen and (max-width: 991px) { 
        font-size: 32px;
      }
  }
  p {
    font-size: 24px;
    line-height: 31px;
    max-width: 80%;
    margin: 0 auto;
  }
}

.pdp_pinned {
  overflow: hidden;
  min-height: 600px;
  .wrapper-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 26px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.92);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
  }
}

.pdp_hero__drag {
  cursor: url(../img/drag.svg), auto !important;
}

#slider {
  cursor: url(../img/dragWhite.svg), auto !important;
}

.js-section {
  picture {
    img {
      opacity: 1;
    }
  }
}

#text__text {
  font-size: 100px;
  @media screen and (max-width: 1500px) {
    font-size: 90px;
  }
}

.notesPlate {
  position: fixed;
  right: 20px;
  top: 190px;
  display: flex;
  z-index: 99;
}

.wrapperNotes {
  display: flex;
  align-items: center;
  p {
    /* On the plate: */
    font-family: 'Cormorant Garamond', serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.2px;
  }
  .lines {
    width: 50px;
    height: 1px;
    background: #979797;
    margin-right: 10px;
  }
}

.foodNotesTrigger {
  display: none;
}

.fixedCircle {
  height: 100vh;
  width: 100vh;
  position: absolute;
  transform: scale(.85);
  opacity: 0;
    @media screen and (max-width: 1024px) { 
        transform: scale(.55);
    }
}

.fixedCicler__right {
  height: 100vh;
  width: 50vh;
  border-radius: 50vh 0 0 50vh;
  background: #faebee;
  position: absolute;
  &:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;
    height: 126px;
    width: 63px;
    border-radius: 125px 0 0 125px;
  }
  &:after {}
}

.fixedCicler__left {
  height: 100vh;
  width: 50vh;
  border-radius: 50vh 0 0 50vh;
  background: #faebee;
  position: absolute; // -webkit-animation: rotateRightMask 10s infinite linear;
  -webkit-transform-origin: center right;
  -webkit-transform: rotate(0deg);
  &:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;
    height: 126px;
    width: 63px;
    border-radius: 125px 0 0 125px;
  }
  &:after {
    content: "";
    position: absolute;
    height: 288px;
    width: 216px;
    left: -144px;
    top: -72px;
    -webkit-transform-origin: center right;
  }
}

@-webkit-keyframes rotateRightMask {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    visibility: hidden;
  }
  100% {
    -webkit-transform: rotate(180deg);
    visibility: hidden;
  }
}

.fixedCircle__noJs {
  height: calc(100vh - 250px);
  width: calc(100vh - 250px);
  position: absolute;
  -webkit-transform: scale(0.85);
  transform: scale(0.75);
  opacity: 0;
  .fixedCicler__right {
    height: calc(100vh - 250px);
    width: calc(50vh - 125px);
    border-radius: 500px 0 0 500px;
    background: #faebee;
    position: absolute;
  }
  &.fixedCicler__right__center {
    transform: scale(0.75) rotate(-90deg);
    .fixedCicler__right {}
  }
  &.fixedCicler__right__left {
    transform: scale(0.75) rotate(180deg);
    .fixedCicler__right {}
  }
  @media screen and (max-height: 900px) {
    transform: scale(0.6);
    &.fixedCicler__right__center {
      transform: scale(0.6) rotate(-90deg);
    }
    &.fixedCicler__right__left {
      transform: scale(0.6) rotate(180deg);
    }
  }
  @media screen and (max-width: 1440px) {
    transform: scale(0.6);
    &.fixedCicler__right__center {
      transform: scale(0.6) rotate(-90deg) !important;
    }
    &.fixedCicler__right__left {
      transform: scale(0.6) rotate(180deg) !important;
    }
  }
   @media screen and (max-width: 1024px) {
    transform: scale(0.5);
    &.fixedCicler__right__center {
      transform: scale(0.5) rotate(-90deg) !important;
    }
    &.fixedCicler__right__left {
      transform: scale(0.5) rotate(180deg) !important;
    }
  }
   @media screen and (max-width: 768px) {
    transform: scale(0.33);
    &.fixedCicler__right__center {
      transform: scale(0.33) rotate(-90deg) !important;
    }
    &.fixedCicler__right__left {
      transform: scale(0.33) rotate(180deg) !important;
    }
  }
}

.winelist {
  .fixedCicler__right__center {
    .fixedCicler__right {
      background: #f4efdb !important;
    }
  }
  .fixedCicler__right__left {
    transform: scale(0.75) rotate(180deg);
    .fixedCicler__right {
      background: #e4e0b3 !important;
    }
  }
}

.scrollDown{
  display: flex;
    flex-direction: column;
    text-align: center;
        align-items: center;
    p{
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 6px;
    text-transform: uppercase;
    font-size: 9px;
    }
}

[data-namespace="pdp"] {
  #containerSlide {
    background: none;
  }
  .scrollaBle {
    background-color: #F6F5E8;
  }


  .controls{
       @media screen and (max-width: 767px) {
 
 
bottom:0;
 
  }
  }
}
