.hero--img {
  height: 50vh;
  width: 100vw;
  background-size: cover !important;
  background-position: center !important;
  overflow: hidden;
  .hero--img-el {
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    h2 {
      margin: 2rem 0;
      z-index: 99;
      font-size: 3rem;
    }
    a {
      z-index: 99;
    }
    &.slick-slide::before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
    }
  }
  .slick-list {
    height: 100%;
    .slick-track {
      height: 100%;
    }
  }
}

.page--description {
  //height: 50vh;
  width: 100vw;
  min-height: 50vh;
}

.page--description--inner {
  padding: 40px;
  @include bp-medium {
    padding: 50px;
  }
  @include bp-large {
    display: flex;
  }
  h1 {
    flex-basis: 30%;
    display: flex;
    font-size: 32px;
    flex-direction: column;
    padding: 0;
    opacity: 0;
    @include bp-large {
      padding: 0 30px;
    }
    span {
      margin-bottom: 20px;
      opacity: 1;
    }
  }
}

.page-description-container {
  flex-basis: 70%;
  .page--description__paragrah {
    @include bp-large {
      display: flex;
    }
    p {
      color: white;
      padding: 30px 0;
      padding-top: 0;
      opacity: 0;
      @include bp-large {
        padding: 0 30px;
      }
    }
  }
}

.software-ct-layer {
  height: 100vh;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100vw;
  background-color: #6295eb;
  z-index: 999999;
}

.span-divider {
  position: relative;
  span {
    margin-bottom: 0;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 38%;
      height: 6px;
      background: #FCFF4B;
      transition: .3s ease;
      width: 0;
    }
  }
  &.lines {
    span {
      display: inline-block;
      overflow: hidden;
      &:before {
        width: 200px;
      }
    }
  }
}

.software-back {
  background: #6AA8FF;
}

.software-projects {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
  li {
    width: 100%;
    height: 20vh;
    margin: 2rem 0;
    cursor: pointer;
    @include bp-medium {
      width: calc(50% - 4rem);
    }
    @include bp-full {
      width: calc(33.333333% - 4rem);
    }
    h2 {
      display: flex;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      align-items: center;
      justify-content: center;
      color: white;
      opacity: 0;
      transition: all 0.4s;
    }
    &:hover {
      h2 {
        opacity: 1;
      }
    }
  }
}

.software-popup {
  display: none;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  @include bp-medium {
    width: calc(100% - 2rem);
    padding: 1rem;
  }
  @include bp-full {
    width: calc(100% - 4rem);
    padding: 2rem;
  }
  height: 100%;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  .close-popup {
    color: black;
    text-align: right;
    cursor: pointer;
    font-size: 2rem;
    background: white;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 45px;
    position: fixed;
    right: 0;
    top: 0;
    @include bp-medium {
      position: static;
      width: auto;
      color: white;
      background: none;
      padding: 0;
    }
  }
}

.popup-content {
  display: none;
  background: white;
  padding: 1rem;
  max-height: 100vh;
  overflow-y: auto;
  @include bp-medium {
    max-height: calc(100vh - 8rem);
  }
  @include bp-full {
    padding: 2rem;
  }
  .popup-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    @include bp-full {
      width: 600px;
      height: 400px;
    }
  }
  .popup-inner {
    @include bp-full {
      display: flex;
      align-items: center;
    }
    .popup-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem 0;
      @include bp-full {
        padding: 2rem;
      }
      h2,
      p,
      a {
        color: black;
      }
      p {
        padding: 2rem 0;
      }
      a {
        text-align: right;
      }
    }
  }
}
