html {
  font-size: 62.5%;
  // font-size: 16px;
  overflow-y: scroll;
  overflow-x:hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'themix';
    -webkit-overflow-scrolling: touch;
}


// Animation
.anima {
  @include transition(all, 0.2s, ease-in);
}

.barba-container{
	position: relative;
}