/*The Mix font*/
@font-face {
    font-family: arco;
    src: url(../fonts/arco.otf)  format("opentype");
     font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: brco;
    src: url(../fonts/brco.otf)  format("opentype");
     font-weight: 400;
    font-style: normal
}

p{
  font-size: 1.6rem;

  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6{
font-family: 'Cormorant Garamond', serif;
color: black;
       text-transform: uppercase;
    
}
.underline{
  text-decoration: underline;
}

strong{
  font-family:  'TheMixBold', sans-serif;
}
p{
  font-family: 'Cormorant Garamond', serif;
}
a{
    color:inherit;
    text-decoration: inherit;
}