.web--img{
        height: 50vh;
    width: 100vw;
background-size: cover !important;
background-position: center !important;
}

.web--description{
    height: 50vh;
    width: 100vw;
}

.web--description--inner{
    padding: 50px;
    display: flex;
    h1{
          flex-basis: 30%;
              display: flex;
                  font-size: 32px;
    flex-direction: column;

    span{
        margin-bottom: 20px;
        opacity: 1;
    }
    }
  
}

.web--description__paragrah{
    display: flex;
      flex-basis: 70%;
      p{
          color: white;
          padding: 0 30px;
      }
}

.web-ct-layer{
    height: 50vh;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100vw;
        background-color: #6AA8FF;
        z-index: 999999;
}

.svg-divider{


        width: 25px;

    height: 100%;
    position: absolute;
    z-index: 9999999999;
    top: 0;
    left: 11px;
    transform: rotate(180deg);
    &.svg-divider__web{
              svg{
        height: 100%;
    }
    }
    &.svg-divider__contacts{
            left: auto;
    right: 0px;
    transform: none;
        svg{
        height: 100%;
    }
    }
    &.svg-divider__software{
         width: 100vw;
      height: 43px;
    -webkit-transform: none;
    transform: none;
    left: 0;
    top: -8px;
    svg{
          width:100%;
          min-width: 1024px;
    }
    }
    &.svg-divider__elettronica{
         width: 100vw;
      height: 43px;
    -webkit-transform: none;
    transform: none;
    left: 0;
     bottom: -8px;
    top: auto;
    transform: rotate(180deg);
    svg{
      width:100%;
      min-width: 1024px;
    }
    }
}

.span-divider{
    position: relative;
    span{
         margin-bottom: 0;  
    &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 38%;
            height: 6px;
            background: #FCFF4B;
            transition: .3s ease;
            width: 0;
        }
    }
  
    &.lines{
        span{
             display: inline-block;
             overflow: hidden;
            &:before{
                        width: 200px;
             }
        }
       
    }
    
}
.web-back{
    background: #6AA8FF;
}

.translate_right{
    transform: rotate(90deg);
    display: inline-block;
}
.translate_left{
    transform: rotate(-90deg);
    display: inline-block;
}


#elettronica {
	
	animation-duration: 0.8s;
	transform-origin:50% 50%;
    display: inline-block;
      animation:spaceboots 3s linear infinite;
    transition: .3s ease;
    &:hover{
           color:#FF5568;
    }

}

#web {
	
	animation-duration: 0.8s;
	transform-origin:50% 50%;
    display: inline-block;
      animation:spaceboots 3s linear infinite;
    animation-delay: 3s;
 transition: .3s ease;
    &:hover{
                 color:#FF5568;
    }
}

#software {
	
	animation-duration: 0.8s;
	transform-origin:50% 50%;
    display: inline-block;
    animation:spaceboots 3s linear infinite;
    animation-delay: 5s;
 transition: .3s ease;
    &:hover{
           color:#FF5568;
    }
}

#contatti {
	
	animation-duration: 0.8s;
	transform-origin:50% 50%;
    display: inline-block;
      animation:spaceboots 3s linear infinite;
    animation-delay: 6s;
 transition: .3s ease;
    &:hover{
           color:#FF5568;
    }
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: scale(1) }
	10% { -webkit-transform: scale(1.1) }
	20% { -webkit-transform: scale(1.2) }
	30% { -webkit-transform: scale(1.1) }
	40% { -webkit-transform: scale(1) }
    50% { -webkit-transform: scale(1.1) }
        55% { -webkit-transform: scale(1.1) }
	100% { -webkit-transform: scale(1) }
}
.shake:hover,
.shake:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}