.winelist {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  padding: 70px;
  box-sizing: border-box;
  z-index: 9999999999999;
  left: 125px;
  top: 125px;
  height: calc(100vh - 250px);
  width: calc(100vw - 250px);
  @media screen and (max-height: 900px) {
    width: calc(100vw - 125px);
    min-height: calc(100vh - 125px);
    left: 62.5px;
    top: 62.5px;
  }
   @media screen and (max-width: 767px) {
      width: calc(100vw - 50px);
    }
  @media screen and (max-width: 1400px) {
    width: calc(100vw - 125px);
    min-height: calc(100vh - 125px);
    left: 62.5px;
    top: 62.5px;
  }
   @media screen and (max-width: 767px) {
      width: calc(100vw - 50px);
      left:19.5px;
      
    }
    @media screen and (max-width: 768px) { 
      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 20px;
    }
}

.wineList__item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 33.33%;
  cursor: pointer;
  a {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
      @media screen and (max-width: 1024px) {
       width: 60%;
  
  }
  }
   
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 1;
    transition: .4s ease;
    z-index: 9999999;
    @media screen and (max-width: 768px) { 
      height: 250px;
    }
  }
  &.isActive {
    img {
      opacity: 1;
    }
  }
}

.closeWine {
  transition: .3s ease;
  color: black;
  display: none;
}

.closeRounded {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: #8D8D8D;
  display: flex;
  align-content: center;
  align-items: center;
  align-items: center;
  border: 1px solid #8D8D8D;
  justify-content: center;
  display: none;
  cursor: pointer;
}

.closes {
  width: 15px;
  height: 15px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.25s cubic-bezier(0.62, 0.02, 0.34, 1);
  -moz-transition: 0.25s cubic-bezier(0.62, 0.02, 0.34, 1);
  transition: 0.25s cubic-bezier(0.62, 0.02, 0.34, 1);
}

.closes span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.closes span::before,
.closes span::after {
  content: '';
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: #8D8D8D;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transition: 0.34s cubic-bezier(0.52, 0.01, 0.16, 1);
  -moz-transition: 0.34s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: 0.34s cubic-bezier(0.52, 0.01, 0.16, 1);
  -webkit-backface-visibility: hidden;
}

.closes span:nth-child(1)::before {
  -webkit-transform: rotate(45deg) translateX(0) scaleX(1);
  -moz-transform: rotate(45deg) translateX(0) scaleX(1);
  -ms-transform: rotate(45deg) translateX(0) scaleX(1);
  -o-transform: rotate(45deg) translateX(0) scaleX(1);
  transform: rotate(45deg) translateX(0) scaleX(1);
  -webkit-transition-delay: 0.12s;
  -moz-transition-delay: 0.12s;
  transition-delay: 0.12s;
}

.closes span:nth-child(1)::after {
  -webkit-transform: rotate(-45deg) translateX(0) scaleX(1);
  -moz-transform: rotate(-45deg) translateX(0) scaleX(1);
  -ms-transform: rotate(-45deg) translateX(0) scaleX(1);
  -o-transform: rotate(-45deg) translateX(0) scaleX(1);
  transform: rotate(-45deg) translateX(0) scaleX(1);
  -webkit-transition-delay: 0.22s;
  -moz-transition-delay: 0.22s;
  transition-delay: 0.22s;
}

.closes span:nth-child(2)::before {
  -webkit-transform: rotate(45deg) translateX(-70%) scaleX(0);
  -moz-transform: rotate(45deg) translateX(-70%) scaleX(0);
  -ms-transform: rotate(45deg) translateX(-70%) scaleX(0);
  -o-transform: rotate(45deg) translateX(-70%) scaleX(0);
  transform: rotate(45deg) translateX(-70%) scaleX(0);
}

.closes span:nth-child(2)::after {
  -webkit-transform: rotate(-45deg) translateX(-70%) scaleX(0);
  -moz-transform: rotate(-45deg) translateX(-70%) scaleX(0);
  -ms-transform: rotate(-45deg) translateX(-70%) scaleX(0);
  -o-transform: rotate(-45deg) translateX(-70%) scaleX(0);
  transform: rotate(-45deg) translateX(-70%) scaleX(0);
}

.closeRounded:hover span:nth-child(1)::before,
.closeRounded:hover span:nth-child(1)::after {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

.closeRounded:hover span:nth-child(1)::before {
  -webkit-transform: rotate(45deg) translateX(70%) scaleX(0);
  -moz-transform: rotate(45deg) translateX(70%) scaleX(0);
  -ms-transform: rotate(45deg) translateX(70%) scaleX(0);
  -o-transform: rotate(45deg) translateX(70%) scaleX(0);
  transform: rotate(45deg) translateX(70%) scaleX(0);
}

.closeRounded:hover span:nth-child(1)::after {
  -webkit-transform: rotate(-45deg) translateX(70%) scaleX(0);
  -moz-transform: rotate(-45deg) translateX(70%) scaleX(0);
  -ms-transform: rotate(-45deg) translateX(70%) scaleX(0);
  -o-transform: rotate(-45deg) translateX(70%) scaleX(0);
  transform: rotate(-45deg) translateX(70%) scaleX(0);
}

.closeRounded:hover span:nth-child(2)::before {
  -webkit-transform: rotate(45deg) translateX(0) scaleX(1);
  -moz-transform: rotate(45deg) translateX(0) scaleX(1);
  -ms-transform: rotate(45deg) translateX(0) scaleX(1);
  -o-transform: rotate(45deg) translateX(0) scaleX(1);
  transform: rotate(45deg) translateX(0) scaleX(1);
  -webkit-transition-delay: 0.22s;
  -moz-transition-delay: 0.22s;
  transition-delay: 0.22s;
}

.closeRounded:hover span:nth-child(2)::after {
  -webkit-transform: rotate(-45deg) translateX(0) scaleX(1);
  -moz-transform: rotate(-45deg) translateX(0) scaleX(1);
  -ms-transform: rotate(-45deg) translateX(0) scaleX(1);
  -o-transform: rotate(-45deg) translateX(0) scaleX(1);
  transform: rotate(-45deg) translateX(0) scaleX(1);
  -webkit-transition-delay: 0.32s;
  -moz-transition-delay: 0.32s;
  transition-delay: 0.32s;
}

.container_wine {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  width: calc(100vw - 250px);
  display: none;
  margin-left: auto;
  margin-right: auto;
  left: 125px;
  text-align: center;
  margin: 0;
  bottom: 0;
  padding: 0 70px;
  @media screen and (max-height: 900px) {
    width: calc(100vw - 125px);
    left: 62.5px;
  }
  @media screen and (max-width: 1400px) {
    width: calc(100vw - 125px);
    left: 62.5px;
  }
   @media screen and (max-width: 767px) {
      width: calc(100vw - 50px);
    }
     @media screen and (max-width: 767px) {
      width: calc(100vw - 50px);
    }
  .wineBtm__text {
    width: 33.33%;
    padding-bottom: 30px;
    overflow: hidden;
    @media screen and (max-height: 900px) {
      padding-bottom: 15px;
    }
    @media screen and (max-width: 1400px) {
      padding-bottom: 15px;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 10px;
      background: #7A0412;
      transition: .4s ease;
      transform: translateY(100%)
    }
    h5 {
      font-size: 21px;
      color: black;
      opacity: .3;
      transition: .5s ease;
    }
    p {
      color: black;
      transition: .5s ease;
      opacity: .3;
    }
    &.isActive {
      &:before {
        transform: translateY(0)
      }
      h5 {
        opacity: 1;
      }
      p {
        opacity: 1;
      }
    }
  }
}

.loading {
  margin-top: 20px;
}

.water-fill {
  -webkit-animation: wave 0.7s infinite linear, fill-up 10s infinite ease-out alternate;
  animation: wave 0.7s infinite linear, fill-up 10s infinite ease-out alternate;
}

@-webkit-keyframes wave {
  0% {
    x: -400px;
  }
  100% {
    x: 0;
  }
}

@keyframes wave {
  0% {
    x: -400px;
  }
  100% {
    x: 0;
  }
}

@-webkit-keyframes fill-up {
  0% {
    height: 0;
    y: 130px;
  }
  100% {
    height: 160px;
    y: -30px;
  }
}

@keyframes fill-up {
  0% {
    height: 0;
    y: 130px;
  }
  100% {
    height: 160px;
    y: -30px;
  }
}

#text {
  font-size: 89px;
  font-weight: bold;
}

.nextWine {
  .water-fill__text {
    opacity: 0;
    &.water-fill__text__trigger {
      opacity: 1;
      -webkit-animation: wave__text 0.7s infinite linear, fill-up__text 3s infinite ease-out alternate;
      animation: wave__text 0.7s infinite linear, fill-up__text 3s infinite ease-out alternate;
    }
  }
}

@-webkit-keyframes wave__text {
  0% {
    x: -400px;
  }
  100% {
    x: 0;
  }
}

@keyframes wave {
  0% {
    x: -400px;
  }
  100% {
    x: 0;
  }
}

@-webkit-keyframes fill-up__text {
  0% {
    height: 0;
    y: 130px;
  }
  100% {
    height: 160px;
    y: -30px;
  }
}

@keyframes fill-up__text {
  0% {
    height: 0;
    y: 130px;
  }
  100% {
    height: 160px;
    y: -30px;
  }
}
